table {
    width: 100%;
    text-align: center;
}

th.mat-header-cell {
    text-align: center;
}

::ng-deep .mat-sort-header-container {
    display:flex;
    justify-content:center;
  }

  .example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    text-align: center;
    flex: 1 1 auto;
    padding-right: 18vw;

  }