<mat-toolbar>
  <span>
      <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
  </span>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space">
      Active Projects
  </span>
  
</mat-toolbar>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="setLine">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Prod. Line </th>
      <td mat-cell *matCellDef="let row"> <app-project-line [project]="row"></app-project-line> </td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.active">       
      <mat-slide-toggle
        (change)="onToggle(row, $event)"
        class="example-margin"
        [checked]="row.active">
      </mat-slide-toggle>
    </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

