<span *ngIf='loaded'>
  <mat-label>{{displayName}}
    <button 
      (click)="openDialog()"
      matTooltip="Add new {{displayName}}" 
      mat-icon-button class="mat-icon-button" 
      aria-label="add">
      <mat-icon>add</mat-icon>
    </button>
  </mat-label>
  <mat-select>
    <mat-option *ngFor="let item of items">
      {{item.name}}
    </mat-option>
  </mat-select>
</span>