<span *ngIf="this.ready">
    <mat-checkbox *ngIf="this.additionalData" [checked]="this.additionalData.status" (click)="changeAdditional($event, this.additionalDataHolder.status = !this.additionalData.status)"> \ {{this.additionalData.user}}</mat-checkbox>
    <mat-checkbox *ngIf="!this.additionalData" [checked]="this.additionalDataHolder.status" (click)="changeAdditional($event, this.additionalDataHolder.status = !this.additionalDataHolder.status)"></mat-checkbox>
</span>