<div [formGroup]="ctr" >
    <mat-form-field appearance="outline" class="example-full-width" *ngIf="required">
      <mat-label>{{name}}</mat-label>
      <mat-select formControlName="{{variant}}" required [compareWith]="compareObjects">
        <mat-option *ngFor="let user of (users | usersForRoles : variant)" [value]="user">
            {{user.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="ctr.hasError('required')">Please choose an {{name}}</mat-error>
    </mat-form-field>
  </div>
  <div [formGroup]="ctr" >
    <mat-form-field appearance="outline" class="example-full-width" *ngIf="!required">
      <mat-label>{{name}}</mat-label>
      <mat-select formControlName="{{variant}}" [compareWith]="compareObjects" >
        <mat-option *ngFor="let user of (users | usersForRoles : variant)" [value]="user">
            {{user.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="ctr.hasError('required')">Please choose an {{name}}</mat-error>
    </mat-form-field>
  </div>