<div mat-dialog-title align="center">
  <p>Are you sure you want to delete?</p>
</div>
<div mat-dialog-content>
  <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <div [fxFlex]="25">
      <mat-card fxFlexFill fxLayoutAlign="center center">
        {{this.code[0]}}
      </mat-card>
    </div>
    <div [fxFlex]="25">
      <mat-card fxFlexFill fxLayoutAlign="center center">
        {{this.code[1]}}
      </mat-card>
    </div>
    <div [fxFlex]="25">
      <mat-card fxFlexFill fxLayoutAlign="center center">
        {{this.code[2]}}
      </mat-card>
    </div>
    <div [fxFlex]="25">
      <mat-card fxFlexFill fxLayoutAlign="center center">
        {{this.code[3]}}
      </mat-card>
    </div>
  </div>
  <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column">
    <div fxFlex>
        <mat-card fxFlexFill fxLayoutAlign="center center">
          <p>If so enter code above and click save</p>
        </mat-card>
    </div>
  </div>
  <div style="text-align: center;" class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <div [fxFlex]="25">
      <mat-card fxFlexFill fxLayoutAlign="center center">
        <input matInput type='number' [(ngModel)]='this.userCode[0]'>
      </mat-card>
    </div>
    <div [fxFlex]="25">
      <mat-card fxFlexFill fxLayoutAlign="center center">
        <input matInput type='number' [(ngModel)]='this.userCode[1]'>
      </mat-card>
    </div>
    <div [fxFlex]="25">
      <mat-card fxFlexFill fxLayoutAlign="center center">
        <input matInput type='number' [(ngModel)]='this.userCode[2]'>
      </mat-card>     
    </div>
    <div [fxFlex]="25">
      <mat-card fxFlexFill fxLayoutAlign="center center">
        <input matInput type='number' [(ngModel)]='this.userCode[3]'>
      </mat-card>
    </div>
  </div>
  <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <div [fxFlex]="25">
      <mat-card fxFlexFill fxLayoutAlign="center center">
        <div *ngIf="this.code[0] === this.userCode[0]; else elseBlock">
          <mat-icon style="color: green;">check</mat-icon>
        </div>
        <ng-template #elseBlock>
          <mat-icon style="color: red;">close</mat-icon>
        </ng-template>
      </mat-card>
    </div>
    <div [fxFlex]="25">
      <mat-card fxFlexFill fxLayoutAlign="center center">
        <div *ngIf="this.code[1] === this.userCode[1]; else elseBlock">
          <mat-icon style="color: green;">check</mat-icon>
        </div>
        <ng-template #elseBlock>
          <mat-icon style="color: red;">close</mat-icon>
        </ng-template>
      </mat-card>
    </div>
    <div [fxFlex]="25">
      <mat-card fxFlexFill fxLayoutAlign="center center">
        <div *ngIf="this.code[2] === this.userCode[2]; else elseBlock">
          <mat-icon style="color: green;">check</mat-icon>
        </div>
        <ng-template #elseBlock>
          <mat-icon style="color: red;">close</mat-icon>
        </ng-template>
      </mat-card>     
    </div>
    <div [fxFlex]="25">
      <mat-card fxFlexFill fxLayoutAlign="center center">
        <div *ngIf="this.code[3] === this.userCode[3]; else elseBlock">
          <mat-icon style="color: green;">check</mat-icon>
        </div>
        <ng-template #elseBlock>
          <mat-icon style="color: red;">close</mat-icon>
        </ng-template>
      </mat-card>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column">
    <div fxFlex>
      <button mat-button (click)='onNoClick()'>No</button>
      <button mat-button [disabled]="isDisabled()" (click)='delete()'>Yes</button>
    </div>
  </div>
</div>
