<h3 mat-dialog-title>Delete Booking</h3>
<mat-dialog-content>
  <p>Are you sure you want to delete this booking?</p>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No</button>
  <button mat-button (click)="delete()">Yes</button>
</div>