<!-- loader -->
<div *ngIf="!loaded" class="loader-container" >
  <div class="spinner"> 
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>

<div fxLayout="column"  class="components-container-gt-xs"  [ngClass.xs]="'components-container-xs'"  fxLayoutGap="20px">
    <div fxFlex class="table-component-holder mat-elevation-z4">
      <mat-toolbar class="table-header">
        <span style="height:100%;">        
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" value="{{filterValue}}" placeholder="Filter">
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Phase Filter" [formControl]="phases" multiple [(ngModel)]="selected" (selectionChange)="togglePhase($event)">
              <mat-option *ngFor="let phase of phaseList" [value]="phase">{{phase}}</mat-option>
            </mat-select>
          </mat-form-field>
        </span>

        <!-- This fills the remaining space of the current row -->
        <span class="example-fill-remaining-space"></span>

        <span>
          <app-area-popup matTooltip="Add New Area" [area]="" [project]="project" [type]="'add'"></app-area-popup>
          <app-revit-options *ngIf="loaded" [areasGrouped]="areasGrouped" [project]="project"></app-revit-options>
          <button mat-icon-button matTooltip="Print Delivery Schedule - ngx-print" [useExistingCss]="true"  printSectionId="print-section" ngxPrint>
            <mat-icon>print</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Calculate Estimates" (click)="calEstimates()">
            <mat-icon>calculate</mat-icon>
          </button>
          <button mat-icon-button disabled="{{!togglePublishButton}}" matTooltip="Publish Revision" (click)="publishRevision()">
            <mat-icon>gavel</mat-icon>
          </button>
          <button mat-icon-button disabled="{{!togglePublishButton}}" matTooltip="Delivery dates back to latest revision" (click)="resetDeliveryChanges()">
            <mat-icon>undo</mat-icon>
          </button>
        </span>
  
      </mat-toolbar>
      
      <mat-card *ngIf="loaded" class="horizontalScroll">
      <mat-toolbar class="printId">{{project.id + ' - ' + project.name}}</mat-toolbar>
      <table class="new-data-table">
        <thead>
          <tr>
            <th>    
            <mat-icon [style.display]="sorterData[sortType].accending ? '' : 'none'">
              arrow_downward
            </mat-icon>
            <mat-icon [style.display]="!sorterData[sortType].accending ? '' : 'none'">
              arrow_upward
            </mat-icon>
            {{sorterData[sortType].name}}
            </th>
            <th></th>
            <th matTooltip="Click 'Phase' to sort" (click)="changeSort('phase')" layout-align="center center">Phase</th>
            <th matTooltip="Click 'Component Week' to sort" (click)="changeSort('componentWeek')" layout-align="center center">Week Commencing</th>
            <th matTooltip="Click 'Floor' to sort" (click)="changeSort('floor')" layout-align="center center">Floor</th>
            <th matTooltip="Click 'Component' to sort" (click)="changeSort('componentName')" layout-align="center center">Component</th>
            <th matTooltip="Click 'Supplier' to sort" (click)="changeSort('supplier')" layout-align="center center">Supplier</th>
            <th matTooltip="Click 'Offload' to sort" (click)="changeSort('offload')" layout-align="center center">Offload</th>
            <th matTooltip="Click 'Latest Revision' to sort" (click)="changeSort('latestRevision')" layout-align="center center">Latest Revision</th>
            <th matTooltip="Click 'Requested Date' to sort" (click)="changeSort('deliveryDate')" layout-align="center center">Request Date</th>
            <th layout-align="center center">Expected</th>
            <th layout-align="center center">Jobsheets</th>
            <th layout-align="center center">Notes</th>
            <th layout-align="center center" (click)="toggleChecks('delivered')">Delivered</th>
            <th matTooltip="Click to hide/show" layout-align="center center" (click)="toggleChecks('active')">    
              <mat-icon [style.display]="toggleData['active'] ? '' : 'none'">
                visibility_off
              </mat-icon>
              <mat-icon [style.display]="!toggleData['active'] ? '' : 'none'">
                visibility
              </mat-icon>
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let component of dataSource.data; let first = first; let i = index;">
            <tr>
              <td *ngIf="sortType === 'componentWeek' || sortType === 'deliveryDate' || sortType === 'latestRevision'"
                [attr.rowspan]="spans[sortType][component[sortType]].count"
                [style.display]="spans[sortType][component[sortType]].onRow === i ? '' : 'none'">
                {{component[sortType] | date: "dd/M/yyyy"}}
              </td>
              <td *ngIf="sortType !== 'componentWeek' && sortType !== 'deliveryDate' && sortType !== 'latestRevision'"
                [attr.rowspan]="spans[sortType][component[sortType]].count"
                [style.display]="spans[sortType][component[sortType]].onRow === i ? '' : 'none'">
                {{component[sortType]}}
              </td>
              <td
                [ngClass]="component.supplier+' Strip'"
                [style.display]="!expandedComponent[component.componentName] ? '' : 'none'"
                (click)="expandClick(component, true)">
                <button mat-button class="mat-icon-button" aria-label="more">
                    <mat-icon>expand_more</mat-icon>
                </button>
              </td>
              <td
                [ngClass]="component.supplier+' Strip'"
                [style.display]="expandedComponent[component.componentName] ? '' : 'none'"
                (click)="expandClick(component, false)">
                <button mat-button class="mat-icon-button" aria-label="less">
                    <mat-icon>expand_less</mat-icon>
                </button>
              </td>
              <td [ngClass]="component.supplier+' Strip'" layout-align="center center">{{component.phase}}</td>
              <td [ngClass]="component.supplier+' Strip'" layout-align="center center">{{component.componentWeek | date: "dd/M/yyyy"}}</td>
              <td [ngClass]="component.supplier+' Strip'" layout-align="center center">{{component.floor}}</td>
              <td [ngClass]="component.supplier+' Strip'" layout-align="center center">{{component.componentName | numbersFromString}}</td>
              <td [ngClass]="component.supplier+' Strip'" layout-align="center center">{{component.supplier}}</td>
              <td [ngClass]="component.supplier+' Strip'" layout-align="center center">{{component.offload}}</td>
              <td [ngClass]="component.supplier+' Strip'" [style.display]="component.same  ? '' : 'none'"><mat-card [ngClass]="'latestSame'">{{component.latestRevision | unpublishedRevision}}</mat-card></td>
              <td [ngClass]="component.supplier+' Strip'" [style.display]="!component.same  ? '' : 'none'"><mat-card [ngClass]="'latestNotSame'">{{component.latestRevision | unpublishedRevision}}</mat-card></td>
              <td [ngClass]="component.supplier+' Strip'" layout-align="center center"><app-delivery-datepicker (triggerParentSubscription)="triggerParentSubscription($event)" [deliveryDate]="component.deliveryDate" [component]="component" [selected]="selected"  [area]=""></app-delivery-datepicker></td>
              <td [ngClass]="component.supplier+' Strip'" layout-align="center center"><app-expected-date-component [areasHolder]="component.areas" [deliveryDate]="component.deliveryDate"></app-expected-date-component></td>
              <td [ngClass]="component.supplier+' Strip'" layout-align="center center"></td>
              <td [ngClass]="component.supplier+' Strip'" layout-align="center center"><app-notes-popup [component]="component"></app-notes-popup></td>
              <td [ngClass]="component.supplier+' Strip'"><mat-checkbox disabled="true" class="isDelivered" [(ngModel)]="component.delivered" aria-label="isDelivered"></mat-checkbox></td>
              <td [ngClass]="component.supplier+' Strip'"><mat-checkbox class="isShowHide"  (click)="changeShowHideForComponent(component)" [(ngModel)]="component.active" aria-label="isShowHide"></mat-checkbox></td>
            </tr>

            <tr [style.display]="expandedComponent[component.componentName] ? '' : 'none'" *ngFor="let area of component.areas">
            <td [style.width.%]="10">
              <app-area-popup [area]="area" [project]="component.project" [type]="'delete'"></app-area-popup>
            </td>
            <td [style.width.%]="10">
              <app-area-popup [area]="area" [project]="component.project" [type]="'edit'"></app-area-popup>
            </td>
            <td [style.width.%]="10">{{component.componentWeek | date: "dd/M/yyyy"}}</td>
            <td [style.width.%]="10"><a [routerLinkActive]="'active'" [routerLink]="['/design-dashboard', getHandoverDate(component.areasDeliveryDate[area.$key])]">{{area.phase}}-{{area.floor}}-{{area.type}}</a></td>
            <td [style.width.%]="10"><span [ngClass]="{'redStamp': calculatePercentage(area.completedPanels, area.actualPanels) < 100, 'greenStamp' : calculatePercentage(area.completedPanels, area.actualPanels) >= 100 }">{{calculatePercentage(area.completedPanels, area.actualPanels)}}%</span></td>
            <td [style.width.%]="10"><app-handover-confirmed [area]="area"></app-handover-confirmed></td>
            <td [style.width.%]="10">{{area.offloadMethod}}</td>
            <td [style.width.%]="10"><mat-card [ngClass]="component.isSame[area.$key] ? 'latestSame' : 'latestNotSame'">{{component.areasLatestRevision[area.$key] | unpublishedRevision}}</mat-card></td>
            <td [style.width.%]="10"><app-delivery-datepicker (triggerParentSubscription)="triggerParentSubscription($event)" [deliveryDate]="component.areasDeliveryDate[area.$key]" [component]="component" [selected]="selected" [area]="area"></app-delivery-datepicker></td>
            <td [style.width.%]="10"><app-expected-date [areaId]="area.$key" [deliveryDate]="component.areasDeliveryDate[area.$key]"></app-expected-date></td>
            <td [style.width.%]="10"><app-jobsheets [areaKey]="area.$key"></app-jobsheets></td>
            <td [style.width.%]="10">
              <app-notes-popup-area [area]="area"></app-notes-popup-area>
            </td>
            <td [style.width.%]="10">
              <mat-checkbox disabled="true" class="isDelivered" [(ngModel)]="component.areasDelivered[area.$key]" aria-label="isDelivered"></mat-checkbox>
            </td>
            <td [style.width.%]="10">
              <mat-checkbox class="isShowHide" (click)="changeActive(area)" [(ngModel)]="component.areasActive[area.$key]" aria-label="isShowHide"></mat-checkbox>
            </td> 
            </tr>
          </ng-container>
        </tbody>
      </table>
    </mat-card>
    <mat-card *ngIf="loaded" id="print-section" class="horizontalScroll beHidden">
      <mat-toolbar class="printId">{{project.id + ' - ' + project.name}}</mat-toolbar>
      <table class="new-data-table">
        <thead>
          <tr>
            <th>    
            <mat-icon [style.display]="sorterData[sortType].accending ? '' : 'none'">
              arrow_downward
            </mat-icon>
            <mat-icon [style.display]="!sorterData[sortType].accending ? '' : 'none'">
              arrow_upward
            </mat-icon>
            {{sorterData[sortType].name}}
            </th>
            <th></th>
            <th matTooltip="Click 'Phase' to sort" (click)="changeSort('phase')" layout-align="center center">Phase</th>
            <th matTooltip="Click 'Component Week' to sort" (click)="changeSort('componentWeek')" layout-align="center center">Week Commencing</th>
            <th matTooltip="Click 'Floor' to sort" (click)="changeSort('floor')" layout-align="center center">Floor</th>
            <th matTooltip="Click 'Component' to sort" (click)="changeSort('componentName')" layout-align="center center">Component</th>
            <th matTooltip="Click 'Supplier' to sort" (click)="changeSort('supplier')" layout-align="center center">Supplier</th>
            <th matTooltip="Click 'Offload' to sort" (click)="changeSort('offload')" layout-align="center center">Offload</th>
            <th matTooltip="Click 'Latest Revision' to sort" (click)="changeSort('latestRevision')" layout-align="center center">Latest Revision</th>
            <th matTooltip="Click 'Requested Date' to sort" (click)="changeSort('deliveryDate')" layout-align="center center">Request Date</th>
            <th layout-align="center center">Expected</th>
            <th layout-align="center center">Jobsheets</th>
            <th layout-align="center center">Notes</th>
            <th layout-align="center center" (click)="toggleChecks('delivered')">Delivered</th>
            <th matTooltip="Click to hide/show" layout-align="center center" (click)="toggleChecks('active')">    
              <mat-icon [style.display]="toggleData['active'] ? '' : 'none'">
                visibility_off
              </mat-icon>
              <mat-icon [style.display]="!toggleData['active'] ? '' : 'none'">
                visibility
              </mat-icon>
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let component of dataSource.data; let first = first; let i = index;">
            <tr>
              <td *ngIf="sortType === 'componentWeek' || sortType === 'deliveryDate' || sortType === 'latestRevision'"
                [attr.rowspan]="spans[sortType][component[sortType]].count"
                [style.display]="spans[sortType][component[sortType]].onRow === i ? '' : 'none'">
                {{component[sortType] | date: "dd/M/yyyy"}}
              </td>
              <td *ngIf="sortType !== 'componentWeek' && sortType !== 'deliveryDate' && sortType !== 'latestRevision'"
                [attr.rowspan]="spans[sortType][component[sortType]].count"
                [style.display]="spans[sortType][component[sortType]].onRow === i ? '' : 'none'">
                {{component[sortType]}}
              </td>
              <td
                [ngClass]="component.supplier+' Strip'"
                [style.display]="!expandedComponent[component.componentName] ? '' : 'none'"
                (click)="expandClick(component, true)">
                <button mat-button class="mat-icon-button" aria-label="more">
                    <mat-icon>expand_more</mat-icon>
                </button>
              </td>
              <td
                [ngClass]="component.supplier+' Strip'"
                [style.display]="expandedComponent[component.componentName] ? '' : 'none'"
                (click)="expandClick(component, false)">
                <button mat-button class="mat-icon-button" aria-label="less">
                    <mat-icon>expand_less</mat-icon>
                </button>
              </td>
              <td [ngClass]="component.supplier+' Strip'" layout-align="center center">{{component.phase}}</td>
              <td [ngClass]="component.supplier+' Strip'" layout-align="center center">{{component.componentWeek | date: "dd/M/yyyy"}}</td>
              <td [ngClass]="component.supplier+' Strip'" layout-align="center center">{{component.floor}}</td>
              <td [ngClass]="component.supplier+' Strip'" layout-align="center center">{{component.componentName | numbersFromString}}</td>
              <td [ngClass]="component.supplier+' Strip'" layout-align="center center">{{component.supplier}}</td>
              <td [ngClass]="component.supplier+' Strip'" layout-align="center center">{{component.offload}}</td>
              <td [ngClass]="component.supplier+' Strip'" [style.display]="component.same  ? '' : 'none'"><mat-card [ngClass]="'latestSame'">{{component.latestRevision | unpublishedRevision}}</mat-card></td>
              <td [ngClass]="component.supplier+' Strip'" [style.display]="!component.same  ? '' : 'none'"><mat-card [ngClass]="'latestNotSame'">{{component.latestRevision | unpublishedRevision}}</mat-card></td>
              <td [ngClass]="component.supplier+' Strip'" layout-align="center center"><app-delivery-datepicker (triggerParentSubscription)="triggerParentSubscription($event)" [deliveryDate]="component.deliveryDate" [component]="component" [selected]="selected" [area]=""></app-delivery-datepicker></td>
              <td [ngClass]="component.supplier+' Strip'" layout-align="center center"></td>
              <td [ngClass]="component.supplier+' Strip'" layout-align="center center"></td>
              <td [ngClass]="component.supplier+' Strip'" layout-align="center center"><app-notes-popup [component]="component"></app-notes-popup></td>
              <td [ngClass]="component.supplier+' Strip'"><mat-checkbox disabled="true" class="isDelivered" [(ngModel)]="component.delivered" aria-label="isDelivered"></mat-checkbox></td>
              <td [ngClass]="component.supplier+' Strip'"><mat-checkbox class="isShowHide"  (click)="changeShowHideForComponent(component)" [(ngModel)]="component.active" aria-label="isShowHide"></mat-checkbox></td>
            </tr>

            <tr [style.display]="expandedComponent[component.componentName] ? '' : 'none'" *ngFor="let area of component.areas">
            <td [style.width.%]="10">
              <app-area-popup [area]="area" [project]="component.project" [type]="'delete'"></app-area-popup>
            </td>
            <td [style.width.%]="10">
              <app-area-popup [area]="area" [project]="component.project" [type]="'edit'"></app-area-popup>
            </td>
            <td [style.width.%]="10">{{component.componentWeek | date: "dd/M/yyyy"}}</td>
            <td [style.width.%]="10"><a [routerLinkActive]="'active'" [routerLink]="['/design-dashboard', getHandoverDate(component.areasDeliveryDate[area.$key])]">{{area.phase}}-{{area.floor}}-{{area.type}}</a></td>
            <td [style.width.%]="10"></td>
            <td [style.width.%]="10"></td>
            <td [style.width.%]="10">{{area.offloadMethod}}</td>
            <td [style.width.%]="10"><mat-card [ngClass]="component.isSame[area.$key] ? 'latestSame' : 'latestNotSame'">{{component.areasLatestRevision[area.$key] | unpublishedRevision}}</mat-card></td>
            <td [style.width.%]="10"><app-delivery-datepicker (triggerParentSubscription)="triggerParentSubscription($event)" [deliveryDate]="component.areasDeliveryDate[area.$key]" [component]="component" [selected]="selected" [area]="area"></app-delivery-datepicker></td>
            <td [style.width.%]="10"></td>
            <td [style.width.%]="10"><app-jobsheets [areaKey]="area.$key"></app-jobsheets></td>
            <td [style.width.%]="10">
              <app-notes-popup-area [area]="area"></app-notes-popup-area>
            </td>
            <td [style.width.%]="10">
              <mat-checkbox disabled="true" class="isDelivered" [(ngModel)]="component.areasDelivered[area.$key]" aria-label="isDelivered"></mat-checkbox>
            </td>
            <td [style.width.%]="10">
              <mat-checkbox class="isShowHide" (click)="changeActive(area)" [(ngModel)]="component.areasActive[area.$key]" aria-label="isShowHide"></mat-checkbox>
            </td> 
            </tr>
          </ng-container>
        </tbody>
      </table>
    </mat-card>
  </div>
</div>
  
<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->