.nav-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
  text-align: center;
}

.printId{
  display:none;
}

.horizontalScroll{
  overflow: auto;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

isSorter :hover{
 cursor: pointer;
}

.expandedRowSpan{
  border-bottom: 1px solid rgba(0,0,0,.12);
}

mat-grid-tile {
  background: lightblue;
}

.redStamp {
  background-color: red;
  border-radius: 50%;
  padding: 15%;
  color: #fff;
}

.greenStamp {
  background-color: green;
  border-radius: 50%;
  padding: 15%;
  color: #fff;
}

th.mat-header-cell {
  text-align: center;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.Benlowe.Strip{
  background: rgba(255, 0, 0, 0.5);
}

.CDMS.Strip{
  background: rgba(128, 128, 128, 0.5);
}

.Construction.Timber.Strip{
  background: rgba(255, 165, 0, 0.5);
}

.Cooks.Fabrication.Strip{
  background: rgba(165, 42, 42, 0.5);
}

.Delphini.Strip{
  background: rgba(0, 0, 255, 0.5);
}

.James.Jones.Strip{
  background: rgba(0, 128, 0, 0.5);
}

.Longley.Concrete.Strip{
  background: rgba(127, 197, 221, 0.5);
}

.Creagh.Strip{
  background: rgba(40, 192, 243, 0.5);
}

.F.P.McCann.Strip{
  background: rgba(57, 93, 105, 0.5);
}

.Milbank.Strip{
  background: rgba(24, 53, 63, 0.5);
}

.Martell.Timber.Engineering.Strip{
  background: rgba(255, 80, 80, 0.5);
}

.North.Yorkshire.Timber.Strip{
  background: rgba(255, 255, 102, 0.5);
}

.Pasquills.Strip{
  background: rgba(255, 255, 0, 0.5);
}

.Stair.Box.Strip{
  background: rgba(144, 238, 144, 0.5);
}

.Timber.Innovations.Strip{
  background: rgba(255, 0, 255, 0.5);
}

.Wyckham.Blackwell.Strip{
  background: rgba(128, 0, 128, 0.5);
}

.Oranmore.Strip{
  background: rgba(255, 204, 102, 0.5);
}

.latestNotSame{
  background-color: red;
  color: white;
  padding: 2%;
}

.latestSame{
  background-color: green;
  color: white;
  padding: 2%;
}

.new-data-table {  
  position: relative;
  text-align: center;
  width: 100%;
  /*border: 1px solid rgba(0,0,0,.12);*/
  border-collapse: collapse;
  white-space: nowrap;
  font-size: 13px;
  background-color: #fff;
}

  .new-data-table th {
      position: relative;
      vertical-align: middle;
      text-overflow: ellipsis;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0;
      height: 48px;
      font-size: 12px;
      color: rgba(0,0,0,.54);
      padding-bottom: 8px;
      box-sizing: border-box;
  }

  .new-data-table th {
      padding: 0 18px 12px 18px;
      text-align: center;
  }

  .new-data-table td {
      position: relative;
      border-top: 1px solid rgba(0,0,0,0.5);
      border-bottom: 1px solid rgba(0,0,0,0.5);
      box-sizing: border-box;
  }

  .new-data-table td {
      vertical-align: middle;
      text-align: center;
  }

  .new-data-table td:first-of-type,
  .new-data-table th:first-of-type {
      padding-left: 24px;
  }

  .new-data-table td:last-of-type,
  .new-data-table th:last-of-type {
      padding-right: 24px;
  }

  .main-card{
    width: 100%;
  }

  .beHidden{
    display: none;
  }
