<div *ngIf="!loaded" class="loader-container" >
    <div class="spinner"> 
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>

<div *ngIf="loaded" fxLayout="column"  class="components-container-gt-xs"  [ngClass.xs]="'components-container-xs'"  fxLayoutGap="20px">

	<div fxFlex class="table-component-holder mat-elevation-z4">
        <mat-toolbar>
            <span>
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
            </span>
            <!-- This fills the remaining space of the current row -->
            <span class="example-fill-remaining-space">
                {{areaStats.label}}
            </span>

            <span>            
                <button matTooltip="Complete selected panels"
                    mat-button class="mat-icon-button"
                    aria-label="complete-panel"
                    [disabled]="disableButtons"
                    (click)="openLineDialog()">
                    <mat-icon>check_circle</mat-icon>
                </button>
            </span>

            <span>            
                <button matTooltip="Delete selected panels"
                    mat-button class="mat-icon-button"
                    aria-label="delete-panel"
                    [disabled]="disableButtons"
                    (click)="deleteSetected()">
                    <mat-icon>delete</mat-icon>
                </button>
            </span>
        </mat-toolbar>
     
        <mat-card class="panelHolder">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [disabled]="panelsStats.numberOfPanels === panelsStats.completed"
                                [aria-label]="checkboxLabel()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [disabled]="row.complete"
                                [aria-label]="checkboxLabel(row)">
                  </mat-checkbox>
                </td>
              </ng-container>
            
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>
            
              <!-- ID Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="uploaded">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Uploaded </th>
                <td mat-cell *matCellDef="let element"> {{element.uploaded}} </td>
              </ng-container>
            
              <!-- Updated Column -->
              <ng-container matColumnDef="updated">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated </th>
                <td mat-cell *matCellDef="let element"> {{element.updated}} </td>
              </ng-container>

              <!-- Updated Column -->
              <ng-container matColumnDef="line">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Line </th>
                <td mat-cell *matCellDef="let element"> {{element.line}} </td>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                  <td mat-cell *matCellDef="let element">
                    <span *ngIf="!element.complete">{{element.status}}</span>
                    <span *ngIf="element.complete">
                      <button matTooltip="Uncomplete Panel"
                      mat-button class="mat-icon-button"
                      aria-label="uncomplete-panel"
                      [disabled]="disableButtons"
                      (click)="uncompletePanel(element)">
                        <mat-icon class="innviewColour">
                          check_circle
                        </mat-icon>
                      </button>
                      {{element.status}}
                    </span>
                  </td>
                </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>

          </mat-card>
          <mat-card>
            <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
              <div fxFlex>
                <mat-card fxFlexFill fxLayoutAlign="center center">
                  Duration Mins:<input matInput (change)="durationChange(duration)" type="number" [(ngModel)]="duration">
                  <app-date-picker (currentDateChange)="dateChange($event)"></app-date-picker>
                </mat-card>
              </div>
              <div fxFlex>
                <mat-card fxFlexFill fxLayoutAlign="center center">
                  <p>{{panelsStats.completed}} out of {{panelsStats.actualPanels}} are completed</p>
                  <mat-progress-bar mode="determinate" value="{{panelsStats.percentage}}"></mat-progress-bar>
                  <p>{{panelsStats.percentage}}%</p>
                </mat-card>
            </div>
            </div>
          </mat-card>

    </div>

  </div>
  
  
  <!-- Copyright 2019 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->