<div *ngIf="whichRoute === 'stock'">
  <mat-card fxFlexFill fxLayoutAlign="center center">
    <mat-toolbar>
      <span>Stock</span>
      <span class="example-spacer"></span>
      <button mat-icon-button (click)="setNav()" class="example-icon" aria-label="add stock">
        <mat-icon>add</mat-icon>
      </button>
      <app-file-uploader matTooltip="Upload Stock List" (uploadEvent)="uploadFile($event)"></app-file-uploader>
    </mat-toolbar>
  </mat-card>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  
  <div class="centerAlign mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let row"> {{row.no}} </td>
      </ng-container>
      
      <ng-container matColumnDef="stockName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock Name </th>
        <td mat-cell *matCellDef="let row"> <a mat-list-item (click)="setRoute('stock-details')" [routerLinkActive]="'active'" [routerLink]="['stock-details',row.$key]">{{row.stockName}}</a> </td>
      </ng-container>

      <ng-container matColumnDef="groupName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock Group </th>
        <td mat-cell *matCellDef="let row"> {{row.groupName}} </td>
      </ng-container>

      <ng-container matColumnDef="subCatName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock Sub Cat </th>
        <td mat-cell *matCellDef="let row"> {{row.subCatName}} </td>
      </ng-container>

      <ng-container matColumnDef="dtf">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let row"> {{row.dtf}} </td>
      </ng-container>
d
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let row"> {{row.status}} </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
        <td mat-cell *matCellDef="let row"><app-delete-supply-chain [stockItemKey]="row.$key" [type]="'stockItem'"></app-delete-supply-chain></td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  
</div>


<router-outlet></router-outlet>