<mat-toolbar>
  <span>
    Revit Area Estimates
  </span>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

</mat-toolbar>

<span *ngIf="!loaded">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</span>

<span *ngIf="loaded && isQuotes">
  <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <div [fxFlex]="50">

      <div class="projectDetails mat-elevation-z8" *ngIf="getObjectKeys(quoteHolder).length else elseBlock">

        <div class="title">
          <mat-grid-list cols="2" rowHeight="8:1">
            <mat-grid-tile><p class="boldText">Summary</p></mat-grid-tile>
            <mat-grid-tile><p class="boldText">Area &#13217;</p></mat-grid-tile>
          </mat-grid-list>
        </div>
        
        <div class="mainGrid grid-container">

          <ng-container *ngIf="quoteHolder['External'] !== undefined">
            <mat-grid-list cols="2" rowHeight="8:1">
              <mat-grid-tile [style.background]=""><p class="bold">{{quoteHolder["External"]["name"]}}</p></mat-grid-tile>
              <mat-grid-tile><p class="bold">{{round2(quoteHolder["External"]["gross"])}}</p></mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="2" rowHeight="8:1"  *ngFor="let dataKey of getObjectKeys(quoteHolder['External'].subType)">
              <mat-grid-tile>{{quoteHolder['External'].subType[dataKey]["name"]}}</mat-grid-tile>
              <mat-grid-tile>{{round2(quoteHolder['External'].subType[dataKey]["gross"])}}</mat-grid-tile>
            </mat-grid-list>
          </ng-container>

          <ng-container *ngIf="quoteHolder['Internal'] !== undefined">
            <mat-grid-list cols="2" rowHeight="8:1">
              <mat-grid-tile><p class="bold">{{quoteHolder["Internal"]["name"]}}</p></mat-grid-tile>
              <mat-grid-tile><p class="bold">{{round2(quoteHolder["Internal"]["gross"])}}</p></mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="2" rowHeight="8:1"  *ngFor="let dataKey of getObjectKeys(quoteHolder['Internal'].subType)">
              <mat-grid-tile>{{quoteHolder['Internal'].subType[dataKey]["name"]}}</mat-grid-tile>
              <mat-grid-tile>{{round2(quoteHolder['Internal'].subType[dataKey]["gross"])}}</mat-grid-tile>
            </mat-grid-list>
          </ng-container>

          <ng-container *ngIf="quoteHolder['Floor'] !== undefined">
            <mat-grid-list cols="2" rowHeight="8:1">
              <mat-grid-tile><p class="bold">{{quoteHolder["Floor"]["name"]}}</p></mat-grid-tile>
              <mat-grid-tile><p class="bold">{{round2(quoteHolder["Floor"]["gross"])}}</p></mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="2" rowHeight="8:1"  *ngFor="let dataKey of getObjectKeys(quoteHolder['Floor'].subType)">
              <mat-grid-tile>{{quoteHolder['Floor'].subType[dataKey]["name"]}}</mat-grid-tile>
              <mat-grid-tile>{{round2(quoteHolder['Floor'].subType[dataKey]["gross"])}}</mat-grid-tile>
            </mat-grid-list>
          </ng-container>

          <ng-container *ngIf="quoteHolder['Roof'] !== undefined">
            <mat-grid-list cols="2" rowHeight="8:1">
              <mat-grid-tile><p class="bold">{{quoteHolder["Roof"]["name"]}}</p></mat-grid-tile>
              <mat-grid-tile><p class="bold">{{round2(quoteHolder["Roof"]["gross"])}}</p></mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="2" rowHeight="8:1"  *ngFor="let dataKey of getObjectKeys(quoteHolder['Roof'].subType)">
              <mat-grid-tile>{{quoteHolder['Roof'].subType[dataKey]["name"]}}</mat-grid-tile>
              <mat-grid-tile>{{round2(quoteHolder['Roof'].subType[dataKey]["gross"])}}</mat-grid-tile>
            </mat-grid-list>
          </ng-container>

          <ng-container *ngIf="quoteHolder['IFAST'] !== undefined">
            <mat-grid-list cols="2" rowHeight="8:1">
              <mat-grid-tile><p class="bold">{{quoteHolder["IFAST"]["name"]}}</p></mat-grid-tile>
              <mat-grid-tile><p class="bold">{{round2(quoteHolder["IFAST"]["gross"])}}</p></mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="2" rowHeight="8:1"  *ngFor="let dataKey of getObjectKeys(quoteHolder['IFAST'].subType)">
              <mat-grid-tile>{{quoteHolder['IFAST'].subType[dataKey]["name"]}}</mat-grid-tile>
              <mat-grid-tile>{{round2(quoteHolder['IFAST'].subType[dataKey]["gross"])}}</mat-grid-tile>
            </mat-grid-list>
          </ng-container>
    
        </div>
      </div>

      <ng-template #elseBlock>
        <mat-card>
          No Results
        </mat-card>
      </ng-template>

    </div>
  </div>
  <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column">
    <div fxFlex>

      <span *ngIf="ready !== undefined && ready.result.errors.lengthk">
        <h1>{{ready.result.errors.length}} areas errors</h1>
        <p>{{this.text}}</p>
        <table class="fixed_header2">
          <tr>
            <th>Error:</th>
          </tr>
          <tr *ngFor="let error of ready.result.errors">
            <td>{{error}}</td>
          </tr>
        </table>
        <div>
          <button mat-button (click)="onNoClick()">Back</button>
        </div>
      </span>

      <span *ngIf="ready !== undefined && !ready.result.errors.length">
        <span *ngIf="statusData !== undefined && statusData.loading else elseBlock">
          <p>{{statusData.status}}</p>
          <mat-progress-bar mode="determinate" value="{{statusData.counter}}"></mat-progress-bar>
          <p>{{statusData.counter}}%</p>
        </span>
        <ng-template #elseBlock>

          <div class="table-container mat-elevation-z8">

            <table mat-table [dataSource]="dataSource">

              <!-- Position Column -->
              <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef><p class="boldText">Status</p></th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="Component">
                <th mat-header-cell *matHeaderCellDef><p class="boldText">Component</p></th>
                <td mat-cell *matCellDef="let element"> {{removeRevit(element.component)}} </td>
              </ng-container>
          
              <!-- Symbol Column -->
              <ng-container matColumnDef="Area">
                <th mat-header-cell *matHeaderCellDef><p class="boldText">Area</p></th>
                <td mat-cell *matCellDef="let element"> {{element.phase + "-" + element.floor + "-" + element.type}} </td>
              </ng-container>

              <ng-container matColumnDef="Existing Area">
                <th mat-header-cell *matHeaderCellDef><p class="boldText">Existing Area</p></th>
                <td mat-cell *matCellDef="let element"> {{round2(element.existing)}} </td>
              </ng-container>

              <ng-container matColumnDef="Updated Area">
                <th mat-header-cell *matHeaderCellDef><p class="boldText">Updated Area</p></th>
                <td mat-cell *matCellDef="let element"> {{round2(element.estimatedArea)}} </td>
              </ng-container>

              <ng-container matColumnDef="Difference">
                <th mat-header-cell *matHeaderCellDef><p class="boldText">Difference</p></th>
                <td mat-cell *matCellDef="let element"> {{round2(element.estimatedArea - element.existing)}} </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="titlesTable; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: titlesTable;"></tr>
            </table>

          </div>

        </ng-template>
        
      </span>

      <div class="buttonsHolder" align="end" *ngIf="statusData !== undefined">
        <button mat-raised-button [ngClass]="'buttonSpace'" [style.display]="statusData.loading ? '' : 'none'" (click)="onNoClick()">Close</button>
        <button mat-raised-button [ngClass]="'buttonSpace'" [style.display]="!statusData.loading ? '' : 'none'" (click)="onNoClick()">Close</button>
        <button mat-raised-button [style.display]="!statusData.loading ? '' : 'none'" (click)="updateEstimates()">Save</button>
      </div>

    </div>
  </div>
</span>

<span *ngIf="loaded && !isQuotes">
  <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column">
    <div fxFlex>
        <mat-card fxFlexFill fxLayoutAlign="center center">
            No quote match
        </mat-card>
    </div>
</div>
</span>