.mainGrid mat-grid-tile {
  border: 0.5px solid rgba(0,0,0,.12);
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-align: center;
  width: 10%;
  font-size: 1.3vw;
}

th.mat-header-cell {
  font-weight: 900;
  color: #000;
}

.projectDetails {
  margin-top:10px;
  font-size: 1.3vw;
}

.buttonSpace {
  margin-right: 20px;
}

.title {
  font-weight: 900;
  margin-right:15px;
  margin-bottom:2px;
}

.grid-container {
  height: 23.5vh;
  overflow-y: auto;
  overflow-x: hidden;
}

table {
  width: 100%;
}

.table-container {
  height: 31vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.table-container tr.mat-footer-row, tr.mat-row {
  height: 30px;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

.indent {
  text-indent: 50px;
}

.bold {
  margin-left: -188px;
  font-weight: 900;
}

boldText {
  font-weight: 900;
}

.buttonsHolder{
  margin: 10px;
}