table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #d8caca;
  padding: 8px !important;
  width: 10%;
}

.table-container {
  height: 26vh;
  width:100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.example-spacer {
  flex: 1 1 auto;
}

.centerAlign{
  text-align: center;
}

mat-cell:nth-child(5),
mat-header-cell:nth-child(5) {
    flex: 0 0 10%;
}

.example-button-row button,
.example-button-row a {
  margin-top: 8px;
  margin-right: 8px;
}

.internalMatGrid{ min-width:80%;}

::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
}

mat-grid-tile {
    background: lightblue;
  }
  