<div [style.display]="whichRoute === 'stock-details' ? '' : 'none'">
  <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <div [fxFlex]="75">
        <mat-card>
          <div *ngIf="loaded">
            <mat-toolbar>
              Name: {{stockItem.stockName}}
              <span class="example-spacer"></span>
              <button mat-icon-button (click)="setNav('/supply-chain/stock/stock-details/' + stockItem.$key + '/edit-stock', 'edit-stock')" class="example-icon" aria-label="edit stock item">
                <mat-icon>edit</mat-icon>
              </button>
            </mat-toolbar>
            <div class="table-container mat-elevation-z8">
              <table>
                <tr>
                  <th colspan="4">Stock Item</th>
                </tr>
                <tr>
                  <td>Stock Code</td>
                  <td>
                      {{stockItem.stockCode}}
                  </td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Stock Name</td>
                  <td>
                      {{stockItem.stockName}}
                  </td>
                  <td>Width</td>
                  <td>
                      {{stockItem.width}}
                  </td>
                </tr>
                <tr>
                  <td>Coins Code</td>
                  <td>
                      {{stockItem.coinsCode}}
                  </td>
                  <td>Depth</td>
                  <td>
                      {{stockItem.depth}}
                  </td>
                </tr>
                <tr>
                  <td>Coins Name</td>
                  <td>
                      {{stockItem.coinsName}}
                  </td>
                  <td>Length</td>
                  <td>
                      {{stockItem.length}}
                  </td>
                </tr>
                <tr>
                  <td>Grade</td>
                  <td>
                      {{stockItem.grade}}
                  </td>
                  <td>Storage Width</td>
                  <td>
                      {{stockItem.storageWidth}}
                  </td>
                </tr>
                <tr>
                  <td>Treated</td>
                  <td>
                      {{stockItem.treated}}
                  </td>
                  <td>Storage Depth</td>
                  <td>
                      {{stockItem.storageDepth}}
                </tr>
                <tr>
                  <td>Unit of Count</td>
                  <td>
                      {{stockItem.unitOfCount}}
                  </td>
                  <td>Storage Length</td>
                  <td>
                      {{stockItem.storageLength}}
                  </td>
                </tr>
                <tr>
                  <td>Unit of Application</td>
                  <td>
                      {{stockItem.unitOfApplication}}
                  </td>
                  <td>Critical Stock Level</td>
                  <td>
                      {{stockItem.criticalStockLevel}}
                  </td>
                </tr>
              </table>
              <table *ngIf="stockItem.stockTypeObj">
                <tr>
                  <th colspan="4">Stock Type </th>
                </tr>
                <tr>
                  <td>Stock Type</td>
                  <td>{{stockItem.stockTypeObj.name}}</td>
                </tr>
              </table>
              <table *ngIf="stockItem.stockSubCatObj">
                <tr>
                  <th colspan="4">Stock Sub Group </th>
                </tr>
                <tr>
                  <td>Stock Sub Group Name</td>
                  <td>{{stockItem.stockSubCatObj.name}}</td>
                </tr>
              </table>
              <table *ngIf="stockItem.stockGroupObj">
                <tr>
                  <th colspan="4">Stock Group</th>
                </tr>
                <tr>
                  <td>Stock Group Number</td>
                  <td>{{stockItem.stockGroupObj.code}}</td>
                </tr>
                <tr>
                  <td>Stock Group Name</td>
                  <td>{{stockItem.stockGroupObj.name}}</td>
                </tr>
              </table>
            </div>
          </div>
        </mat-card>
    </div>
    <div [fxFlex]="25">
        <mat-card [style.display]="'block'" fxFlexFill fxLayoutAlign="center center">
          <div *ngIf="loaded" style="font-size: 0.7vw;">
            <mat-toolbar>
            {{stockItem.stockName}}
            </mat-toolbar>
            <mat-grid-list cols="2" rowHeight="2:1">
              <mat-grid-tile>
                <div class='internalMatGrid'>
                  <mat-grid-list cols="1" rowHeight="7:1">
                    <mat-grid-tile>Cost Per Unit</mat-grid-tile>
                    <mat-grid-tile>Min: £{{displayGrid.minUnitCost}}</mat-grid-tile>
                    <mat-grid-tile>Average: £{{displayGrid.avgUnitCost}}</mat-grid-tile>
                    <mat-grid-tile>Max: £{{displayGrid.maxUnitCost}}</mat-grid-tile>
                  </mat-grid-list>
                </div>
              </mat-grid-tile>
              <mat-grid-tile>
                <div class='internalMatGrid'>
                  <mat-grid-list cols="1" rowHeight="7:1">
                    <mat-grid-tile>Unique Suppliers</mat-grid-tile>
                    <mat-grid-tile style="font-size: 1.5vw; height:20%;"> {{displayGrid.unique}} </mat-grid-tile>
                  </mat-grid-list>
                </div>
              </mat-grid-tile>    
              <mat-grid-tile>
                <div class='internalMatGrid'>
                  <mat-grid-list cols="1" rowHeight="7:1">
                    <mat-grid-tile>Del. Time</mat-grid-tile>
                    <mat-grid-tile>Min: {{displayGrid.minDelTime}} days</mat-grid-tile>
                    <mat-grid-tile>Average: {{displayGrid.avgDelTime}} days</mat-grid-tile>
                    <mat-grid-tile>Max: {{displayGrid.maxDelTime}} days</mat-grid-tile>
                  </mat-grid-list>
                </div>
              </mat-grid-tile>
              <mat-grid-tile>
                <div class='internalMatGrid'>
                  <mat-grid-list cols="1" rowHeight="7:1">
                    <mat-grid-tile>Col. Time</mat-grid-tile>
                    <mat-grid-tile>Min: {{displayGrid.minColTime}} days</mat-grid-tile>
                    <mat-grid-tile>Average: {{displayGrid.avgColTime}} days</mat-grid-tile>
                    <mat-grid-tile>Max: {{displayGrid.maxColTime}} days</mat-grid-tile>
                  </mat-grid-list>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </mat-card>
    </div>
  </div>

  <mat-toolbar>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="createSupplierStock()" class="example-icon" aria-label="add stock supplier">
      <mat-icon>add</mat-icon>
    </button>
    <app-file-uploader matTooltip="Upload Stock Details" (uploadEvent)="uploadFile($event)"></app-file-uploader>
    <app-data-export [data]=stockItemExportArr></app-data-export>
  </mat-toolbar>
  
  <div class="centerAlign mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let row"> {{row.no}} </td>
      </ng-container>
      
      <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Supplier </th>
        <td mat-cell *matCellDef="let row"><a mat-list-item (click)="setNav('/supply-chain/suppliers/supplier-details/'+row.supplierKey, 'supplier-details')"  routerLink=''>{{row.companyName}}</a></td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Unit of Purchase </th>
        <td mat-cell *matCellDef="let row"> {{row.type}} </td>
      </ng-container>

      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Count </th>
        <td mat-cell *matCellDef="let row"> {{row.count}} </td>
      </ng-container>

      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cost </th>
        <td mat-cell *matCellDef="let row"> {{'£ ' + row.cost}} </td>
      </ng-container>

      <ng-container matColumnDef="unitCost">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cost per Unit </th>
        <td mat-cell *matCellDef="let row"> {{'£ ' + row.unitCost}} </td>
      </ng-container>

      <ng-container matColumnDef="delTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Delivery Lead Time </th>
        <td mat-cell *matCellDef="let row"> {{row.delTime + ' days'}} </td>
      </ng-container>

      <ng-container matColumnDef="colTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Collection Lead Time </th>
        <td mat-cell *matCellDef="let row"> {{row.delTime + ' days'}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let row"> {{row.status}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Update </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="editSupplierStock(row)" class="example-icon" aria-label="edit stock supplier">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Details </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="displayDetails(row)" class="example-icon" aria-label="supplier details">
            <mat-icon>pageview</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

</div>

<router-outlet></router-outlet>