<mat-dialog-content>
<table>
  <tr>
    <th colspan="4">Additional Details</th>
  </tr>
  <tr>
    <td>Storage Width</td>
    <td>
        {{data.stockDetails.storageWidth}}
    </td>
    <td>Storage Depth</td>
    <td>
        {{data.stockDetails.storageDepth}}
    </td>
  </tr>
  <tr>
    <td>Storage Length</td>
    <td>
        {{data.stockDetails.storageLength}}
    </td>
    <td></td>
    <td></td>
  </tr>
</table>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</div>