<div *ngIf="loaded" style="overflow:hidden !important">

  <mat-toolbar style="min-height:64px !important">
    <span>{{returnQuote(quote.qid)}} - {{quote.quoteName}}</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    
    <span>            
      <ul class="meta-list">
        <li class="meta-list-item">
          <span class="meta-list-name">Revision</span>
          <span class="meta-list-value">-</span>
        </li>
        <li class="meta-list-item">
          <span class="meta-list-name">Last Revision</span>
          <span class="meta-list-value">-</span>
        </li>
      </ul>
    </span>
  </mat-toolbar>      

  <nav mat-tab-nav-bar mat-stretch-tabs mat-align-tabs="center">
    <a mat-tab-link
       *ngFor="let link of routeLinks"
       [routerLink]="link.link"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
  </nav>
  
  <router-outlet></router-outlet>
  
</div>
