$headerheight: 40px;

$lightgray: #F8F8F8;
$gray:#E2E2E2;
$darkgray:#585F69;
$purple:#903F98;
$lightpurple:#AF78B4;
$darkpurple:#2D1E3E;
$green:#BED600;
$lightgreen:#EAF498;
$red:#D0021B;
$blue:#4A90E2;
$lightblue:#DFEEFF;

$radius:5px;

$outline: none !important;

@mixin graystrips{
    background: repeating-linear-gradient(
    45deg,
    lighten($gray, 8%),
    lighten($gray, 8%) 2px,
    white 2px,
    white 6px );
}

@mixin graystripsimp{
    background: repeating-linear-gradient(
    45deg,
    lighten($gray, 8%),
    lighten($gray, 8%) 2px,
    white 2px,
    white 6px
) !important; }

@mixin greengraystrips{
    background: repeating-linear-gradient(
    45deg,
    lighten($gray, 6%),
    lighten($gray, 6%) 2px,
    lighten($lightgreen, 15%) 2px,
    lighten($lightgreen, 15%) 6px
) !important; }.minusdays {
    font-weight: 700;
    color: white;
    background-color: #D0021B;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    padding: 0.3em 0.5em;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white;
}

.mat-toolbar {
    background: white;
    color: rgba(0,0,0,.87);
}

.minusdaysRed {
    font-weight: 700;
    color: white;
    background-color: #D0021B;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    padding: 0.3em 0.5em;
}

.minusdaysGrey {
    font-weight: 700;
    color: white;
    background-color: #A8A8A8;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    padding: 0.3em 0.5em;
}

.notfinal {
    color:#D0021B;
    font-weight:600;
}

.userGuess {
    color:#008b00;
    font-weight:600;
}

.noMatch {
    color:black;
    background:#ff6666;
}

.actuals-med-risk { 
    color:black;
    background: orange;
}

.actuals-high-risk {     
    color:black;
    background: red;
}

.gridBorder {
    border: 0.5px solid $gray;
    font-size: 0.7vw;
}

.list-cell:hover {
    background: lightgray;
    cursor: pointer;
  }




.gridBorder {
    border: 0.5px solid $gray;
    font-size: 0.7vw;
}

.header {
    background: lighten($gray, 8%);
    border: 0.5px solid $gray;
    font-weight: bold;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    text-align: center;
    flex: 1 1 auto;
    padding-right: 17vw;

  }

.mat-tab-body-content {
    overflow: hidden !important;
}