<!-- loader -->
<div *ngIf="!loaded" class="loader-container" >
  <div class="spinner"> 
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>

<mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)" mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
  <mat-tab (click)="projectTabSelected()" label="Projects in Production">

    <ng-template matTabContent>

      <div *ngIf="loaded" fxLayout="column"  class="components-container-gt-xs"  [ngClass.xs]="'components-container-xs'"  fxLayoutGap="20px">

        <div fxFlex class="table-component-holder mat-elevation-z4">

          <mat-toolbar>
            <span>
              <mat-form-field style="margin-right: 20px;" class="example-full-width" appearance="fill">
                <input type="text"
                        placeholder="Choose Project"
                        matInput
                        [formControl]="myControl"
                        [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChange($event)">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
              </mat-form-field>
            </span>
            <!-- This fills the remaining space of the current row -->
            <span class="example-fill-remaining-space">
                Projects in Production
            </span>
            <button mat-icon-button matTooltip="Update Azure" (click)="openDialog2()">
              <mat-icon>cloud_upload</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Export Data" (click)="openDialog()">
              <mat-icon>cloud_download</mat-icon>
            </button>
            {{status}}
          </mat-toolbar>

          <mat-grid-list cols="13" rowHeight="3:1">
            <mat-grid-tile [colspan]="3" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}">Project</mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}">Delivery Date</mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}">Revision</mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}">Risk</mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1" [ngClass]="{header: true, gridBorder: true}">Estimated</mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1" [ngClass]="{header: true, gridBorder: true}">Actual</mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1" [ngClass]="{header: true, gridBorder: true}">Completed</mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1" [ngClass]="{header: true, gridBorder: true}">Count</mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1" [ngClass]="{header: true, gridBorder: true}">m2</mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1" [ngClass]="{header: true, gridBorder: true}">Count</mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1" [ngClass]="{header: true, gridBorder: true}">m2</mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1" [ngClass]="{header: true, gridBorder: true}">Count</mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1" [ngClass]="{header: true, gridBorder: true}">m2</mat-grid-tile>
          </mat-grid-list>

          <span *ngIf="loaded2">

            <ng-container *ngFor="let stats of dataSource.filteredData;">

              <mat-grid-list (click)="getArea(stats)" class="list-cell" cols="13" rowHeight="3:1">
                <mat-grid-tile [ngClass]="{gridBorder: true}" [colspan]="3">{{stats.label}}</mat-grid-tile>
                <mat-grid-tile [ngClass]="{gridBorder: true}" [colspan]="2">{{stats.delivery | date:"EEE dd-MMM-yy"}}</mat-grid-tile>
                <mat-grid-tile [ngClass]="{gridBorder: true}" [ngClass]="{gridBorder: true}" [colspan]="1">{{stats.revision | revisionCount}}</mat-grid-tile>
                <mat-grid-tile [ngClass]="{gridBorder: true}" [colspan]="1"><span *ngIf="stats.risk.days < 0" [ngClass]="stats.risk.past ? 'minusdaysRed' : 'minusdaysGrey'">{{stats.risk.days | riskDays}}</span></mat-grid-tile>
                <mat-grid-tile [ngClass]="{gridBorder: true}" [colspan]="1">{{stats.estimated.count}}</mat-grid-tile>
                <mat-grid-tile [ngClass]="{gridBorder: true}" [colspan]="1">{{stats.estimated.area}}</mat-grid-tile>
                <mat-grid-tile [ngClass]="{gridBorder: true, 'actuals-med-risk': stats.risk.medium, 'actuals-high-risk': stats.risk.high}" [colspan]="1">{{stats.actual.count}}<br/>({{stats.actual.countPercentage}}%)</mat-grid-tile>
                <mat-grid-tile [ngClass]="{gridBorder: true}" [colspan]="1">{{stats.actual.area}}<br/>({{stats.actual.areaPercentage}}%)</mat-grid-tile>
                <mat-grid-tile [ngClass]="{gridBorder: true}" [colspan]="1">{{stats.completed.count}}<br/>({{stats.completed.countPercentage}}%)</mat-grid-tile>
                <mat-grid-tile [ngClass]="{gridBorder: true}" [colspan]="1">{{stats.completed.area}}<br/>({{stats.completed.areaPercentage}}%)</mat-grid-tile>
              </mat-grid-list>

            </ng-container>

          </span>

        </div>
      </div>

    </ng-template>

  </mat-tab>

  <mat-tab label="{{selectedProject.label}}" *ngIf="selectedProject">
      <ng-template matTabContent>
        <app-area-status-details (areaChange)="selectPanel($event)" [projectStats]="selectedProject"></app-area-status-details>
      </ng-template>
  </mat-tab>
  <mat-tab label="{{selectedArea.label}}" *ngIf="selectedArea">
      <ng-template matTabContent>
        <app-panel-status-details [areaStats]="selectedArea"></app-panel-status-details>
      </ng-template>
  </mat-tab>
</mat-tab-group>