<p *ngIf="date !== undefined && time !== undefined" (click)="openDialog()">
  {{date | date:"d MMM"}}<br>
  {{time}}
</p>

<p *ngIf="date !== undefined && time === undefined" (click)="openDialog()">
  {{date | date:"d MMM"}}
</p>

<p *ngIf="date === undefined && time === undefined" (click)="openDialog()">
  None
</p>
