<div *ngIf="ready">
    <mat-toolbar>
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Panel Group" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)='selectGroup($event)'>
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    
   
      <!-- This fills the remaining space of the current row -->
      <span class="example-fill-remaining-space">
        <mat-form-field>
          <mat-label>Framing Style</mat-label>
          <mat-select (selectionChange)="selectFramingStyle($event.value)">
            <mat-option *ngFor="let framingStyle of framingStyleSets[group]" [value]="framingStyle">
              {{framingStyle}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </span>
      
      <span>  
        <button mat-raised-button color="primary" (click)="save()">Add</button>
      </span>
  </mat-toolbar>
</div>

<div *ngIf="ready2">
  <table>
    <tr>
      <th>Panel Group</th>
      <th>Framing Style</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let item of list">
      <td>{{item.Panel_Group_Name}}</td>
      <td>{{item.Panel_Framing_Style}}</td>
      <td>
        <button mat-icon-button matTooltip="Delete framing style" (click)="deleteFramingStyle(item.Line)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </table>
</div>
