<ng-container *ngIf="loaded">
    <mat-grid-list class="list-cell" cols="13" rowHeight="3:1">
        <mat-grid-tile [ngClass]="{gridBorder: true}" [colspan]="3">{{stats.label}}</mat-grid-tile>
        <mat-grid-tile [ngClass]="{gridBorder: true}" [colspan]="2">{{stats.delivery | date:"EEE dd-MMM-yy"}}</mat-grid-tile>
        <mat-grid-tile [ngClass]="{gridBorder: true}" [ngClass]="{gridBorder: true}" [colspan]="1">{{stats.revision | revisionCount}}</mat-grid-tile>
        <mat-grid-tile [ngClass]="{gridBorder: true}" [colspan]="1"><span *ngIf="stats.risk.days < 0" [ngClass]="stats.risk.past ? 'minusdaysRed' : 'minusdaysGrey'">{{stats.risk.days | riskDays}}</span></mat-grid-tile>
        <mat-grid-tile [ngClass]="{gridBorder: true}" [colspan]="1">{{stats.estimated.count}}</mat-grid-tile>
        <mat-grid-tile [ngClass]="{gridBorder: true}" [colspan]="1">{{stats.estimated.area}}</mat-grid-tile>
        <mat-grid-tile [ngClass]="{gridBorder: true, 'actuals-med-risk': stats.risk.medium, 'actuals-high-risk': stats.risk.high}" [colspan]="1">{{stats.actual.count}}<br/>({{stats.actual.countPercentage}}%)</mat-grid-tile>
        <mat-grid-tile [ngClass]="{gridBorder: true}" [colspan]="1">{{stats.actual.area}}<br/>({{stats.actual.areaPercentage}}%)</mat-grid-tile>
        <mat-grid-tile [ngClass]="{gridBorder: true}" [colspan]="1">{{stats.completed.count}}<br/>({{stats.completed.countPercentage}}%)</mat-grid-tile>
        <mat-grid-tile [ngClass]="{gridBorder: true}" [colspan]="1">{{stats.completed.area}}<br/>({{stats.completed.areaPercentage}}%)</mat-grid-tile>
    </mat-grid-list>
</ng-container>
