table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  .startDate{
    background-color: rgb(156,39,176);
    color: white;
}

$lightgray: #F8F8F8;
$gray:#E2E2E2;
$darkgray:#585F69;
$purple:#903F98;
$lightpurple:#AF78B4;
$darkpurple:#2D1E3E;
$green:#BED600;
$lightgreen:#EAF498;
$red:#D0021B;
$blue:#4A90E2;
$lightblue:#DFEEFF;

.mat-form-field {
    font-size: 1vw;
}

.sticky {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
    position: sticky;
    top: 64px;
    padding: 0px;
    z-index:1000;
}

.liveGreenDot {
    height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
  }
  
  .liveRedDot {
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
  }

.weekend {
  background: repeating-linear-gradient(
    45deg, 
    #f6f6f6, 
    #f6f6f6 2px, 
    white 2px, 
    white 6px); 
}

.header {
    background: lighten($gray, 8%);
    border: 0.5px solid $gray;
}

.gridBorder {
    border: 0.5px solid $gray;
    font-size: 0.7vw;
}

.est {
    color:#D0021B;
    font-weight:600;
}

.design {
    color:#008b00;
    font-weight:600;
}

.noMatch {
    color:black;
    background:#ff6666;
}

.none {
    color: black;
}

.dashed {
    border-bottom: 1px dashed black;
    display: inline;
}

/*Highlight current day*/
mat-grid-tile.current {box-shadow: 
    inset -2px 0px 0px $lightpurple, 
    inset 3px 0px 0px $lightpurple;
  }
  
 mat-grid-tile:last-of-type>mat-grid-tile.current {
  box-shadow: 
    inset -2px 0px 0px $lightpurple, 
    inset 3px 0px 0px $lightpurple,
    inset 0px -2px 0px $lightpurple;    
  }
  
  mat-grid-tile.currentHeader
  {box-shadow: 
    inset -2px 0px 0px $lightpurple, 
    inset 3px 0px 0px $lightpurple,
    inset 0px 2px 0px $lightpurple;    
  }

.minusdays {
    font-weight: 700;
    color: white;
    background-color: #D0021B;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    padding: 0.3em 0.5em;
}

.sortCircle {
    font-weight: 700;
    color: white;
    background-color: rgb(156,39,176);
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    padding: 0.3em 0.5em;
    display: inline-block;
}

.panel-tip{
    width: 100%;
    cursor: pointer;
    text-align: center;
    line-height: 200px;
    height: 200px;
}

.sortClick{
    width: 100%;
    cursor: pointer;
    text-align: center;
}

.startDate{
    background-color: #ff6666;
    color: white;
}

.backgroundPurple {
    background-color: rgb(156,39,176);
    color: white;
}