<!-- loader -->
<div *ngIf="!loaded" class="loader-container" >
  <div class="spinner"> 
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>

<div *ngIf="loaded" class="layout-container">
  <mat-card>
    <mat-grid-list gutterSize="0" cols="34" rowHeight="1:1">
      <mat-grid-tile [colspan]="10">
        <mat-form-field (click)="open(picker3)">
          <input matInput [min]="minDate" [matDatepicker]="picker3" [value]="plan.viewStart"  (dateChange)="addEvent('change', $event)">
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker (click)="open(picker3)" #picker3 [calendarHeaderComponent]="dateHeader"></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1"></mat-grid-tile>
      <mat-grid-tile [colspan]="2"></mat-grid-tile>
      <mat-grid-tile [colspan]="1"></mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list gutterSize="0" cols="34" rowHeight="1:1">
      <mat-grid-tile [colspan]="10"></mat-grid-tile>
      <mat-grid-tile [colspan]="1"></mat-grid-tile>
      <mat-grid-tile [colspan]="2"></mat-grid-tile>
      <mat-grid-tile [colspan]="1"></mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list gutterSize="0" cols="34" rowHeight="1:1">
      <mat-grid-tile [colspan]="10">
        <mat-button-toggle 
          [checked]="toggleCount['action']" 
          (change)="isMeterSquaredChecked($event.source.checked)">
            Toggle Metre Squared
        </mat-button-toggle>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1"></mat-grid-tile>
      <mat-grid-tile [colspan]="1"></mat-grid-tile>
      <mat-grid-tile [colspan]="20">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle [checked]="true"  (change)="toggleLine('SIP')">Auto Line 1</mat-button-toggle>
          <mat-button-toggle (change)="toggleLine('SIP2')">Auto Line 2</mat-button-toggle>
          <mat-button-toggle (change)="toggleLine('HSIP')">Auto Line 3</mat-button-toggle>
          <mat-button-toggle (change)="toggleLine('IFAST')">Man. Line 1</mat-button-toggle>
          <mat-button-toggle (change)="toggleLine('IFAST2')">Man. Line 2</mat-button-toggle>
          <mat-button-toggle (change)="toggleLine('TF')">Man. Line 3</mat-button-toggle>
          <mat-button-toggle (change)="toggleLine('TF2')">Man. Line 4</mat-button-toggle>
          <mat-button-toggle (change)="toggleLine('CASS')">SIP Line</mat-button-toggle>
        </mat-button-toggle-group>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list gutterSize="0" cols="34" rowHeight="1:1">
      <mat-grid-tile [colspan]="10"></mat-grid-tile>
      <mat-grid-tile [colspan]="1"></mat-grid-tile>
      <mat-grid-tile [colspan]="2"></mat-grid-tile>
      <mat-grid-tile [colspan]="1"></mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list gutterSize="0" cols="34" rowHeight="1:1">
      <mat-grid-tile [colspan]="10"></mat-grid-tile>
      <mat-grid-tile [colspan]="1"></mat-grid-tile>
      <mat-grid-tile [colspan]="2"></mat-grid-tile>
      <mat-grid-tile [colspan]="1"></mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list gutterSize="0" cols="34" rowHeight="1:1">
      <mat-grid-tile [colspan]="10">
        <mat-button-toggle 
        [checked]="toggleType['actual']" 
        (change)="toggleType['actual'] = $event.source.checked">
          Actual
      </mat-button-toggle>
      <mat-button-toggle 
        [checked]="toggleType['design']" 
        (change)="toggleType['design'] = $event.source.checked">
          Design
      </mat-button-toggle>
      <mat-button-toggle 
        [checked]="toggleType['est']" 
        (change)="toggleType['est'] = $event.source.checked">
          Est
      </mat-button-toggle>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1"></mat-grid-tile>
      <mat-grid-tile [colspan]="2" [ngClass]="{gridBorder: true}">{{productionLineConverter[defaultProductionLine]}}</mat-grid-tile>
      <mat-grid-tile [colspan]="1" [ngClass]="{gridBorder: true, current: i === plan.current, weekend: (i % 7) >= 5}" *ngFor="let i of this.days; trackBy: trackByFn"><app-capacity-input (saveState)="saveState($event)" [productionLine]="defaultProductionLine" [type]="m2Type" [plan]="plan" [date]="i" [capacity]="plan.capacity[m2Type][defaultProductionLine][i] | numberZero : m2Type : (i % 7) >= 5"></app-capacity-input></mat-grid-tile>
    </mat-grid-list>

  </mat-card>

  <mat-card>
    <mat-grid-list class="sticky" gutterSize="0" cols="34" rowHeight="1:1">
      <mat-grid-tile [colspan]="1" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}"><app-data-export [disabled]="disableExport" [name]="'Forward planner'" [data]=exportAreas></app-data-export></mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}"><br>Line</mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}">
        <button mat-icon-button (click)="savePlanner()">
          <mat-icon aria-label="Save Planner">save</mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}"><br>Area</mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}"><br>Qts</mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}"><br>Comp.</mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}"><br>Jobs.</mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}"><br>DFM.</mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}">
        <span>Req. Disp.</span>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}">
        <span>Start</span>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}">
        <span>End</span>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}"><br>Risk</mat-grid-tile>
      <mat-grid-tile [colspan]="7" [rowspan]="1" [ngClass]="{header: true, gridBorder: true}">{{weekStart(0) | date:'dd-MMM'}} &mdash; {{weekFinish(0) | date:'dd-MMM'}}</mat-grid-tile>
      <mat-grid-tile [colspan]="7" [rowspan]="1" [ngClass]="{header: true, gridBorder: true}">{{weekStart(1) | date:'dd-MMM'}} &mdash; {{weekFinish(1) | date:'dd-MMM'}}</mat-grid-tile>
      <mat-grid-tile [colspan]="7" [rowspan]="1" [ngClass]="{header: true, gridBorder: true}">{{weekStart(2) | date:'dd-MMM'}} &mdash; {{weekFinish(2) | date:'dd-MMM'}}</mat-grid-tile>
      <mat-grid-tile [colspan]="1" [ngClass]="{header: true, gridBorder: true}" [ngClass]="currentHeader: i === plan.current" *ngFor="let heading of dayHeadings; index as i;trackBy: trackByFn">{{heading}}</mat-grid-tile>
    </mat-grid-list>
    <div cdkDropList (cdkDropListDropped)="drop($event)">
      <div *ngFor="let area of plan.areas; index as i;" cdkDrag>
        <mat-grid-list gutterSize="0" cols="34" rowHeight="1:1" *ngIf="productionLineFilter[area._productionLine] && (toggleType[area._stats.oneTrue] || area._stats.oneTrue === 'none')">
          <mat-grid-tile [colspan]="1" [ngClass]="{gridBorder: true}"><mat-checkbox *ngIf="area._hasUnpublished" [(ngModel)]="areasSelection[area.$key]" (change)="initiatePlan()"></mat-checkbox></mat-grid-tile>
          <mat-grid-tile [colspan]="1" [ngClass]="{gridBorder: true}">
            <app-select-line (changeLine)="changeLine($event)" (changeLine2)="changeLine2($event)" [area]="area"></app-select-line>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [ngClass]="{gridBorder: true}"><app-handover-confirmed [area]="area"></app-handover-confirmed></mat-grid-tile>
          <mat-grid-tile [colspan]="2" (click)="removePriority(area)" [ngClass]="{backgroundPurple: area.sortKey !== undefined, gridBorder: true}"><app-notes-popup [area]="area"></app-notes-popup></mat-grid-tile>
          <mat-grid-tile [colspan]="1" *ngIf="area._stats.oneTrue === 'actual'" class="{{area._stats.type}}" [ngClass]="{gridBorder: true}"><app-panel-tooltip class="panel-tip" [area]="area"></app-panel-tooltip></mat-grid-tile>
          <mat-grid-tile [colspan]="1" *ngIf="area._stats.oneTrue !== 'actual'" class="{{area._stats.type}}" [ngClass]="{gridBorder: true}">{{area._stats.display}}</mat-grid-tile>
          <mat-grid-tile [colspan]="1" [ngClass]="{gridBorder: true}">{{area._stats.completed}}</mat-grid-tile>
          <mat-grid-tile [colspan]="1" [ngClass]="{gridBorder: true}"><app-jobsheets [areaKey]="area.$key"></app-jobsheets></mat-grid-tile>
          <mat-grid-tile [colspan]="1" [ngClass]="{gridBorder: true, backgroundPurple: getBackground(area)}">{{getDate(area)}}</mat-grid-tile>
          <mat-grid-tile [colspan]="1" *ngIf="!useUnpublished(area)" [ngClass]="{gridBorder: true, dashed: area._hasUnpublished}">{{area._dispatchDate | date: 'dd-MMM'}}</mat-grid-tile>
          <mat-grid-tile [colspan]="1" *ngIf="useUnpublished(area)" [ngClass]="{gridBorder: true}"><s>{{area._dispatchDate | date: 'dd-MMM'}}</s><br/>{{area._unpublishedDispatchDate | date: 'dd-MMM'}}</mat-grid-tile>
        
        
          <mat-grid-tile [colspan]="1" [ngClass]="{startDate: isSameAsSave(area), gridBorder: true}">
            {{area._productionStartDate | date: 'dd-MMM'}}
          </mat-grid-tile>
        
          <mat-grid-tile [colspan]="1" [ngClass]="{gridBorder: true}">{{useUnpublishedOnly(area) ? '' : area._productionEndDate | date: 'dd-MMM'}}</mat-grid-tile>
          <mat-grid-tile [colspan]="1" [ngClass]="{gridBorder: true}"><span [ngClass]="{minusdays: atRisk(area)}">{{getRiskDays(area)}}</span></mat-grid-tile>
          <mat-grid-tile [colspan]="1" class="{{area._stats.oneTrue}}" [ngClass]="{gridBorder: true, current: i === plan.current, weekend: (i % 7) >= 5}" *ngFor="let panels of area._productionPlan; index as i;trackBy: trackByFn">{{panels[m2Type] | numberZero : m2Type}}</mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </mat-card>

  <!-- <table *ngIf="loaded" cdkDropList (cdkDropListDropped)="drop($event)">
    <tr>
      <th>Priority</th>
      <th>Area</th>
      <th>Delivery Date</th>
      <th>DFM Date</th>
      <th>Start Date</th>
      <th>Qty</th>
      <th>Complete</th>
      <th *ngFor="let heading of dayHeadings; index as i;trackBy: trackByFn">{{heading}}</th>
    </tr>
    <tr *ngFor="let area of plan.areas; index as i;" cdkDrag>
      <ng-container *ngIf="productionLineFilter[area._productionLine] && (toggleType[area._stats.oneTrue] || area._stats.oneTrue === 'none')">
        <td>{{area._sortKey}}</td> 
        <td>{{area._id}}</td>
        <td>{{area._deliveryDate | date: 'dd-MMM'}}</td>
        <td>{{area._designHandoverDate | date: 'dd-MMM'}}</td>
        <td>{{area._productionStartDate | date: 'dd-MMM'}}</td>
        <td>{{area._stats.display}}</td>
        <td>{{area._stats.completed}}</td>
        <td *ngFor="let panels of area._productionPlan; index as i;trackBy: trackByFn">{{panels[m2Type] | numberZero : m2Type}}</td>
      </ng-container>
    </tr>
  </table> -->

</div>