<h1 mat-dialog-title>{{data.component.componentName | numbersFromString}}</h1>
<div mat-dialog-content>
  <p>Component Note:</p>
  <mat-form-field class="example-full-width">
    <textarea matInput [(ngModel)]="data.component.comments" placeholder="Leave a comment"></textarea>
  </mat-form-field>
  <span>
    <p>Component Addons:</p>
    <mat-radio-group aria-label="Select an option" class="example-radio-group" [(ngModel)]="data.additionalDataAddon">
      <mat-radio-button class="example-radio-button" value="Windows">Windows </mat-radio-button>
      <mat-radio-button class="example-radio-button" value="Cladding">Cladding </mat-radio-button>
      <mat-radio-button class="example-radio-button" value="Windows & Cladding">Windows & Cladding </mat-radio-button>
      <mat-radio-button class="example-radio-button" value=null>None </mat-radio-button>
    </mat-radio-group>
  </span>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="saveComponentNote()">Save Note</button>
  <button mat-button (click)="saveComponentAddons()">Save Addons</button>
</div>