<div>
  <div class="row">
    <h1>
        Audits
    </h1>
  </div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Timestamp </th>
        <td mat-cell *matCellDef="let row"> {{toUserDate(row.timestamp)}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name </th>
        <td mat-cell *matCellDef="let row"> {{row.userName}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="log">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Log </th>
        <td mat-cell *matCellDef="let row"> {{row.log}} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="productionLine">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Production Line </th>
        <td mat-cell *matCellDef="let row"> {{row.productionLine}} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="project">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Project </th>
        <td mat-cell *matCellDef="let row"> {{row.projectId}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
