$lightgray: #F8F8F8;
$gray:#E2E2E2;
$darkgray:#585F69;
$purple:#903F98;
$lightpurple:#AF78B4;
$darkpurple:#2D1E3E;
$green:#BED600;
$lightgreen:#EAF498;
$red:#D0021B;
$blue:#4A90E2;
$lightblue:#DFEEFF;

.center {
    display: flex;
    justify-content: center;
    height: 100%;
  }
  
  
  .center div{
    align-self: center;
  }

  .example-card {
    width: 800px;
  }

  .my-drop-zone { 
    border: dotted 3px lightgray;
    height: 100px;
   }
  .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */

  .alertUploader {
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.log {
  display: flex;
  flex-direction: column;
  height: 50vh;
}

.logList{
  overflow-y:scroll;
  flex: 0 1 auto;
}

.alert {text-align: center;
        border:0;
        padding: 8px;
        border-radius: 0px;
        margin-top:75px;
        }

.alert-danger {color:$red;
               background-color:lighten($red,55%);
}
.alert-success {color: darken($green, 15%);
               background-color:lighten($lightgreen, 10%);
}