    <div class="center">
    <div>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Load Panels</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <div *ngIf="!updateSummaryComplete">

            <div *ngIf="files.length == 0">
              <p>
                Please drop in drop zone or select a file
              </p>

              <button mat-icon-button (click)="fileInput.click()">
                <mat-icon>cloud_upload</mat-icon>
                <input #fileInput type="file" ng2FileSelect [uploader]="uploader" (onFileSelected)="onFileSelected($event)" style="display:none;" />
              </button>

              <app-data-export *ngIf="status === 'ready'" [data]=exportAreas></app-data-export>

              <button mat-icon-button (click)="apiUpdate()">

                <mat-icon>update</mat-icon>

              </button>

              <span>{{autoUpdateString}}</span>

              <div ng2FileDrop
                  [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                  (fileOver)="fileOverBase($event)"
                  [uploader]="uploader"
                  (onFileDrop)="onFileSelected($event)"
                  class="well my-drop-zone">
                  Drop Zone
              </div>
            </div>

            <div *ngIf="files.length > 0">
              <p>
                Please drop in drop zone or select a file
              </p>

              <button mat-icon-button (click)="fileInput.click()">
                <mat-icon>cloud_upload</mat-icon>
                <input #fileInput type="file" ng2FileSelect [uploader]="uploader" (onFileSelected)="onFileSelected($event)" style="display:none;" />
              </button>

              <div ng2FileDrop
                  [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                  (fileOver)="fileOverBase($event)"
                  [uploader]="uploader"
                  (onFileDrop)="onFileSelected($event)"
                  class="well my-drop-zone">
                  Drop Zone
              </div>

              <ul>
                <li *ngFor="let file of files; let i = index">
                  <p>{{file.name}}</p>
                  <button mat-raised-button color="primary" (click)="removeFile(i)">Delete</button>
                </li>
              </ul>

            <div class="log">

              <div class="logList">

                <mat-list role="list" *ngIf="errors.length">
                  <p>{{errors.length | number}} panels are unknown</p>
                  <mat-list-item role="listitem" *ngFor='let error of errors;'><mat-icon mat-list-icon>error</mat-icon> {{error}}</mat-list-item>
                </mat-list>
      
                <ul data-ng-if="!errors.length">
                    <li>
                        <p>{{panels.length | number}} panels identified</p><br>
                        <p *ngIf="jobSheetCount">{{jobSheetCount | number}} job sheets identified</p>
                    </li>
                </ul>
              </div>
            </div>

            <div class="matchArea" *ngIf="components">
              <ul>
                  <li style="color: red; padding-top: 5%;" *ngFor="let areaId of objKeys(components); let i = index">
                      <span class="areaslist"> {{areaId}} <span *ngIf="!components[areaId].selected" class="areaslist"> &#x2718;</span><span *ngIf="components[areaId].selected" style="color: green" class="areaslist"> &#10004;</span></span>
                      <mat-form-field>
                        <mat-label>Select Area</mat-label>
                        <mat-select style="padding-left: 2%; padding-right: 2%;" (selectionChange)="selectedComponet(areaId, components[areaId], $event)">
                          <mat-option>-- None --</mat-option>
                          <mat-optgroup *ngFor="let component of objKeys(components[areaId].type)" [label]="component">
                            <mat-option *ngFor="let area of objKeys(components[areaId].type[component])" [value]="area">
                              {{areaId + " - " + components[areaId].type[component][area].areaObj.description}}
                            </mat-option>
                          </mat-optgroup>
                        </mat-select>
                      </mat-form-field>
                      
                      <!-- <select style="padding-left: 2%; padding-right: 2%;" class="formControl" id="{{'Select'+$index+1}}" name="{{'Select'+$index+1}}" ng-model="vm.selectData[$index+1]" ng-change="vm.selectedComponet(areaId, components, $index+1)">
                          <option value=""> Select match: </option>
                          <optgroup ng-repeat='(component, areaList) of components[areaId].type' label="{{component}}">
                              <option ng-repeat="(area, option) in areaList" value="{{area}}">{{option.areaObj.description}}</option>
                          </optgroup>
                      </select> -->
                  </li>
              </ul>
            </div>

          </div>

        </div>
        
        <div *ngIf="updateSummaryComplete">
          <div class="row">
              <h1>
                  Upload summary
              </h1>
          </div>
          <div class="row panel-body">
              <div class="row panel-holder">
                  <div class="col-xs-12 col-sm-6">
                      <div class="bubble">
                          <ul>
                              <li>
                                  <p>{{files.length | number}} source files were uploaded</p>
                              </li>
                              <li *ngFor="let file of files; let i = index">
                                  <p>{{file.name}}</p>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                      <div class="summary">
                          <ul>
                              <li >
                                  <p>{{updateSummary.total || 0 | number}} panels were recorded successfuly</p>
                              </li>
                              <li *ngFor="let detail of updateSummary.details; let i = index">
                                  <p>{{detail.count | number}} panels for project {{detail.projectId}} {{detail.projectName}}</p>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
      
              <div class="row buttonsrow">
                  <div class="col-xs-12">
                      <button mat-raised-button color="primary" (click)="reset()">Upload new files</button>
                  </div>
              </div>
          </div>
      </div>
            

        </mat-card-content>
        <mat-card-actions>

          <div class="row">
            <mat-list role="list" *ngFor="let data of objKeys(actualEqualNumberOfPanels);">
              <mat-list-item class="alertUploader alert-success" *ngIf="actualEqualNumberOfPanels[data].numberOfPanelsExist && actualEqualNumberOfPanels[data].numberOfPanels === actualEqualNumberOfPanels[data].actual">{{data}} | Design Qty: {{actualEqualNumberOfPanels[data].numberOfPanels}} Actual Qty: {{actualEqualNumberOfPanels[data].actual}}</mat-list-item>
              <mat-list-item class="alertUploader alert-warning" *ngIf="actualEqualNumberOfPanels[data].numberOfPanelsExist && actualEqualNumberOfPanels[data].numberOfPanels !== actualEqualNumberOfPanels[data].actual">{{data}} | Design Qty: {{actualEqualNumberOfPanels[data].numberOfPanels}} Actual Qty: {{actualEqualNumberOfPanels[data].actual}}</mat-list-item>
              <mat-list-item class="alertUploader alert-danger" *ngIf="!actualEqualNumberOfPanels[data].numberOfPanelsExist">{{data}} | Design Qty: {{actualEqualNumberOfPanels[data].numberOfPanels}} Actual Qty: {{actualEqualNumberOfPanels[data].actual}}</mat-list-item>
            </mat-list>
          </div>
    
          <div *ngIf="files.length">
            <div>
              <button mat-raised-button color="primary"
              (click)="save()"
              [disabled]="saveInProgress"
              >Save
              </button>
              <button mat-raised-button color="primary" (click)="reset()">Cancel</button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
      
    </div>
  </div>
  