<div mat-dialog-content>
  <p>Please enter from design</p>
  <mat-form-field class="example-full-width">
    <mat-label>Number of Panels</mat-label>
    <input matInput name="numberOfPanels" placeholder="Number of Panels" [(ngModel)]="data.area.numberOfPanels">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Area of Panels</mat-label>
    <input matInput name="areaOfPanels" placeholder="Area of Panels" [(ngModel)]="data.area.areaOfPanels">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="save()">Save</button>
  <button mat-button (click)="onNoClick()">Cancel</button>
</div>
