<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <p>{{data.text}}</p>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="confirmation()">{{data.buttonText}}</button>
  <button mat-raised-button (click)="onNoClick()">Back</button>
</div>