<!-- <div class="login-page">
    <div class="content">
        <form class="login-form" fxFlex  >
            <div class="text-center">
                <h2 class="app-name">InnView</h2>
            </div>
            <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput [(ngModel)]="email" name="email" placeholder="Email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput [(ngModel)]="password" type="password" name="password" placeholder="Password" required>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button mat-raised-button class="w-100" (click)="onLogin()">Login</button>
                </div>
            </div>

        </form>
    </div>
</div> -->
<div class="login-page">
    <div class="content">
        <ngx-auth-firebaseui
        [guestEnabled]="false"
        [registrationEnabled]="false"
        [providers]="[]"
        (onSuccess)="printUser($event)"
        (onError)="printError($event)">
        </ngx-auth-firebaseui>
    </div>
</div>