<div *ngIf="loaded" fxFlex>
  <mat-card>
      <mat-card-header>
          <mat-card-title>{{title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="barChartLabels.length > 0">
          <canvas baseChart 
            [datasets]="barChartData" 
            [labels]="barChartLabels" 
            [options]="barChartOptions" 
            [legend]="barChartLegend"
            [colors]="barChartColors"
            [chartType]="barChartType" 
            (chartHover)="chartHovered($event)" 
            (chartClick)="chartClicked($event)">
          </canvas>
        </div>
      </mat-card-content>
  </mat-card>
</div>