<!-- loader -->
<div *ngIf="!loaded" class="loader-container" >
  <div class="spinner"> 
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>

<div fxLayout="column"  class="components-container-gt-xs"  [ngClass.xs]="'components-container-xs'"  fxLayoutGap="20px">
    <div fxFlex class="table-component-holder mat-elevation-z4">
      <mat-toolbar class="table-header">
        <span style="height:100%;">        
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" value="{{filterValue}}" placeholder="Filter">
          </mat-form-field>
        </span>

        <!-- This fills the remaining space of the current row -->
        <span class="example-fill-remaining-space"></span>

        <span>
          <button mat-icon-button disabled="{{!togglePublishButton}}" matTooltip="Delivery dates back to latest revision" (click)="resetDeliveryChanges()">
            <mat-icon>undo</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Print Revisions - ngx-print" [useExistingCss]="true"  printSectionId="print-section" ngxPrint>
            <mat-icon>print</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Cycle through revisions" (click)="cycleLeft()">
            <mat-icon>chevron_left</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Cycle through revisions" (click)="cycleRight()">
            <mat-icon>chevron_right</mat-icon>
          </button>
        </span>
  
      </mat-toolbar>
      
      <mat-card *ngIf="loaded" id="print-section" class="horizontalScroll">
      <mat-toolbar class="printId">{{project.id + ' - ' + project.name}}</mat-toolbar>
      <table class="new-data-table">
        <thead>
          <tr>
            <th>    
            <mat-icon [style.display]="sorterData[sortType].accending ? '' : 'none'">
              arrow_downward
            </mat-icon>
            <mat-icon [style.display]="!sorterData[sortType].accending ? '' : 'none'">
              arrow_upward
            </mat-icon>
            {{sorterData[sortType].name}}
            </th>
            <th></th>
            <th matTooltip="Click 'Phase' to sort" (click)="changeSort('phase')" layout-align="center center">Phase</th>
            <th matTooltip="Click 'Floor' to sort" (click)="changeSort('floor')" layout-align="center center">Floor</th>
            <th matTooltip="Click 'Component' to sort" (click)="changeSort('componentName')" layout-align="center center">Component</th>
            <th matTooltip="Click 'Supplier' to sort" (click)="changeSort('supplier')" layout-align="center center">Supplier</th>
            <th>
              <ul class="meta-list">
                <li class="meta-list-item">
                  <span class="meta-list-name">Revision Date:</span>
                  <span class="meta-list-value"></span>
                  <span class="meta-list-value"></span>
                </li>
              </ul>
            </th>
            <th>
              <ul class="meta-list">
                <li class="meta-list-item">
                  <span class="meta-list-name">{{getRevisionDate(2) | date: "dd/M/yyyy"}}</span>
                  <span class="meta-list-value"><span *ngIf="revisions[revisionsCounter - 2]">Revision {{revisionsCounter - 2 | revisionCount}}</span></span>
                  <span class="meta-list-value">{{getInitials(2)}}</span>
                </li>
              </ul>
            </th>
            <th>
              <ul class="meta-list">
                <li class="meta-list-item">
                  <span class="meta-list-name">{{getRevisionDate(1) | date: "dd/M/yyyy"}}</span>
                  <span class="meta-list-value"><span *ngIf="revisions[revisionsCounter - 1]">Revision {{revisionsCounter - 1 | revisionCount}}</span></span>
                  <span class="meta-list-value">{{getInitials(1)}}</span>
                </li>
              </ul>
            </th>
            <th>
              <ul class="meta-list">
                <li class="meta-list-item">
                  <span class="meta-list-name">{{getRevisionDate(0) | date: "dd/M/yyyy"}}</span>
                  <span class="meta-list-value"><span *ngIf="revisions[revisionsCounter - 0]">Revision {{revisionsCounter - 0 | revisionCount}}</span></span>
                  <span class="meta-list-value">{{getInitials(0)}}</span>
                </li>
              </ul>
            </th>
            <th layout-align="center center" (click)="toggleChecks('delivered')">Delivered</th>
            <th matTooltip="Click to hide/show" layout-align="center center" (click)="toggleChecks('active')">    
              <mat-icon [style.display]="toggleData['active'] ? '' : 'none'">
                visibility_off
              </mat-icon>
              <mat-icon [style.display]="!toggleData['active'] ? '' : 'none'">
                visibility
              </mat-icon>
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let component of dataSource.data; let first = first; let i = index;">
            <tr>
              <td *ngIf="sortType === 'componentWeek' || sortType === 'deliveryDate' || sortType === 'latestRevision'"
                [attr.rowspan]="spans[sortType][component[sortType]].count"
                [style.display]="spans[sortType][component[sortType]].onRow === i ? '' : 'none'">
                {{component[sortType] | date: "dd/M/yyyy"}}
              </td>
              <td *ngIf="sortType !== 'componentWeek' && sortType !== 'deliveryDate' && sortType !== 'latestRevision'"
                [attr.rowspan]="spans[sortType][component[sortType]].count"
                [style.display]="spans[sortType][component[sortType]].onRow === i ? '' : 'none'">
                {{component[sortType]}}
              </td>
              <td
                [ngClass]="component.supplier+' Strip'"
                [style.display]="!expandedComponent[component.componentName] ? '' : 'none'"
                (click)="expandClick(component, true)">
                <button mat-button class="mat-icon-button" aria-label="more">
                    <mat-icon>expand_more</mat-icon>
                </button>
              </td>
              <td
                [ngClass]="component.supplier+' Strip'"
                [style.display]="expandedComponent[component.componentName] ? '' : 'none'"
                (click)="expandClick(component, false)">
                <button mat-button class="mat-icon-button" aria-label="less">
                    <mat-icon>expand_less</mat-icon>
                </button>
              </td>
              <td [ngClass]="component.supplier+' Strip'" layout-align="center center">{{component.phase}}</td>
              <td [ngClass]="component.supplier+' Strip'" layout-align="center center">{{component.floor}}</td>
              <td [ngClass]="component.supplier+' Strip'" layout-align="center center">{{component.componentName | numbersFromString}}</td>
              <td [ngClass]="component.supplier+' Strip'" layout-align="center center">{{component.supplier}}</td>
              <td [ngClass]="component.supplier+' Strip'"></td>
              <td [ngClass]="component.supplier+' Strip'">{{getRevision(2, component.areas) | date: "dd/M/yyyy"}}</td>
              <td [ngClass]="component.supplier+' Strip'">{{getRevision(1, component.areas) | date: "dd/M/yyyy"}}</td>
              <td [ngClass]="component.supplier+' Strip'">{{getRevision(0, component.areas) | date: "dd/M/yyyy"}}</td>
              <td [ngClass]="component.supplier+' Strip'"><mat-checkbox disabled="true" class="isDelivered" [(ngModel)]="component.delivered" aria-label="isDelivered"></mat-checkbox></td>
              <td [ngClass]="component.supplier+' Strip'"><mat-checkbox class="isShowHide"  (click)="changeShowHideForComponent(component)" [(ngModel)]="component.active" aria-label="isShowHide"></mat-checkbox></td>
            </tr>

            <tr [style.display]="expandedComponent[component.componentName] ? '' : 'none'" *ngFor="let area of component.areas">
            <td [style.width.%]="10"></td>
            <td [style.width.%]="10"></td>
            <td [style.width.%]="10">{{area.phase}}-{{area.floor}}-{{area.type}}</td>
            <td [style.width.%]="10"></td>
            <td [style.width.%]="10"></td>
            <td [style.width.%]="10"></td>
            <td [style.width.%]="10">{{getAreaRevision(2, area) | date: "dd/M/yyyy"}}</td>
            <td [style.width.%]="10">{{getAreaRevision(1, area) | date: "dd/M/yyyy"}}</td>
            <td [style.width.%]="10">{{getAreaRevision(0, area) | date: "dd/M/yyyy"}}</td>
            <td [style.width.%]="10"></td>
            <td [style.width.%]="10"></td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </mat-card>
  </div>
</div>
  
<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->