<div fxLayout="column"  class="components-container-gt-xs"  [ngClass.xs]="'components-container-xs'"  fxLayoutGap="20px">
    
	<div fxFlex class="table-component-holder mat-elevation-z4">
        <mat-toolbar>
            <span>
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
            </span>
            <!-- This fills the remaining space of the current row -->
            <span class="example-fill-remaining-space">
                Material Requests
            </span>
            
            <span>            
                <button matTooltip="New Material Request"
                    mat-button class="mat-icon-button"
                    aria-label="new-material-request"
                    [routerLinkActive]="'active'"
                    [routerLink]="['/material-request-create']">
                    <mat-icon>add</mat-icon>
                </button>
            </span>
        </mat-toolbar>
		<div class="example-container mat-elevation-z8">
            <mat-table [dataSource]="dataSource" matSort matSortActive="timestamp" matSortDirection="desc">
    
                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Actioned </mat-header-cell>
                    <mat-cell *matCellDef="let row"><mat-checkbox disabled="true" [checked]="row.action" aria-label="action"></mat-checkbox></mat-cell>
                </ng-container>

                <ng-container matColumnDef="qsAuth">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>QA Auth </mat-header-cell>
                    <mat-cell *matCellDef="let row"><mat-checkbox disabled="true" [checked]="row.qsAuth" aria-label="qsAuth"></mat-checkbox></mat-cell>
                </ng-container>

                <ng-container matColumnDef="update">
                    <mat-header-cell *matHeaderCellDef>Update </mat-header-cell>
                    <mat-cell *matCellDef="let row">         
                        <button matTooltip="New Material Request"
                        mat-button class="mat-icon-button"
                        aria-label="new-material-request"
                        [routerLinkActive]="'active'"
                        [routerLink]="['/material-request-details',row.$key]">
                        <mat-icon>edit</mat-icon>
                    </button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="materialNumber"> 
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Request No. </mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.materialNumber}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="timestamp">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Timestamp </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.timestamps.created | date: "dd/M/yyyy"}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="person">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Person </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.person}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="projectId">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Project No </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.projectId}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="projectName"> 
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Project Name </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.projectName}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="materialRequired"> 
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Material Required </mat-header-cell>
                    <mat-cell *matCellDef="let row"><app-text-dialog [style.display]="row.materialRequired !== undefined ? '' : 'none'" [text]="row.materialRequired"></app-text-dialog></mat-cell>
                </ng-container>

                <ng-container matColumnDef="dateRequired"> 
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Required </mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.dateRequired | date: "dd/M/yyyy"}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="reason"> 
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Reason </mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.reason}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="mainContractor"> 
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Main Contractor </mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.mainContractor}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="siteContact"> 
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Site Contact </mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.siteContact}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="note"> 
                    <mat-header-cell *matHeaderCellDef>Comments </mat-header-cell>
                    <mat-cell *matCellDef="let row"><app-text-dialog [style.display]="row.note !== undefined ? '' : 'none'" [text]="row.note"></app-text-dialog></mat-cell>
                </ng-container>

                <ng-container matColumnDef="deliveryDate"> 
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Delivery Date </mat-header-cell>
                    <mat-cell mat-cell *matCellDef="let row">{{row.deliveryDate | date: "dd/M/yyyy"}}</mat-cell>
                </ng-container>
            
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
            </mat-table>
            
            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
        </div>
    </div>
</div>