    <!-- loader -->
  <div *ngIf="!loaded" class="loader-container" >
    <div class="spinner"> 
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
  <div *ngIf="loaded" class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <div [fxFlex]="50" class="height-balance">
      <mat-card>
        <app-stacked-grouped-chart [title]="'Design Dash'" [chartData]="this.chartData.chartData" [chartColours]="this.chartColors"></app-stacked-grouped-chart>
      </mat-card>
    </div>
    <div [fxFlex]="50" class="height-balance">
      <mat-card>
          <!-- <mat-grid-list cols="6" rowHeight="fit" class="designDash-grid-list">
            <mat-grid-tile class="titleFont">Date</mat-grid-tile>
            <mat-grid-tile class="titleFont" *ngFor="let day of this.chartData.daysOfWeeks">{{day | date:'EEEE'}}</mat-grid-tile>

            <mat-grid-tile class="titleFont">Date</mat-grid-tile>
            <mat-grid-tile class="titleFont" *ngFor="let day of this.chartData.daysOfWeeks">{{day | date:"d MMM"}}</mat-grid-tile>

            <mat-grid-tile class="titleFont">m2 (design entered)</mat-grid-tile>
            <mat-grid-tile class="titleFont"*ngFor="let day of this.chartData.daysOfWeeks">{{this.chartData.weeks[day].areaOfPanels | number : 0}} / {{this.chartData.weeks[day].numberOfPanels}}</mat-grid-tile>

            <mat-grid-tile class="titleFont">m2 (predicted)</mat-grid-tile>
            <mat-grid-tile class="titleFont"*ngFor="let day of this.chartData.daysOfWeeks">{{this.chartData.weeks[day].predictedPlanM2 | number : 0}} / {{this.chartData.weeks[day].predictedPlanPanels}}</mat-grid-tile>
        
            <mat-grid-tile class="titleFont">m2 (actual)</mat-grid-tile>
            <mat-grid-tile class="titleFont" *ngFor="let day of this.chartData.daysOfWeeks">{{this.chartData.weeks[day].actualPlanM2 | number : 0}} / {{this.chartData.weeks[day].actualPlanPanels}}</mat-grid-tile>

            <mat-grid-tile class="titleFont">Areas</mat-grid-tile>
            <mat-grid-tile class="titleFont" *ngFor="let day of this.chartData.daysOfWeeks">{{getAreas(this.chartData, day)}}</mat-grid-tile>

            <mat-grid-tile class="titleFont">Areas Uploaded</mat-grid-tile>
            <mat-grid-tile class="titleFont" *ngFor="let day of this.chartData.daysOfWeeks">{{areasWithActuals(this.chartData.areasByDesignHandoverDate[this.chartData.weekStartReturn][day])}}</mat-grid-tile>

            <mat-grid-tile class="titleFont">DFM Buffer</mat-grid-tile>
            <mat-grid-tile class="titleFont" *ngFor="let day of this.chartData.daysOfWeeks"><app-dfm-buffer [date]="day"></app-dfm-buffer></mat-grid-tile>
        </mat-grid-list> -->

        <table class="data-table" style="height:100%;">
          <thead>
              <tr>
                  <td>
                      <span class="pull-center">
                          <app-date-picker [selectDate]="selectDate" (currentDateChange)="dateChange($event)"></app-date-picker>
                      </span>
                  </td>
                  <td *ngFor="let day of this.chartData.daysOfWeeks">{{day | date:'EEEE'}}</td>
              </tr>
              <tr>
                  <td>Week {{this.chartData.weekStartReturn | date:"w"}}</td>
                  <td *ngFor="let day of this.chartData.daysOfWeeks">{{day | date:"d MMM"}}</td>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>m2 (designed)</td>
                  <td *ngFor="let day of this.chartData.daysOfWeeks">{{this.chartData.weeks[day].areaOfPanels | number : 0}} / {{this.chartData.weeks[day].numberOfPanels}}</td>
              </tr>
              <tr>
                  <td>m2 (predicted)</td>
                  <td *ngFor="let day of this.chartData.daysOfWeeks">{{this.chartData.weeks[day].predictedPlanM2 | number : 0}} / {{this.chartData.weeks[day].predictedPlanPanels}}</td>
              </tr>
              <tr>
                  <td>m2 (actual)</td>
                  <td *ngFor="let day of this.chartData.daysOfWeeks">{{this.chartData.weeks[day].actualPlanM2 | number : 0}} / {{this.chartData.weeks[day].actualPlanPanels}}</td>
              </tr>
              <tr>
                  <td>Areas</td>
                  <td *ngFor="let day of this.chartData.daysOfWeeks">{{getAreas(this.chartData, day)}}</td>
              </tr>
              <tr>
                  <td>Areas Uploaded</td>
                  <td *ngFor="let day of this.chartData.daysOfWeeks">{{areasWithActuals(this.chartData, day)}}</td>
              </tr>
              <tr>
                  <td>DFM Buffer</td>
                  <td *ngFor="let day of this.chartData.daysOfWeeks"><app-dfm-buffer [date]="day"></app-dfm-buffer></td>
              </tr>
          </tbody>
      </table>
      </mat-card>
    </div>
  </div>
  <mat-card *ngIf="loaded">

    <table class="data-table">
      <tr>
          <th>Day<app-data-export [disabled]="false" [name]="'Design Dash'" [data]=exportsDash></app-data-export></th>
          <td>Area<button 
            (click)="openDialog()"
            matTooltip="Click to search areas" 
            mat-icon-button class="mat-icon-button" 
            aria-label="search">
              <mat-icon>search</mat-icon>
            </button>
          </td>
          <td>Panels</td>
          <td>Area</td>
          <td>Edit Panels</td>
          <td>Risk Days</td>
          <td>Area Start Date</td>
          <td>DFM Date</td>
          <td>DFM. Check</td>
          <td>Handover Conf.</td>
          <td>Area Uploaded</td>
          <td>Drawings</td>
      </tr>
      <ng-container *ngFor="let item of chartData.areasByDesignHandoverDate[this.chartData.weekStartReturn] | keyvalue">
        <tr>
          <td [attr.rowspan]="item.value.length">{{item.key | date:'EEEE'}} <br> {{item.key | date:"d MMM"}}</td>
          <td><a [routerLinkActive]="'active'" [routerLink]="['/project',item.value[0].project, 'delivery-schedule']">{{item.value[0]._id}}</a></td>
          <td>{{item.value[0].numberOfPanels ? item.value[0].numberOfPanels : 0}}</td>
          <td>{{item.value[0].areaOfPanels ? item.value[0].areaOfPanels : 0}}</td>
          <td><app-design-entered [area]="item.value[0]"></app-design-entered></td>
          <td *ngIf="item.value[0].plan !== undefined">{{getRiskDays(item.value[0].plan) | riskDays}} </td>
          <td *ngIf="item.value[0].plan === undefined">No plan </td>
          <td *ngIf="item.value[0].plan !== undefined">{{item.value[0].plan.plannedStart | date:"d MMM yy" }} </td>
          <td *ngIf="item.value[0].plan === undefined">No plan </td>
          <td>
            <app-date-picker [selectDate]="item.value[0].additionalData && item.value[0].additionalData.DFMDate ? item.value[0].additionalData.DFMDate : item.value[0]._designHandoverDate" (currentDateChange)="dateChange2(item.value[0].$key, $event)"></app-date-picker>
          </td>
          <td>
            <app-additional-data [areaRef]="item.value[0].$key" [type]="'checkedDFM'"></app-additional-data>
          </td>
          <td>
            <app-additional-data [areaRef]="item.value[0].$key" [type]="'handoverConfirmed'"></app-additional-data>
          </td>
          <td *ngIf="item.value[0].panStatus">
            <mat-checkbox
            [checked]="true"
            [disabled]="true">
            </mat-checkbox>
          </td>
          <td *ngIf="!item.value[0].panStatus">
            <mat-checkbox
            [checked]="false"
            [disabled]="true">
          </mat-checkbox>
          </td>
          <td>
            <app-additional-data [areaRef]="item.value[0].$key" [type]="'drawings'"></app-additional-data>
          </td>
        </tr>
        <tr *ngFor="let restOf of item.value.slice(1) | keyvalue">
          <td><a [routerLinkActive]="'active'" [routerLink]="['/project',restOf.value.project, 'delivery-schedule']">{{restOf.value._id}}</a></td>
          <td>{{restOf.value.numberOfPanels ? restOf.value.numberOfPanels : 0}}</td>
          <td>{{restOf.value.areaOfPanels ? restOf.value.areaOfPanels : 0}}</td>
          <td><app-design-entered [area]="restOf.value"></app-design-entered></td>
          <td *ngIf="restOf.value.plan !== undefined">{{getRiskDays(restOf.value.plan) | riskDays}} </td>
          <td *ngIf="restOf.value.plan === undefined">No plan </td>
          <td *ngIf="restOf.value.plan !== undefined">{{restOf.value.plan.plannedStart | date:"d MMM yy" }} </td>
          <td *ngIf="restOf.value.plan === undefined">No plan </td>
          <td>
            <app-date-picker [selectDate]="restOf.value.additionalData !== undefined && restOf.value.additionalData.DFMDate !== undefined ? restOf.value.additionalData.DFMDate : restOf.value._designHandoverDate" (currentDateChange)="dateChange2(restOf.value.$key, $event)"></app-date-picker>
          </td>
          <td>
            <app-additional-data [areaRef]="restOf.value.$key" [type]="'checkedDFM'"></app-additional-data>
          </td>
          <td>
            <app-additional-data [areaRef]="restOf.value.$key" [type]="'handoverConfirmed'"></app-additional-data>
          </td>
          <td *ngIf="restOf.value.panStatus">
            <mat-checkbox
            [checked]="true"
            [disabled]="true">
            </mat-checkbox>
          </td>
          <td *ngIf="!restOf.value.panStatus">
            <mat-checkbox
            [checked]="false"
            [disabled]="true">
            </mat-checkbox>
          </td>
          <td>
            <app-additional-data [areaRef]="restOf.value.$key" [type]="'drawings'"></app-additional-data>
          </td>
      </tr>
      </ng-container>
    </table> 
  </mat-card>