<h1 mat-dialog-title>Are you sure you want to delete the jobsheet?</h1>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="'delete'" cdkFocusInitial>Delete</button>
</div>
