<mat-dialog-content>
  <mat-toolbar>
      Edit Supplier Stock
    <span class="example-spacer"></span>
    <app-delete-supply-chain [stockDetailsKey]="stockDetailsKey" [supplierKey]="supplierKey" [stockItemKey]="stockItemKey" [type]="'supplier-stock'"></app-delete-supply-chain>
  </mat-toolbar>
  <table>
    <tr>
      <th colspan="4">Details</th>
    </tr>
    <tr>
      <td>Supplier</td>
      <td>
        <span *ngIf="suppliersArr | async as suppliers">
          <mat-form-field appearance="fill">
            <mat-label>Supplier</mat-label>
            <mat-select [disabled]="true" [(ngModel)]="supplerStock.companyName" name="supplier" placeholder="Supplier" (selectionChange)='onSuppliersOptionsSelected($event.value, suppliers)'>
              <mat-option *ngFor="let item of suppliers" [value]="item.companyName">
                {{item.companyName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </span>
      </td>
      <td>Unit of Purchase</td>
      <td>
        <mat-form-field appearance="fill">
          <mat-label>Unit of Purchase</mat-label>
          <mat-select [(ngModel)]="supplerStock.type" name="type" placeholder="type" (selectionChange)='onSupplierStockOptionsSelected($event.value)'>
            <mat-option *ngFor="let item of unitOfPurchaseOptions" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>Count</td>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput [disabled]='countDisable' type='number' [(ngModel)]="supplerStock.count">
        </mat-form-field>
      </td>
      <td>Cost</td>
      <td>
        <mat-form-field class="example-full-width">
          £ <input matInput  class="inputWidth" type='number' [(ngModel)]="supplerStock.cost">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>Status</td>
      <td>
        <mat-form-field appearance="fill">
          <mat-label>Status</mat-label>
          <mat-select [(ngModel)]="supplerStock.status" name="status" placeholder="status">
            <mat-option *ngFor="let item of statusOptions" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>Delivery Lead Time</td>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput class="inputWidth" type='number' [(ngModel)]="supplerStock.delTime"> days
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>Collection Lead Time</td>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput class="inputWidth" type='number' [(ngModel)]="supplerStock.colTime"> days
        </mat-form-field>
      </td>
      <td>Storage Width</td>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput type='number' [(ngModel)]="supplerStock.storageWidth">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>Storage Depth</td>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput type='number' [(ngModel)]="supplerStock.storageDepth">
        </mat-form-field>
      </td>
      <td>storage Length</td>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput type='number' [(ngModel)]="supplerStock.storageLength">
        </mat-form-field>
      </td>
    </tr>
  </table>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button (click)="save(supplerStock)">Save</button>
</div>
