<div fxLayout="column"  class="components-container-gt-xs"  [ngClass.xs]="'components-container-xs'"  fxLayoutGap="20px">
    
<div fxFlex class="table-component-holder mat-elevation-z4">
      <mat-toolbar>
          <span>
              <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
              </mat-form-field>
          </span>
          <!-- This fills the remaining space of the current row -->
          <span class="example-fill-remaining-space">
              Current Quotes
          </span>
          
          <span> 
            <button mat-icon-button (click)="dimensionsPopup()">
                <mat-icon>cloud_upload</mat-icon>
            </button>
          </span>
          <!-- <div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
              <div [fxFlex]="33.33">
                  <span fxFlexFill fxLayoutAlign="center center">
                      Projects
                  </span>
              </div>
              <div [fxFlex]="33.33">
                  <span fxFlexFill fxLayoutAlign="center center">
                      <mat-form-field>
                          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                      </mat-form-field>
                  </span>
              </div>
              <div [fxFlex]="33.33">
                  <span fxFlexFill fxLayoutAlign="center center">
                      <button matTooltip="Add New Project"
                          mat-button class="mat-icon-button"
                          aria-label="add-project"
                          [routerLinkActive]="'active'"
                          [routerLink]="['/project-details']">
                          <mat-icon>add</mat-icon>
                      </button>
                  </span>
              </div>
          </div> -->
      </mat-toolbar>

  <div *ngIf="loaded" class="table-container">
          <table mat-table [dataSource]="dataSource" matSort matSortActive="qid" matSortDirection="desc" (matSortChange)="sortData($event)" class="mat-elevation-z8">

              <!-- ID Column -->
              <ng-container matColumnDef="qid">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header="qid">Quote No. </th>
                  <td mat-cell *matCellDef="let row">         
                      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/quote',row.$key]"> {{returnQuote(row.qid)}}</a>
                  </td>
              </ng-container>

              <ng-container matColumnDef="project">
                <th mat-header-cell *matHeaderCellDef>Project </th>
                <td mat-cell *matCellDef="let row">
                    <app-select-project [projects]="projects" [quotes]="quotesList" [quote]="row"></app-select-project>
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="quoteName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header="quoteName">Name </th>
                  <td mat-cell *matCellDef="let row"> {{row.quoteName}} </td>
              </ng-container>

              <ng-container matColumnDef="isActive">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="isActive">isActive </th>
                <td mat-cell *matCellDef="let row"> <span *ngIf="row.project"> {{activeProjects[row.project]}} </span> </td>
              </ng-container>

              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="delete">Delete </th>
                <td mat-cell *matCellDef="let row"> 
                    <button *ngIf="row.project === ''" mat-icon-button (click)="deleteQuotesInactive(row.$key)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button *ngIf="row.project && !activeProjects[row.project]" mat-icon-button (click)="deleteQuotesInactive(row.$key)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr> 
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>
      </div>
  </div>
</div>
