<div class="container box">
  <div class="row">
      <h1>
          Datum Entries
      </h1>
  </div>
  <div class="row">
    <div *ngIf="loaded" class="center">
        <div>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th rowspan="2">Datum Type</th>
                        <th colspan="2" scope="colgroup">SIP</th>
                        <th colspan="2" scope="colgroup">HSIP</th>
                        <th colspan="2" scope="colgroup">IFAST</th>
                        <th colspan="2" scope="colgroup">TF</th>
                        <th colspan="2" scope="colgroup">CASS</th>
                    </tr>
                    <tr>
                        <th>Average m<sup>2</sup></th>
                        <th>Overide m<sup>2</sup></th>
                        <th>Average m<sup>2</sup></th>
                        <th>Overide m<sup>2</sup></th>
                        <th>Average m<sup>2</sup></th>
                        <th>Overide m<sup>2</sup></th>
                        <th>Average m<sup>2</sup></th>
                        <th>Overide m<sup>2</sup></th>
                        <th>Average m<sup>2</sup></th>
                        <th>Overide m<sup>2</sup></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let datum of datums">
                        <td>{{datum.name}}</td>
                        <td>{{datum.productionLines.SIP.panelAvg}}</td>
                        <td><input class="middle" (ngModelChange)="updateOverride(datum.name, datum)" type="number" [(ngModel)]="datum.productionLines.SIP.panelAvgOverride"></td>
                        <td>{{datum.productionLines.HSIP.panelAvg}}</td>
                        <td><input class="middle" (ngModelChange)="updateOverride(datum.name, datum)" type="number" [(ngModel)]="datum.productionLines.HSIP.panelAvgOverride"></td>
                        <td>{{datum.productionLines.IFAST.panelAvg}}</td>
                        <td><input class="middle" (ngModelChange)="updateOverride(datum.name, datum)" type="number" [(ngModel)]="datum.productionLines.IFAST.panelAvgOverride"></td>
                        <td>{{datum.productionLines.TF.panelAvg}}</td>
                        <td><input class="middle" (ngModelChange)="updateOverride(datum.name, datum)" type="number" [(ngModel)]="datum.productionLines.TF.panelAvgOverride"></td>
                        <td>{{datum.productionLines.CASS.panelAvg}}</td>
                        <td><input class="middle" (ngModelChange)="updateOverride(datum.name, datum)" type="number" [(ngModel)]="datum.productionLines.CASS.panelAvgOverride"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
</div>