$headerheight: 40px;

$lightgray: #F8F8F8;
$gray:#E2E2E2;
$darkgray:#585F69;
$purple:#903F98;
$lightpurple:#AF78B4;
$darkpurple:#2D1E3E;
$green:#BED600;
$lightgreen:#EAF498;
$red:#D0021B;
$blue:#4A90E2;
$lightblue:#DFEEFF;

$radius:5px;

$outline: none !important;

.center {
  display: flex;
  justify-content: center;
  height: 100%;
}


.center div{
  align-self: center;
}


.table {margin:0px;}
.table-bordered {border:0px;
                 border-top: 1px solid #ddd;
            thead tr th {border-left:0px;}
            thead.top tr th {border-left:1px solid $gray;
                             border-bottom: 1px solid $gray; 
                             font-weight: normal; 
                             &:first-of-type {border-left: 0;}} 
           thead.top tr.graybg th {background: lighten($gray, 8%); 
                                   font-weight:700;  
}
            tbody tr td {border-left:0px;} 
}

th.no-border{border:none !important;
             text-align: left;
             font-weight: bold !important;}

.table>thead>tr>th,  .table>tbody>tr>td {vertical-align: middle;}

table th, table tr{text-align: center;}

.table.left tr th:first-of-type, .table.left tr td:first-of-type{text-align: left; padding-left:20px;}

.table>tbody>tr>td {padding:18px 8px;}

.table>thead>tr>th {border-bottom:initial;}

.table>tbody>tr.month>td {padding:2px 15px;
                         background: #ddd;
                         text-align: left;}

th {background: lighten($gray, 8%)}


tr td.newrev {background: $gray;}
tr.colorbg td.weekend {background:$lightgreen;}

.colorbg {background:$lightgreen;}

.colortxtgr {color:$green;}
.colortxtrd {color:$red;}

/*Highlight third party supplier*/

.thirdparty:active, .thirdparty:hover  {
  background: $lightblue !important;
}

/*Highlight current day*/
.table-bordered>tbody>tr>td.current {box-shadow: 
  inset -2px 0px 0px $lightpurple, 
  inset 3px 0px 0px $lightpurple;
}

.table-bordered>tbody>tr:last-of-type>td.current {
box-shadow: 
  inset -2px 0px 0px $lightpurple, 
  inset 3px 0px 0px $lightpurple,
  inset 0px -2px 0px $lightpurple;    
}

.table-bordered>thead>tr>th.current
{box-shadow: 
  inset -2px 0px 0px $lightpurple, 
  inset 3px 0px 0px $lightpurple,
  inset 0px 2px 0px $lightpurple;    
}

/*TABLE ROW HIGHLIGHT*/

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th, .table-hover tbody tr:hover td.weekend {
  background: $lightblue !important;
}

.table-hover tbody tr.active:hover td, .table-hover tbody tr.active:hover th, 
.table-hover tbody tr.info:hover td, .table-hover tbody tr.info:hover th {
  background: $lightblue !important;
}

.table-hover tbody tr.success:hover td, .table-hover tbody tr.success:hover th,
.table-hover tbody tr.success:hover td.weekend{
  background: lighten($lightgreen, 5%) !important;
}

.table>tbody>tr.success>td, .table>tbody>tr.success>th, .table>tbody>tr>td.success, .table>tbody>tr>th.success, .table>tfoot>tr.success>td, .table>tfoot>tr.success>th, .table>tfoot>tr>td.success, .table>tfoot>tr>th.success, .table>thead>tr.success>td, .table>thead>tr.success>th, .table>thead>tr>td.success, .table>thead>tr>th.success {
 background: lighten($lightgreen, 15%);
}

.table>tbody>tr.new>td, .table>tbody>tr.new>th, .table>tbody>tr>td.new, .table>tbody>tr>th.new, .table>tfoot>tr.new>td, .table>tfoot>tr.new>th, .table>tfoot>tr>td.new, .table>tfoot>tr>th.new, .table>thead>tr.new>td, .table>thead>tr.new>th, .table>thead>tr>td.new, .table>thead>tr>th.new {
 background: $gray;
}

.table>tbody>tr.info>td, .table>tbody>tr.info>th, .table>tbody>tr>td.info, .table>tbody>tr>th.info, .table>tfoot>tr.info>td, .table>tfoot>tr.info>th, .table>tfoot>tr>td.info, .table>tfoot>tr>th.info, .table>thead>tr.info>td, .table>thead>tr.info>th, .table>thead>tr>td.info, .table>thead>tr>th.info 

.table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active {
 background: $lightblue !important; }

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {vertical-align: middle;}

td {min-width:35px;}

th, td {overflow:hidden;
    white-space:nowrap; 
    text-overflow: ellipsis;}


