<div mat-dialog-content>
  <h4>Line Selection</h4>
  <mat-form-field>
    <mat-label>Select Line</mat-label>
    <mat-select (selectionChange)="lineChange($event)">
      <mat-option *ngFor="let line of lines" [value]="line.value">
        {{line.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="line" cdkFocusInitial>Ok</button>
</div>