    <!-- loader -->
    <div *ngIf="!loaded" class="loader-container" >
      <div class="spinner"> 
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
  
    <div *ngIf="loaded" class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
      <div [fxFlex]="50" class="height-balance">
        <mat-card>
          <app-stacked-grouped-chart [title]="'Booking Dash'" [chartData]="this.chartData.chartData" [chartColours]="this.chartColors"></app-stacked-grouped-chart>
        </mat-card>
      </div>
      <div [fxFlex]="50" class="height-balance">
        <mat-card>
            <!-- <mat-grid-list cols="6" rowHeight="fit" class="designDash-grid-list">
              <mat-grid-tile class="titleFont">Date</mat-grid-tile>
              <mat-grid-tile class="titleFont" *ngFor="let day of this.chartData.daysOfWeeks">{{day | date:'EEEE'}}</mat-grid-tile>
  
              <mat-grid-tile class="titleFont">Date</mat-grid-tile>
              <mat-grid-tile class="titleFont" *ngFor="let day of this.chartData.daysOfWeeks">{{day | date:"d MMM"}}</mat-grid-tile>
  
              <mat-grid-tile class="titleFont">m2 (design entered)</mat-grid-tile>
              <mat-grid-tile class="titleFont"*ngFor="let day of this.chartData.daysOfWeeks">{{this.chartData.weeks[day].areaOfPanels | number : 0}} / {{this.chartData.weeks[day].numberOfPanels}}</mat-grid-tile>
  
              <mat-grid-tile class="titleFont">m2 (predicted)</mat-grid-tile>
              <mat-grid-tile class="titleFont"*ngFor="let day of this.chartData.daysOfWeeks">{{this.chartData.weeks[day].predictedPlanM2 | number : 0}} / {{this.chartData.weeks[day].predictedPlanPanels}}</mat-grid-tile>
          
              <mat-grid-tile class="titleFont">m2 (actual)</mat-grid-tile>
              <mat-grid-tile class="titleFont" *ngFor="let day of this.chartData.daysOfWeeks">{{this.chartData.weeks[day].actualPlanM2 | number : 0}} / {{this.chartData.weeks[day].actualPlanPanels}}</mat-grid-tile>
  
              <mat-grid-tile class="titleFont">Areas</mat-grid-tile>
              <mat-grid-tile class="titleFont" *ngFor="let day of this.chartData.daysOfWeeks">{{getAreas(this.chartData, day)}}</mat-grid-tile>
  
              <mat-grid-tile class="titleFont">Areas Uploaded</mat-grid-tile>
              <mat-grid-tile class="titleFont" *ngFor="let day of this.chartData.daysOfWeeks">{{areasWithActuals(this.chartData.areasByDesignHandoverDate[this.chartData.weekStartReturn][day])}}</mat-grid-tile>
  
              <mat-grid-tile class="titleFont">DFM Buffer</mat-grid-tile>
              <mat-grid-tile class="titleFont" *ngFor="let day of this.chartData.daysOfWeeks"><app-dfm-buffer [date]="day"></app-dfm-buffer></mat-grid-tile>
          </mat-grid-list> -->
  
          <table class="data-table" style="height:100%;">
            <thead>
                <tr>
                    <td>
                        <span class="pull-center">
                            <app-date-picker [selectDate]="selectDate" (currentDateChange)="dateChange($event)"></app-date-picker>
                        </span>
                    </td>
                    <td *ngFor="let day of objKeys(this.chartData.daysOfWeeks)">{{day | date:'EEEE'}}</td>
                </tr>
                <tr>
                    <td>Week {{this.chartData.weekStartReturn | date:"w"}}</td>
                    <td *ngFor="let day of objKeys(this.chartData.daysOfWeeks)">{{day | date:"d MMM"}}</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td>Deliveries</td>
                  <td *ngFor="let day of objKeys(this.chartData.daysOfWeeks)">
                    {{round1(this.chartData.daysOfWeeks[day].deliverys)}}
                  </td>
                </tr>
                <tr>
                  <td>Booked</td>
                  <td *ngFor="let day of objKeys(this.chartData.daysOfWeeks)">
                    {{this.chartData.daysOfWeeks[day].booked}}
                  </td>
              </tr>
              <tr>
                <td>Overdue</td>
                <td *ngFor="let day of objKeys(this.chartData.daysOfWeeks)">
                  {{round1(this.chartData.daysOfWeeks[day].booked - this.chartData.daysOfWeeks[day].deliverys)}}
                </td>
              </tr>
              <tr>
                <td>OnTime</td>
                <td *ngFor="let day of objKeys(this.chartData.daysOfWeeks)">
                  {{calculatePercentage(this.chartData.daysOfWeeks[day].booked, this.chartData.daysOfWeeks[day].deliverys)}}%
                </td>
              </tr>
            </tbody>
        </table>
        </mat-card>
      </div>
    </div>
    <mat-card *ngIf="loaded">

      <mat-toolbar>
        <app-add-booking [type]="'add'" [selectDate]="selectDate"></app-add-booking>
       <span class="example-spacer"></span>
       <app-data-export [data]=exportAreas></app-data-export>
     </mat-toolbar>
  
      <table class="data-table">
        <tr>
            <th>Booking</th>
            <th>Proj. No</th>
            <td>Del. No</td>
            <td>Load Desc.</td>
            <td>Del. m2</td>
            <td>Collection</td>
            <td>Delivery</td>
            <td>Drawings</td>
            <td>Booked</td>
            <td>Ticket</td>
            <td>Loaded</td>
            <td>Delivered</td>
            <td>Completed</td>
            <td>Edit/Delete</td>
        </tr>
        <ng-container *ngFor="let item of chartData.areasByDesignHandoverDate[this.chartData.weekStartReturn] | keyvalue">
          <tr>
            <td [attr.rowspan]="item.value.length">{{item.key | date:'EEEE'}} <br> {{item.key | date:"d MMM"}}</td>
            <td>{{projectList[item.value[0].project].id}}</td>
            <td>{{item.value[0].delNumber}}</td>
            <td>{{item.value[0].loadDesc}}</td>
            <td>{{item.value[0].m2}}</td>
            <td>
              <app-change-date-time [type]="'booking'" [bookingRef]="item.value[0].$key" [date]="item.value[0].bookedTime" [time]="item.value[0].bookedTimeText"></app-change-date-time>
            </td>
            <td>
              <app-change-date-time [type]="'delivery'" [bookingRef]="item.value[0].$key" [date]="item.value[0].deliveryTime" [time]="item.value[0].deliveryTimeText"></app-change-date-time>     
            </td>
            <td>
              <mat-checkbox [checked]="isDrawingChecked(item.value[0])" disabled></mat-checkbox>
            </td>
            <td>
              <mat-checkbox *ngIf="item.value[0].booked" [checked]="item.value[0].booked.status" (click)="changeAdditional($event, item.value[0].booked.status, 'booked', item.value[0].$key)"> \ {{item.value[0].booked.user}}</mat-checkbox>
              <mat-checkbox *ngIf="!item.value[0].booked" [checked]="false" (click)="changeAdditional($event, false, 'booked', item.value[0].$key)"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox *ngIf="item.value[0].ticket" [checked]="item.value[0].ticket.status" (click)="changeAdditional($event, item.value[0].ticket.status, 'ticket', item.value[0].$key)"> \ {{item.value[0].ticket.user}}</mat-checkbox>
              <mat-checkbox *ngIf="!item.value[0].ticket" [checked]="false" (click)="changeAdditional($event, false, 'ticket', item.value[0].$key)"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox *ngIf="item.value[0].loaded" [checked]="item.value[0].loaded.status" (click)="changeAdditional($event, item.value[0].loaded.status, 'loaded', item.value[0].$key)"> \ {{item.value[0].loaded.user}}</mat-checkbox>
              <mat-checkbox *ngIf="!item.value[0].loaded" [checked]="false" (click)="changeAdditional($event, false, 'loaded', item.value[0].$key)"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox *ngIf="item.value[0].delivered" [checked]="item.value[0].delivered.status" (click)="changeAdditional($event, item.value[0].delivered.status, 'delivered', item.value[0].$key)"> \ {{item.value[0].delivered.user}}</mat-checkbox>
              <mat-checkbox *ngIf="!item.value[0].delivered" [checked]="false" (click)="changeAdditional($event, false, 'delivered', item.value[0].$key)"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox *ngIf="item.value[0].complete" [checked]="item.value[0].complete.status" (click)="changeAdditional($event, item.value[0].complete.status, 'complete', item.value[0].$key)"> \ {{item.value[0].complete.user}}</mat-checkbox>
              <mat-checkbox *ngIf="!item.value[0].complete" [checked]="false" (click)="changeAdditional($event, false, 'complete', item.value[0].$key)"></mat-checkbox>
            </td>
            <td>
              <app-add-booking [type]="'edit'" [booking]="item.value[0]"></app-add-booking>
              <app-add-booking [type]="'delete'" [booking]="item.value[0]"></app-add-booking>
            </td>
          </tr>
          <tr *ngFor="let restOf of item.value.slice(1) | keyvalue">
            <td>{{projectList[restOf.value.project].id}}</td>
            <td>{{restOf.value.delNumber}}</td>
            <td>{{restOf.value.loadDesc}}</td>
            <td>{{restOf.value.m2}}</td>
            <td>
              <app-change-date-time [type]="'booking'" [bookingRef]="restOf.value.$key" [date]="restOf.value.bookedTime" [time]="restOf.value.bookedTimeText"></app-change-date-time>
            </td>
            <td>
              <app-change-date-time [type]="'delivery'" [bookingRef]="restOf.value.$key" [date]="restOf.value.deliveryTime" [time]="restOf.value.deliveryTimeText"></app-change-date-time>
            </td>
            <td>
              <mat-checkbox [checked]="isDrawingChecked(restOf.value)" disabled></mat-checkbox>
            </td>
            <td>
              <mat-checkbox *ngIf="restOf.value.booked" [checked]="restOf.value.booked.status" (click)="changeAdditional($event, restOf.value.booked.status, 'booked', restOf.value.$key)"> \ {{restOf.value.booked.user}}</mat-checkbox>
              <mat-checkbox *ngIf="!restOf.value.booked" [checked]="false" (click)="changeAdditional($event, false, 'booked', restOf.value.$key)"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox *ngIf="restOf.value.ticket" [checked]="restOf.value.ticket.status" (click)="changeAdditional($event, restOf.value.ticket.status, 'ticket', restOf.value.$key)"> \ {{restOf.value.ticket.user}}</mat-checkbox>
              <mat-checkbox *ngIf="!restOf.value.ticket" [checked]="false" (click)="changeAdditional($event, false, 'ticket', restOf.value.$key)"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox *ngIf="restOf.value.loaded" [checked]="restOf.value.loaded.status" (click)="changeAdditional($event, restOf.value.loaded.status, 'loaded', restOf.value.$key)"> \ {{restOf.value.loaded.user}}</mat-checkbox>
              <mat-checkbox *ngIf="!restOf.value.loaded" [checked]="false" (click)="changeAdditional($event, false, 'loaded', restOf.value.$key)"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox *ngIf="restOf.value.delivered" [checked]="restOf.value.delivered.status" (click)="changeAdditional($event, restOf.value.delivered.status, 'delivered', restOf.value.$key)"> \ {{restOf.value.delivered.user}}</mat-checkbox>
              <mat-checkbox *ngIf="!restOf.value.delivered" [checked]="false" (click)="changeAdditional($event, false, 'delivered', restOf.value.$key)"></mat-checkbox>
            </td>
            <td>
              <mat-checkbox *ngIf="restOf.value.complete" [checked]="restOf.value.complete.status" (click)="changeAdditional($event, restOf.value.complete.status, 'complete', restOf.value.$key)"> \ {{restOf.value.complete.user}}</mat-checkbox>
              <mat-checkbox *ngIf="!restOf.value.complete" [checked]="false" (click)="changeAdditional($event, false, 'complete', restOf.value.$key)"></mat-checkbox>
            </td>
            <td>
              <app-add-booking [type]="'edit'" [booking]="restOf.value"></app-add-booking>
              <app-add-booking [type]="'delete'" [booking]="restOf.value"></app-add-booking>
            </td>
        </tr>
        </ng-container>
      </table> 
    </mat-card>