$gray:#E2E2E2;

.gridBorder {
    border: 0.5px solid $gray;
    font-size: 0.7vw;
}

.designDash-grid-list{
    height:100%;
}


.mat-grid-list {
    display: block;
    position: unset;
  }

.data-table {
    position: relative;
    width: 100%;
    /*border: 1px solid rgba(0,0,0,.12);*/
    border-collapse: collapse;
    white-space: nowrap;
    font-size: 1vw;
    background-color: #fff;
}

.height-balance {
    min-height: 25vw;
}

.redStamp {
    background-color: red;
    border-radius: 50%;
    padding: 15%;
    color: #fff;
}

.greenStamp {
    background-color: green;
    border-radius: 50%;
    padding: 15%;
    color: #fff;
}

.data-table th {
    position: relative;
    vertical-align: bottom;
    text-overflow: ellipsis;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    height: 1vw;
    color: rgba(0,0,0,.54);
    padding-bottom: 8px;
    box-sizing: border-box;
}

.data-table th {
    padding: 0 18px 12px 18px;
    text-align: center;
}

.data-table td {
    position: relative;
    height: 2.6vw;
    max-width: 100px;
    border-top: 1px solid rgba(0,0,0,.12);
    border-bottom: 1px solid rgba(0,0,0,.12);
    padding: 5px 18px;
    box-sizing: border-box;
}

.data-table td {
    vertical-align: middle;
    text-align: center;
}

.data-table td:first-of-type,
.data-table th:first-of-type {
    padding-left: 24px;
}

.data-table td:last-of-type,
.data-table th:last-of-type {
    padding-right: 24px;
}

.test {
    white-space: pre-line;
}  