    <!-- loader -->
    <div *ngIf="!loaded" class="loader-container" >
      <div class="spinner"> 
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
  
    <div *ngIf="loaded" class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
      <div [fxFlex]="50" class="height-balance">
        <mat-card>
          <app-stacked-grouped-chart [title]="'Logistics Dash'" [chartData]="this.chartData.chartData" [chartColours]="this.chartColors"></app-stacked-grouped-chart>
        </mat-card>
      </div>
      <div [fxFlex]="50" class="height-balance">
        <mat-card>
            <!-- <mat-grid-list cols="6" rowHeight="fit" class="designDash-grid-list">
              <mat-grid-tile class="titleFont">Date</mat-grid-tile>
              <mat-grid-tile class="titleFont" *ngFor="let day of this.chartData.daysOfWeeks">{{day | date:'EEEE'}}</mat-grid-tile>
  
              <mat-grid-tile class="titleFont">Date</mat-grid-tile>
              <mat-grid-tile class="titleFont" *ngFor="let day of this.chartData.daysOfWeeks">{{day | date:"d MMM"}}</mat-grid-tile>
  
              <mat-grid-tile class="titleFont">m2 (design entered)</mat-grid-tile>
              <mat-grid-tile class="titleFont"*ngFor="let day of this.chartData.daysOfWeeks">{{this.chartData.weeks[day].areaOfPanels | number : 0}} / {{this.chartData.weeks[day].numberOfPanels}}</mat-grid-tile>
  
              <mat-grid-tile class="titleFont">m2 (predicted)</mat-grid-tile>
              <mat-grid-tile class="titleFont"*ngFor="let day of this.chartData.daysOfWeeks">{{this.chartData.weeks[day].predictedPlanM2 | number : 0}} / {{this.chartData.weeks[day].predictedPlanPanels}}</mat-grid-tile>
          
              <mat-grid-tile class="titleFont">m2 (actual)</mat-grid-tile>
              <mat-grid-tile class="titleFont" *ngFor="let day of this.chartData.daysOfWeeks">{{this.chartData.weeks[day].actualPlanM2 | number : 0}} / {{this.chartData.weeks[day].actualPlanPanels}}</mat-grid-tile>
  
              <mat-grid-tile class="titleFont">Areas</mat-grid-tile>
              <mat-grid-tile class="titleFont" *ngFor="let day of this.chartData.daysOfWeeks">{{getAreas(this.chartData, day)}}</mat-grid-tile>
  
              <mat-grid-tile class="titleFont">Areas Uploaded</mat-grid-tile>
              <mat-grid-tile class="titleFont" *ngFor="let day of this.chartData.daysOfWeeks">{{areasWithActuals(this.chartData.areasByDesignHandoverDate[this.chartData.weekStartReturn][day])}}</mat-grid-tile>
  
              <mat-grid-tile class="titleFont">DFM Buffer</mat-grid-tile>
              <mat-grid-tile class="titleFont" *ngFor="let day of this.chartData.daysOfWeeks"><app-dfm-buffer [date]="day"></app-dfm-buffer></mat-grid-tile>
          </mat-grid-list> -->
  
          <table class="data-table" style="height:100%;">
            <thead>
                <tr>
                    <td>
                        <span class="pull-center">
                            <app-date-picker [selectDate]="selectDate" (currentDateChange)="dateChange($event)"></app-date-picker>
                        </span>
                    </td>
                    <td *ngFor="let day of objKeys(this.chartData.daysOfWeeks)">{{day | date:'EEEE'}}</td>
                </tr>
                <tr>
                    <td>Week {{this.chartData.weekStartReturn | date:"w"}}</td>
                    <td *ngFor="let day of objKeys(this.chartData.daysOfWeeks)">{{day | date:"d MMM"}}</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Areas</td>
                    <td *ngFor="let day of objKeys(this.chartData.daysOfWeeks)">

                        <span *ngIf="this.chartData.areasByDesignHandoverDate[this.chartData.weekStartReturn] !== undefined && this.chartData.areasByDesignHandoverDate[this.chartData.weekStartReturn][day] !== undefined; else displayAreas">
                          <span *ngFor="let area of this.chartData.areasByDesignHandoverDate[this.chartData.weekStartReturn][day]">
                            <app-material-requests [area]="area"></app-material-requests><br>
                          </span>
                        </span>
                        <ng-template #displayAreas>
                          None
                        </ng-template>

                    </td>
                </tr>
                <tr>
                  <td>Count</td>
                  <td *ngFor="let day of objKeys(this.chartData.daysOfWeeks)">
                    <span *ngIf="this.chartData.areasByDesignHandoverDate[this.chartData.weekStartReturn] !== undefined && this.chartData.areasByDesignHandoverDate[this.chartData.weekStartReturn][day] !== undefined; else displayCount">
                      {{this.chartData.areasByDesignHandoverDate[this.chartData.weekStartReturn][day].length || 0}}
                    </span>
                    <ng-template #displayCount>
                      0
                    </ng-template>
                  </td>
                </tr>
            </tbody>
        </table>
        </mat-card>
      </div>
    </div>
    <mat-card *ngIf="loaded">
  
      <table class="data-table">
        <tr>
            <th>Expected<app-add-booking [type]="'add'"></app-add-booking></th>
            <td>Area<button 
              (click)="openDialog()"
              matTooltip="Click to search areas" 
              mat-icon-button class="mat-icon-button" 
              aria-label="search">
                <mat-icon>search</mat-icon>
              </button>
            </td>
            <td>Complete</td>
            <td>Delivery</td>
            <td>Area Finish</td>
            <td>Risk Days</td>
            <td>Panels Qts</td>
            <td>Panel M2</td>
            <td>Jobsheets</td>
            <td>Del.Manager</td>
            <td>Vehicle</td>
            <td>Postcode</td>
        </tr>
        <ng-container *ngFor="let item of chartData.areasByDesignHandoverDate[this.chartData.weekStartReturn] | keyvalue">
          <tr>
            <td [attr.rowspan]="item.value.length">{{item.key | date:'EEEE'}} <br> {{item.key | date:"d MMM"}}</td>
            <td><a [routerLinkActive]="'active'" [routerLink]="['/project',item.value[0].project, 'delivery-schedule']">{{item.value[0]._id}}</a></td>
            <td><span [ngClass]="{'redStamp': calculatePercentage(item.value[0].completedPanels, item.value[0].actualPanels) < 100, 'greenStamp' : calculatePercentage(item.value[0].completedPanels, item.value[0].actualPanels) >= 100 }">{{calculatePercentage(item.value[0].completedPanels, item.value[0].actualPanels)}}%</span></td>
            <td>{{item.value[0]._deliveryDate | date:"d MMM yy" }}</td>
            <td *ngIf="item.value[0].plan !== undefined">{{item.value[0].plan.plannedFinish | date:"d MMM yy" }} </td>
            <td *ngIf="item.value[0].plan === undefined">No plan </td>
            <td *ngIf="item.value[0].plan !== undefined">{{getRiskDays(item.value[0].plan) | riskDays}} </td>
            <td *ngIf="item.value[0].plan === undefined">No plan </td>
            <td>
              <p matTooltipClass="test" matTooltip="{{panelStat(item.value[0])}}">{{item.value[0].actualPanels || 0}}</p>
            </td>
            <td>
              <p matTooltipClass="test" matTooltip="{{m2Stat(item.value[0])}}">{{round1(item.value[0].actualArea) || 0}}</p>
            </td>
            <td>
              <app-jobsheets [areaKey]="item.value[0].$key"></app-jobsheets>
            </td>
            <td>
              <p *ngIf="item.value[0]._projectDetails.deliveryManager">{{getInitials(item.value[0]._projectDetails.deliveryManager.name)}}</p>
            </td>
            <td>
              {{item.value[0]._projectDetails.siteAccess}}
            </td>
            <td>
              <p matTooltip="{{item.value[0]._projectDetails.siteAddress}}">{{item.value[0]._projectDetails.postCode}}</p>
            </td>
          </tr>
          <tr *ngFor="let restOf of item.value.slice(1) | keyvalue">
            <td><a [routerLinkActive]="'active'" [routerLink]="['/project',restOf.value.project, 'delivery-schedule']">{{restOf.value._id}}</a></td>
            <td><span [ngClass]="{'redStamp': calculatePercentage(restOf.value.completedPanels, restOf.value.actualPanels) < 100, 'greenStamp' : calculatePercentage(restOf.value.completedPanels, restOf.value.actualPanels) >= 100 }">{{calculatePercentage(restOf.value.completedPanels, restOf.value.actualPanels)}}%</span></td>
            <td>{{restOf.value._deliveryDate | date:"d MMM yy" }}</td>
            <td *ngIf="restOf.value.plan !== undefined">{{restOf.value.plan.plannedFinish | date:"d MMM yy" }} </td>
            <td *ngIf="restOf.value.plan === undefined">No plan </td>
            <td *ngIf="restOf.value.plan !== undefined">{{getRiskDays(restOf.value.plan) | riskDays}} </td>
            <td *ngIf="restOf.value.plan === undefined">No plan </td>
            <td>
              <p matTooltipClass="test" matTooltip="{{panelStat(restOf.value)}}">{{restOf.value.actualPanels || 0}}</p>
            </td>
            <td>
              <p matTooltipClass="test" matTooltip="{{m2Stat(restOf.value)}}">{{round1(restOf.value.actualArea) || 0}}</p>
            </td>
            <td>
              <app-jobsheets [areaKey]="restOf.value.$key"></app-jobsheets>
            </td>
            <td>
              <p *ngIf="restOf.value._projectDetails.deliveryManager">{{getInitials(restOf.value._projectDetails.deliveryManager.name)}}</p>
            </td>
            <td>
              {{restOf.value._projectDetails.siteAccess}}
            </td>
            <td>
              <p matTooltip="{{restOf.value._projectDetails.siteAddress}}">{{restOf.value._projectDetails.postCode}}</p>
            </td>
        </tr>
        </ng-container>
      </table> 
    </mat-card>