<span *ngIf="loaded">
  <span *ngIf="iRevit; else elseBlock">
    <span matBadge="{{iRevitData}}" matBadgeColor="{{badgeColour}}" matBadgeOverlap="false">
      <img width="25px" height="25px" src="../../../../assets/images/revitTrue.png">
    </span>
  </span>
  <ng-template #elseBlock>
    <span matBadge="{{iRevitData}}" matBadgeColor="{{badgeColour}}" matBadgeOverlap="false">
      <img width="25px" height="25px" src="../../../../assets/images/revitFalse.png">
    </span>
  </ng-template>
</span>