<div *ngIf="whichRoute === 'suppliers'">
  <mat-card fxFlexFill fxLayoutAlign="center center">
    <mat-toolbar>
      <span>Suppliers</span>
      <span class="example-spacer"></span>
      <button mat-icon-button (click)="setNav()" class="example-icon" aria-label="add stock">
        <mat-icon>add</mat-icon>
      </button>
      <app-file-uploader matTooltip="Upload Supplier List" (uploadEvent)="uploadFile($event)"></app-file-uploader>
    </mat-toolbar>
  </mat-card>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  
  <div class="centerAlign mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let row"> {{row.no}} </td>
      </ng-container>
      
      <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Company Full Name </th>
        <td mat-cell *matCellDef="let row"> <a mat-list-item (click)="setRoute('supplier-details')" [routerLinkActive]="'active'" [routerLink]="['supplier-details',row.$key]">{{row.companyName}}</a> </td>
      </ng-container>

      <ng-container matColumnDef="mainContactHolder">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Main Contact </th>
        <td mat-cell *matCellDef="let row"> {{row.mainContactHolder}} </td>
      </ng-container>

      <ng-container matColumnDef="dtf">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let row"> {{row.dtf}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let row"> {{row.status}} </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
        <td mat-cell *matCellDef="let row"><app-delete-supply-chain [supplierKey]="row.$key" [type]="'supplier'"></app-delete-supply-chain></td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  
</div>


<router-outlet></router-outlet>