<div *ngIf="!loaded" class="loader-container" >
  <div class="spinner"> 
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>

<span *ngIf="this.loaded">
  <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
    <mat-tab label="Walls">
      <mat-card>
        <mat-card-title>External Walls</mat-card-title>
          <mat-card-content>
            <table *ngIf="quoteHolder['DAT_Walls'] !== undefined && quoteHolder['DAT_Walls']['External Walls'] !== undefined && quoteHolder['DAT_Walls']['External Walls'].length;  else elseBlock">
              <tr>
                  <th>Family Type</th>
                  <th>Level</th>
                  <th>Length</th>
                  <th>Height</th>
                  <th>Area (Net)</th>
                  <th>Area (Gross)</th>
              </tr>
              <tr *ngFor="let data of quoteHolder['DAT_Walls']['External Walls'] | sortQuotes">
                <td>{{data["type"]}}</td>
                <td>{{data["level"]}}</td>
                <td>{{data["length"]}}</td>
                <td>{{data["avgHeight"]}}</td>
                <td>{{data["areaNet"]}}</td>
                <td>{{data["gross"]}}</td>
              </tr>
            </table>
            <ng-template #elseBlock>
              No Results
            </ng-template>
          </mat-card-content>
          <mat-card-footer>

        </mat-card-footer>
      </mat-card>
      <mat-card>
        <mat-card-title>Internal Walls</mat-card-title>
          <mat-card-content>
            <table *ngIf="quoteHolder['DAT_Walls'] !== undefined && quoteHolder['DAT_Walls']['Internal Walls'] !== undefined && quoteHolder['DAT_Walls']['Internal Walls'].length;  else elseBlock">
              <tr>
                <th>Family Type</th>
                <th>Level</th>
                <th>Length</th>
                <th>Height</th>
                <th>Area (Net)</th>
                <th>Area (Gross)</th>
              </tr>
              <tr *ngFor="let data of quoteHolder['DAT_Walls']['Internal Walls'] | sortQuotes">
                <td>{{data["type"]}}</td>
                <td>{{data["level"]}}</td>
                <td>{{data["length"]}}</td>
                <td>{{data["avgHeight"]}}</td>
                <td>{{data["areaNet"]}}</td>
                <td>{{data["gross"]}}</td>
              </tr>
            </table>
            <ng-template #elseBlock>
              No Results
            </ng-template>
          </mat-card-content>
          <mat-card-footer>

        </mat-card-footer>
      </mat-card>
      <mat-card>
        <mat-card-title>No Type</mat-card-title>
          <mat-card-content>
            <table *ngIf="quoteHolder['DAT_Walls'] !== undefined && quoteHolder['DAT_Walls']['No Type'] !== undefined && quoteHolder['DAT_Walls']['No Type'].length;  else elseBlock">
              <tr>
                <th>Family Type</th>
                <th>Level</th>
                <th>Length</th>
                <th>Height</th>
                <th>Area (Net)</th>
                <th>Area (Gross)</th>
              </tr>
              <tr *ngFor="let data of quoteHolder['DAT_Walls']['No Type'] | sortQuotes">
                <td>{{data["type"]}}</td>
                <td>{{data["level"]}}</td>
                <td>{{data["length"]}}</td>
                <td>{{data["avgHeight"]}}</td>
                <td>{{data["areaNet"]}}</td>
                <td>{{data["gross"]}}</td>
              </tr>
            </table>
            <ng-template #elseBlock>
              No Results
            </ng-template>
          </mat-card-content>
          <mat-card-footer>

        </mat-card-footer>
      </mat-card>
    </mat-tab>
    <mat-tab label="Floors">
      <mat-card>
        <mat-card-title>Timber Floors</mat-card-title>
          <mat-card-content>
            <table *ngIf="quoteHolder['DAT_Floors'] !== undefined && quoteHolder['DAT_Floors']['Timber Floors'] !== undefined && quoteHolder['DAT_Floors']['Timber Floors'].length;  else elseBlock">
              <tr>
                  <th>Family Type</th>
                  <th>Level</th>
                  <th>Width</th>
                  <th>Length</th>
                  <th>Area (Net)</th>
                  <th>Area (Gross)</th>
              </tr>
              <tr *ngFor="let data of quoteHolder['DAT_Floors']['Timber Floors'] | sortQuotes">
                <td>{{data["type"]}}</td>
                <td>{{data["level"]}}</td>
                <td>{{data["avgWidth"]}}</td>
                <td>{{data["lengthAvg"]}}</td>
                <td>{{data["areaNet"]}}</td>
                <td>{{data["gross"]}}</td>
              </tr>
            </table>
            <ng-template #elseBlock>
              No Results
            </ng-template>
          </mat-card-content>
          <mat-card-footer>

        </mat-card-footer>
      </mat-card>
      <mat-card>
        <mat-card-title>Concrete Floors</mat-card-title>
          <mat-card-content>
            <table *ngIf="quoteHolder['DAT_Floors'] !== undefined && quoteHolder['DAT_Floors']['Concrete Floors'] !== undefined && quoteHolder['DAT_Floors']['Concrete Floors'].length;  else elseBlock">
              <tr>
                <th>Family Type</th>
                <th>Level</th>
                <th>Width</th>
                <th>Length</th>
                <th>Area (Net)</th>
                <th>Area (Gross)</th>
              </tr>
              <tr *ngFor="let data of quoteHolder['DAT_Floors']['Concrete Floors'] | sortQuotes">
                <td>{{data["type"]}}</td>
                <td>{{data["level"]}}</td>
                <td>{{data["avgWidth"]}}</td>
                <td>{{data["lengthAvg"]}}</td>
                <td>{{data["areaNet"]}}</td>
                <td>{{data["gross"]}}</td>
              </tr>
            </table>
            <ng-template #elseBlock>
              No Results
            </ng-template>
          </mat-card-content>
          <mat-card-footer>

        </mat-card-footer>
      </mat-card>
      <mat-card>
        <mat-card-title>No Type</mat-card-title>
          <mat-card-content>
            <table *ngIf="quoteHolder['DAT_Floors'] !== undefined && quoteHolder['DAT_Floors']['No Type'] !== undefined && quoteHolder['DAT_Floors']['No Type'].length;  else elseBlock">
              <tr>
                <th>Family Type</th>
                <th>Level</th>
                <th>Width</th>
                <th>Length</th>
                <th>Area (Net)</th>
                <th>Area (Gross)</th>
              </tr>
              <tr *ngFor="let data of quoteHolder['DAT_Floors']['No Type'] | sortQuotes">
                <td>{{data["type"]}}</td>
                <td>{{data["level"]}}</td>
                <td>{{data["avgWidth"]}}</td>
                <td>{{data["lengthAvg"]}}</td>
                <td>{{data["areaNet"]}}</td>
                <td>{{data["gross"]}}</td>
              </tr>
            </table>
            <ng-template #elseBlock>
              No Results
            </ng-template>
          </mat-card-content>
          <mat-card-footer>

        </mat-card-footer>
      </mat-card>
    </mat-tab>
    <mat-tab label="Roofs">
      <mat-card>
        <mat-card-title>Timber Cassette Roofs</mat-card-title>
          <mat-card-content>
            <table *ngIf="quoteHolder['DAT_Roofs'] !== undefined && quoteHolder['DAT_Roofs']['Timber Cassette Roofs'] !== undefined && quoteHolder['DAT_Roofs']['Timber Cassette Roofs'].length;  else elseBlock">
              <tr>
                <th>Family Type</th>
                <th>Level</th>
                <th>Width</th>
                <th>Length</th>
                <th>Area (Net)</th>
                <th>Area (Gross)</th>
              </tr>
              <tr *ngFor="let data of quoteHolder['DAT_Roofs']['Timber Cassette Roofs'] | sortQuotes">
                <td>{{data["type"]}}</td>
                <td>{{data["level"]}}</td>
                <td>{{data["avgWidth"]}}</td>
                <td>{{data["lengthAvg"]}}</td>
                <td>{{data["areaNet"]}}</td>
                <td>{{data["gross"]}}</td>
              </tr>
            </table>
            <ng-template #elseBlock>
              No Results
            </ng-template>
          </mat-card-content>
          <mat-card-footer>

        </mat-card-footer>
      </mat-card>
      <mat-card>
        <mat-card-title>Timber Frame Roofs</mat-card-title>
          <mat-card-content>
            <table *ngIf="quoteHolder['DAT_Roofs'] !== undefined && quoteHolder['DAT_Roofs']['Timber Frame Roofs'] !== undefined && quoteHolder['DAT_Roofs']['Timber Frame Roofs'].length;  else elseBlock">
              <tr>
                <th>Family Type</th>
                <th>Level</th>
                <th>Width</th>
                <th>Length</th>
                <th>Area (Net)</th>
                <th>Area (Gross)</th>
              </tr>
              <tr *ngFor="let data of quoteHolder['DAT_Roofs']['Timber Frame Roofs'] | sortQuotes">
                <td>{{data["type"]}}</td>
                <td>{{data["level"]}}</td>
                <td>{{data["avgWidth"]}}</td>
                <td>{{data["lengthAvg"]}}</td>
                <td>{{data["areaNet"]}}</td>
                <td>{{data["gross"]}}</td>
              </tr>
            </table>
            <ng-template #elseBlock>
              No Results
            </ng-template>
          </mat-card-content>
          <mat-card-footer>

        </mat-card-footer>
      </mat-card>
      <mat-card>
        <mat-card-title>No Type</mat-card-title>
          <mat-card-content>
            <table *ngIf="quoteHolder['DAT_Roofs'] !== undefined && quoteHolder['DAT_Roofs']['No Type'] !== undefined && quoteHolder['DAT_Roofs']['No Type'].length;  else elseBlock">
              <tr>
                <th>Family Type</th>
                <th>Level</th>
                <th>Width</th>
                <th>Length</th>
                <th>Area (Net)</th>
                <th>Area (Gross)</th>
              </tr>
              <tr *ngFor="let data of quoteHolder['DAT_Roofs']['No Type'] | sortQuotes">
                <td>{{data["type"]}}</td>
                <td>{{data["level"]}}</td>
                <td>{{data["avgWidth"]}}</td>
                <td>{{data["lengthAvg"]}}</td>
                <td>{{data["areaNet"]}}</td>
                <td>{{data["gross"]}}</td>
              </tr>
            </table>
            <ng-template #elseBlock>
              No Results
            </ng-template>
          </mat-card-content>
          <mat-card-footer>

        </mat-card-footer>
      </mat-card>
    </mat-tab>
    <mat-tab label="Non Structure">
      <mat-card>
        <mat-card-title>Doors</mat-card-title>
          <mat-card-content>
            <table *ngIf="quoteHolder['DAT_Doors'] !== undefined && quoteHolder['DAT_Doors']['No Type'] !== undefined && quoteHolder['DAT_Doors']['No Type'].length;  else elseBlock">
              <tr>
                  <th>Family Type</th>
                  <th>Level</th>
                  <th>Count</th>
                  <th>Width</th>
                  <th>Height</th>
                  <th>Area (Net)</th>
                  <th>Area (Gross)</th>
              </tr>
              <tr *ngFor="let data of quoteHolder['DAT_Doors']['No Type'] | sortQuotes">
                <td>{{data["type"]}}</td>
                <td>{{data["level"]}}</td>
                <td>{{data["count"]}}</td>
                <td>{{data["avgWidth"]}}</td>
                <td>{{data["avgHeight"]}}</td>
                <td>{{data["areaNet"]}}</td>
                <td>{{data["gross"]}}</td>
              </tr>
            </table>
            <ng-template #elseBlock>
              No Results
            </ng-template>
          </mat-card-content>
          <mat-card-footer>

        </mat-card-footer>
      </mat-card>
      <mat-card>
        <mat-card-title>Windows</mat-card-title>
          <mat-card-content>
            <table *ngIf="quoteHolder['DAT_Windows'] !== undefined && quoteHolder['DAT_Windows']['No Type'] !== undefined && quoteHolder['DAT_Windows']['No Type'].length;  else elseBlock">
              <tr>
                  <th>Family Type</th>
                  <th>Level</th>
                  <th>Count</th>
                  <th>Width</th>
                  <th>Height</th>
                  <th>Area (Net)</th>
                  <th>Area (Gross)</th>
              </tr>
              <tr *ngFor="let data of quoteHolder['DAT_Windows']['No Type'] | sortQuotes">
                <td>{{data["type"]}}</td>
                <td>{{data["level"]}}</td>
                <td>{{data["count"]}}</td>
                <td>{{data["avgWidth"]}}</td>
                <td>{{data["avgHeight"]}}</td>
                <td>{{data["areaNet"]}}</td>
                <td>{{data["gross"]}}</td>
              </tr>
            </table>
            <ng-template #elseBlock>
              No Results
            </ng-template>
          </mat-card-content>
          <mat-card-footer>

        </mat-card-footer>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</span>