<span *ngIf="additionalDataAddon !== ''" matBadgePosition="before" matBadgeSize="large" matBadgeOverlap="true" matBadge="{{mappAddons[additionalDataAddon]}}">{{area._id}}</span>
<span *ngIf="additionalDataAddon === ''">{{area._id}}</span>