<button mat-icon-button (click)="fileInput.click()">
  <mat-icon>cloud_upload</mat-icon>
  <input #fileInput type="file" ng2FileSelect [uploader]="uploader" (onFileSelected)="onFileSelected($event)" style="display:none;" />
</button>