<mat-toolbar>
  <span>
    Area Estimates
  </span>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <app-data-export [data]=areaEstimates></app-data-export>

</mat-toolbar>

<span *ngIf="!loaded">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</span>

<span *ngIf="loaded">
    <div mat-dialog-content>
      <mat-card>
        <mat-card-content>
          <table *ngIf="areaEstimates.length else elseBlock">
            <tr>
                <th>Family Type</th>
                <th>Level</th>
                <th>Phase</th>
                <th>Area (Gross) &#13217;</th>
            </tr>
            <tr *ngFor="let data of areaEstimates">
              <td>{{data["type"]}}</td>
              <td>{{data["level"]}}</td>
              <td>{{data["phase"]}}</td>
              <td>{{data["gross"]}}</td>
            </tr>
          </table>
          <ng-template #elseBlock>
            No Results
          </ng-template>
        </mat-card-content>
      </mat-card>
    </div>
  </span>