<h3 mat-dialog-title>{{data.area._id}}</h3>
<mat-dialog-content>
  Please select line for area.
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button (click)="areaLine(data.area.$key, 1)">Auto Line 1</button>
  <button mat-button (click)="areaLine(data.area.$key, 2)">Auto Line 2</button>
  <button mat-button (click)="areaLine(data.area.$key, 3)">Auto Line 3</button>
  <button mat-button (click)="areaLine(data.area.$key, 4)">Manual Line 1</button>
  <button mat-button (click)="areaLine(data.area.$key, 5)">Manual Line 2</button>
  <button mat-button (click)="areaLine(data.area.$key, 6)">Manual Line 3</button>
  <button mat-button (click)="areaLine(data.area.$key, 7)">Manual Line 4</button>
  <button mat-button (click)="areaLine(data.area.$key, 8)">Manual Line 5</button>
</div>
