<div *ngIf="whichRoute === 'supply-chain'" [style.display]="hideDash ? 'none' : 'block'">
  <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <div fxFlex>
        <mat-card>
          <mat-toolbar>
          <mat-icon>menu</mat-icon>
          <span> Stock</span>
          <span class="example-spacer"></span>
          <button mat-icon-button (click)="setRoute('stock')" [routerLink]="['stock']" [routerLinkActive]="'active'" class="example-icon" aria-label="stock">
            <mat-icon>fullscreen</mat-icon>
          </button>
        </mat-toolbar>
        <app-supply-chain-preview [which]="'stockItem'"></app-supply-chain-preview>
        </mat-card>
    </div>
    <div fxFlex>
      <mat-card>
        <mat-toolbar>
          <mat-icon>people</mat-icon>
          <span> Supplier</span>
          <span class="example-spacer"></span>
          <button mat-icon-button (click)="setRoute('suppliers')" [routerLink]="['suppliers']" [routerLinkActive]="'active'" class="example-icon" aria-label="supplier">
            <mat-icon>fullscreen</mat-icon>
          </button>
        </mat-toolbar>
        <app-supply-chain-preview [which]="'suppliers'"></app-supply-chain-preview>
      </mat-card>
    </div>
  </div>
  <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <div fxFlex>
        <mat-card>
          <mat-toolbar>
          <mat-icon>menu</mat-icon>
          <span> Stock Levels</span>
          <span class="example-spacer"></span>
          <button mat-icon-button (click)="setRoute('stockLevels')" [routerLink]="['stockLevels']" [routerLinkActive]="'active'" class="example-icon" aria-label="stockLevels">
            <mat-icon>fullscreen</mat-icon>
          </button>
          </mat-toolbar>
          
        </mat-card>
    </div>
    <div fxFlex>
      <mat-card>
        <mat-toolbar>
          <mat-icon>people</mat-icon>
          <span> Purchasing</span>
          <span class="example-spacer"></span>
          <button mat-icon-button class="example-icon" aria-label="purchesing">
            <mat-icon>fullscreen</mat-icon>
          </button>
        </mat-toolbar>

      </mat-card>
    </div>
  </div>
</div>

<breadcrumb #parent>
  <a *ngIf="whichRoute !== 'supply-chain'" mat-button href="" (click)="setRoute('supply-chain')" [routerLinkActive]="'active'" [routerLink]="['/supply-chain']"> Supply Chain </a>
  <span class="breadcrumb" *ngFor="let route of parent.breadcrumbs">
      <a mat-button *ngIf="!route.terminal" href="" (click)="setRoute(route.route.path)" [routerLink]="[route.url]">{{ route.displayName }}</a>
      <a mat-button *ngIf="route.terminal" href="" (click)="setRoute(route.route.path)" [routerLink]="[route.url]">{{ route.displayName }}</a>
  </span>
</breadcrumb>

<router-outlet></router-outlet>