<!-- loader -->
<div *ngIf="!loaded" class="loader-container" >
  <div class="spinner"> 
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>
<div *ngIf="loaded" class="center">
  <div>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Export</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Please select a date range to export
        </p>
        <mat-form-field>
          <mat-label>From:</mat-label>
          <input matInput [matDatepicker]="picker1" [(ngModel)]="dateStart" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>To:</mat-label>
          <input matInput [matDatepicker]="picker2" [(ngModel)]="dateEnd" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="export()">Export</button>
      </mat-card-actions>
    </mat-card>
    
  </div>
</div>
