<h2>
    Stock Items
</h2>
<div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column">
    <div fxFlex>
        <mat-card fxFlexFill fxLayoutAlign="center center">          
            <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
                <div fxFlex>
                    <app-stock-types [stockType]="'stockGroup'" [displayName]="'Group'"></app-stock-types>
                </div>
                <div fxFlex>
                    <app-stock-types [stockType]="'stockSubCat'" [displayName]="'Sub Cat'"></app-stock-types>
                </div>
                <div fxFlex>
                    <app-stock-types [stockType]="'stockType'" [displayName]="'Stock Type'"></app-stock-types>
                </div>  
            </div>    
        </mat-card>
    </div>
</div>