<span *ngIf="data.type === 'edit'">
  <form [formGroup]="areaControl" (ngSubmit)="onSubmit()">
    <mat-toolbar class="innview-nav">
      <span><h1 mat-dialog-title>Add Area</h1></span>
      <span class="example-fill-remaining-space"></span>
      <span>
          <button mat-raised-button [style.marginRight.px]="10" (click)="onNoClick()">Cancel</button>
          <button mat-raised-button [disabled]="!areaControl.valid || !areaControl.dirty || submitted" type="submit">Save</button>
      </span>
    </mat-toolbar>
    <div mat-dialog-content>
      <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
        <div fxFlex>
          <mat-card fxFlexFill fxLayoutAlign="center center">
            <div class="example-container">
              <app-srd-select [ctr]="areaControl" name="Component" variant="component" [required]="true"></app-srd-select>
              <app-srd-select [ctr]="areaControl" name="Supplier" variant="supplier" [required]="true"></app-srd-select>
              <app-srd-select [ctr]="areaControl" name="Phase" variant="phase" [required]="true"></app-srd-select>
            </div>
          </mat-card>
        </div>
        <div fxFlex>
            <mat-card fxFlexFill fxLayoutAlign="center center">
              <div class="example-container">
                <mat-form-field appearance="outline">  
                  <input matInput [min]="minDate" [matDatepicker]="picker" formControlName="deliveryDate"><mat-label>Delivery Date</mat-label>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker>Delivery Date</mat-datepicker> 
                </mat-form-field>
                <app-srd-select [ctr]="areaControl"name="Floor" variant="floor" [required]="true"></app-srd-select>
                <app-srd-select [ctr]="areaControl" name="Offload Method" variant="offloadMethod" [required]="true"></app-srd-select>
              </div>
            </mat-card>
          </div>
      </div>
      <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
        <div fxFlex>
          <mat-card fxFlexFill fxLayoutAlign="center center">
            <div class="example-container">
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Description" formControlName="description"></textarea>
              </mat-form-field>
            </div>
          </mat-card>
        </div>
        <div fxFlex>
          <mat-card fxFlexFill fxLayoutAlign="center center">
            <div class="example-container">
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Notes" formControlName="comments"></textarea>
              </mat-form-field>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
        <div fxFlex>
          <mat-card fxFlexFill fxLayoutAlign="center center">
            <div class="example-container">
              <mat-form-field appearance="outline">  
                <input matInput type="number" formControlName="numberOfPanels"><mat-label>Number of Panels (Designed)</mat-label>
              </mat-form-field>
            </div>
          </mat-card>
        </div>
        <div fxFlex>
          <mat-card fxFlexFill fxLayoutAlign="center center">
            <div class="example-container">
              <mat-form-field appearance="outline">  
                <input matInput type="number" formControlName="areaOfPanels"><mat-label>Designed M2 (Designed)</mat-label>
              </mat-form-field>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </form>
</span>

<span *ngIf="data.type === 'add'">
  <form *ngIf="data.type === 'add'" [formGroup]="areaControl" (ngSubmit)="onSubmit()">
    <mat-toolbar class="innview-nav">
      <span><h1 mat-dialog-title>Edit Area</h1></span>
      <span class="example-fill-remaining-space"></span>
      <button mat-raised-button [style.marginRight.px]="10" (click)="onNoClick()">Cancel</button>
      <button mat-raised-button [disabled]="!areaControl.valid" type="submit">Save</button>
    </mat-toolbar>
    <div mat-dialog-content>
      <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
        <div fxFlex>
          <mat-card fxFlexFill fxLayoutAlign="center center">
            <div class="example-container">
              <app-srd-select [ctr]="areaControl" name="Component" variant="component" [required]="true"></app-srd-select>
              <app-srd-select [ctr]="areaControl" name="Supplier" variant="supplier" [required]="true"></app-srd-select>
              <app-srd-select [ctr]="areaControl" name="Phase" variant="phase" [required]="true"></app-srd-select>
            </div>
          </mat-card>
        </div>
        <div fxFlex>
          <mat-card fxFlexFill fxLayoutAlign="center center">
            <div class="example-container">
              <mat-form-field appearance="outline">
                <input matInput [min]="minDate" [matDatepicker]="picker" formControlName="deliveryDate"><mat-label>Delivery Date</mat-label>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker>Date</mat-datepicker>
              </mat-form-field>
              <app-srd-select [ctr]="areaControl"name="Floor" variant="floor" [required]="true"></app-srd-select>
              <app-srd-select [ctr]="areaControl" name="Offload Method" variant="offloadMethod" [required]="true"></app-srd-select>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
        <div fxFlex>
          <mat-card fxFlexFill fxLayoutAlign="center center">
            <div class="example-container">
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Description" formControlName="description"></textarea>
              </mat-form-field>
            </div>
          </mat-card>
        </div>
        <div fxFlex>
          <mat-card fxFlexFill fxLayoutAlign="center center">
            <div class="example-container">
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Notes" formControlName="comments"></textarea>
              </mat-form-field>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </form>
</span>
