<div *ngIf="whichRoute === 'stockLevels'">
  <mat-card fxFlexFill fxLayoutAlign="center center">
    <mat-toolbar>
      <span>Stock</span>
      <span class="example-spacer"></span>
      <app-file-uploader matTooltip="Upload Stock List" (uploadEvent)="uploadFile($event)"></app-file-uploader>
    </mat-toolbar>
  </mat-card>
</div>


<router-outlet></router-outlet>