<div *ngIf="data.status === 'COMPLETE'">
<h3 mat-dialog-title>Panels Built</h3>
  <mat-dialog-content>
    <p>This area cannot be deleted because work has been recorded against its panels.</p>
  </mat-dialog-content>
  <div mat-dialog-actions>
    <button mat-button (click)="action()">OK</button>
  </div>
</div>

<div *ngIf="data.status === 'UPLOADED'">
<h3 mat-dialog-title>Panels Built</h3>
  <mat-dialog-content>
    <p>This area has panels associated with it. They will be deleted along with the area.</p>
  </mat-dialog-content>
  <div mat-dialog-actions>
    <button mat-button (click)="action()">OK</button>
  </div>
</div>

<div *ngIf="data.status === 'NOPANELS'">
  <h3 mat-dialog-title>No Panels Built</h3>
    <mat-dialog-content>
      <p>This area has 0 panels associated with it. Are you sure you want to delete?</p>
    </mat-dialog-content>
    <div mat-dialog-actions>
      <button mat-button (click)="action()">OK</button>
    </div>
  </div>
