<span *ngIf="data.result.errors.length">
    <h1 mat-dialog-title>{{data.result.errors.length}} areas errors</h1>
  <div mat-dialog-content>
    <p>{{this.text}}</p>
    <table style="width:100%; text-align: center;">
      <tr>
        <th *ngFor="let errorTitle of errorTitles">{{errorTitle.name}}</th>
      </tr>
      <tr *ngFor="let error of data.result.errors">
        <td>{{error.row}}</td>
        <td [ngClass]="{
          'text-success': error.phase.correct, 
          'text-danger': !error.phase.correct
        }">{{error.phase.message}}</td>
        <td [ngClass]="{
          'text-success': error.floor.correct, 
          'text-danger': !error.floor.correct
        }">{{error.floor.message}}</td>
        <td [ngClass]="{
          'text-success': error.type.correct, 
          'text-danger': !error.type.correct
        }">{{error.type.message}}</td>
        <td [ngClass]="{
          'text-success': error.estimatedArea.correct, 
          'text-danger': !error.estimatedArea.correct
        }">{{error.estimatedArea.message}}</td>
        <td [ngClass]="{
          'text-success': error.framing.correct, 
          'text-danger': !error.framing.correct
        }">{{error.framing.message}}</td>
      </tr>
    </table>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Back</button>
  </div>
</span>

<span *ngIf="!data.result.errors.length">
  <h1 mat-dialog-title>{{data.result.models.length}} components found to upload</h1>
  <div mat-dialog-content>
    <span *ngIf="!statusData.loading">
      <p>{{this.text}}</p>
      <table style="width:100%; text-align: center;">
        <tr>
          <th *ngFor="let title of titles">{{title.name}}</th>
        </tr>
        <tr *ngFor="let area of data.result.models">
          <td>{{area.component}}</td>
          <td>{{area.phase}}</td>
          <td>{{area.floor}}</td>
          <td>{{area.type}}</td>
          <td>{{area.estimatedPanels}}</td>
          <td>{{area.estimatedArea}}</td>
        </tr>
      </table> 
    </span>
    <span *ngIf="statusData.loading">
      <p>{{statusData.status}}</p>
      <mat-progress-bar mode="determinate" value="{{statusData.counter}}"></mat-progress-bar>
      <p>{{statusData.counter}}%</p>
    </span>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-raised-button [style.display]="statusData.loading ? '' : 'none'" (click)="onNoClick()">Ok</button>
    <button mat-raised-button [style.display]="!statusData.loading ? '' : 'none'" (click)="onNoClick()">Back</button>
    <button mat-raised-button [style.display]="!statusData.loading ? '' : 'none'" (click)="addAreas()">Add Components</button>
  </div>
</span>
