<div mat-dialog-content>
  <p>{{data.text}}</p>
  <span *ngIf="data.show">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </span>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Ok</button>
</div>
