<mat-toolbar>
  <span>
    Length and width for roof and floor
  </span>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

</mat-toolbar>
<div mat-dialog-content>
  <p>Roof:</p>
  <mat-form-field>
    <mat-label>Width</mat-label>
    <input matInput type="number" value="2400" (keyup)="populateDimensions($event.target.value, 'roof', 'width')">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Length</mat-label>
    <input matInput type="number" value="9000" (keyup)="populateDimensions($event.target.value, 'roof', 'length')">
  </mat-form-field>
  <p>Floor:</p>
  <mat-form-field>
    <mat-label>Width</mat-label>
    <input matInput type="number" value="2400" (keyup)="populateDimensions($event.target.value, 'floor', 'width')">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Length</mat-label>
    <input matInput type="number" value="5000" (keyup)="populateDimensions($event.target.value, 'floor', 'length')">
  </mat-form-field>

  <p *ngIf="status">{{status}}</p>

  <table *ngIf="this.showResults">
    <tr>
        <th>Sheet Name</th>
        <th>Quote Number</th>
        <th>Quote Name</th>
        <th>Level</th>
        <th>Phase</th>
        <th>InstanceID</th>
        <th>HostID</th>
        <th>Family</th>
        <th>Type</th>
        <th>Width</th>
        <th>Length</th>
        <th>Height</th>
        <th>Area (NET)</th>
        <th>Area (Gross)</th>
        <th>Unique ID</th>
    </tr>
    <ng-container *ngFor="let sheet of this.theKeys(result);">
        <tr *ngFor="let data of result[sheet];">
        <td>{{data["Sheet Name"]}}</td>
        <td>{{data["Quote Number"]}}</td>
        <td>{{data["Quote Name"]}}</td>
        <td>{{data["Level"]}}</td>
        <td>{{data["Phase"]}}</td>
        <td>{{data["InstanceID"]}}</td>
        <td>{{data["HostID"]}}</td>
        <td>{{data["Family"]}}</td>
        <td>{{data["Type"]}}</td>
        <td>{{data["Width"]}}</td>
        <td>{{data["Length"]}}</td>
        <td>{{data["Height"]}}</td>
        <td>{{data["Area (NET)"]}}</td>
        <td>{{data["Area (Gross)"]}}</td>
        <td>{{data["UniqueID"]}}</td>
        </tr>
    </ng-container>
  </table>

  <span *ngIf="this.errors">
    <ul>
      <li *ngFor="let error of errors;">{{error}}</li>
    </ul>
  </span>
  
</div>
<div mat-dialog-actions>
  <button [ngClass]="'buttonSpace'" mat-raised-button color="primary" (click)="onNoClick()">Close</button>
  <span *ngIf="this.showButtons">
    <button [ngClass]="'buttonSpace'" mat-raised-button color="primary" (click)="showQuoteData()">Show Quote Data</button>
    <button mat-raised-button color="primary" (click)="saveQuoteData()">Save Quote Data</button>
  </span>
  <span *ngIf="this.showUpload" align="end">
    <app-file-uploader matTooltip="Upload Quotes" (uploadEvent)="uploadFile($event)"></app-file-uploader>
  </span>
</div>
