.example-form {
    min-width: 150px;
    max-width: 100%;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .example-container {
    width:47%;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }

  .example-container2 {
    width: 75%;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }

  .example-container3 {
    width: 100%;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    height: 230px;
    overflow: auto;
    display: block;
  }

  .example-list2 {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    display: block;
  }
  
  .example-box {
    padding: 4px 2px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    cursor: move;
    background: #98FB98;
    font-size: 14px;
  }

  .example-header {
    padding: 4px 2px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    font-size: 14px;
  }

  .example-box.cdk-drag-disabled {
    background: #FFCCCB;
    cursor: default;
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .lengthHolder{
    background-color: orange;
  }

  .example-box3 {
    width: 200px;
    height: 200px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    background: orange;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    padding: 10px;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .example-box3:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .example-boundary {
    width: 100%;
    min-height: 20px;
    max-width: 98%;
    border: dotted #ccc 2px;
  }

  .holder {
    border: dotted #ccc 2px;
    padding: 10px;
    width: 98%;
  }

  .example-boundary2 {
    width: 98%;
    height: 400px;
    min-height: 20px;
    max-width: 98%;
    border: dotted #ccc 2px;
  }

  @media screen {
    #print-section{
     display: none;
    }
  }

  @media print {
    #print-section{
      display: block;
    }
  }

  // #print-section {
  //   position: absolute;
  //   left: 0;
  //   top: 1044;
  //   z-index: -100;
  // }

  .center {
    text-align: center;
    margin: auto;
    width: 60%;
    border: 2px solid #000;
    padding: 10px;
    margin-bottom: 20px;
  }

  .centerSmaller {
    text-align: center;
    margin: auto;
    width: 60%;
    border: 1px solid #000;
    padding: 10px;
  }

  .centerNoBorder {
    text-align: center;
    margin: auto;
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    background-image: url("../../../assets/images/logo.svg");
    font-size: 30px;
    font-weight: bold;
  }

  .borderRight{
    border-right: 2px solid #000;
    font-weight: bold;
  }

  .fontSize{
    font-size: 30px;
    font-weight: bold;
  }

  .bgBlack{
    color: #FFF;
  }

  #page1{
    height: 1044px;
    border: 1px solid #000;
  }

  #page2{
    height: 1044px;
    border: 1px solid #000;
  }

  .p2header{
    margin-top: 10px;
    text-align: center;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
  }

  .p2header2{
    margin-top: 10px;
    text-align: center;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    margin-bottom: 10px;
    font-weight: bold;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 98%;
    font-size: 14px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .table{
    padding: 10px;
  }

  .sub_div {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .btnMargin{
    margin-left: 10px;
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  
  
  
  
  .selected{
    border: 1px solid rgb(0, 136, 7)!important;
  }
  .selected.hide{
    opacity: 0.3;
  }

