<div *ngIf="loaded">
  <form class="example-form">
    <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
      <div [fxFlex]="33">
          <mat-card fxFlexFill fxLayoutAlign="center center">
            <mat-form-field class="example-full-width">
              <input type="text" placeholder="Select project" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="autoProject">
              <mat-autocomplete autoActiveFirstOption #autoProject="matAutocomplete" (optionSelected)="onSelectionProjectChange($event)" >
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </mat-card>
      </div>
      <div [fxFlex]="33">
          <mat-card fxFlexFill fxLayoutAlign="center center">
            <mat-form-field class="example-full-width">
              <input type="text" placeholder="Select Area" aria-label="Number" matInput [formControl]="myControl2" [matAutocomplete]="autoArea">
              <mat-autocomplete autoActiveFirstOption #autoArea="matAutocomplete" (optionSelected)="onSelectionAreaChange($event)" >
                <mat-option *ngFor="let option of filteredOptions2 | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </mat-card>
      </div>
      <div [fxFlex]="33">
        <mat-card fxFlexFill fxLayoutAlign="center center">
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Select Jobsheet" aria-label="Number" matInput [formControl]="myControl3" [matAutocomplete]="autoJobsheet">
            <mat-autocomplete autoActiveFirstOption #autoJobsheet="matAutocomplete" (optionSelected)="onSelectionJobsheetChange($event)" >
              <mat-option *ngFor="let option of filteredOptions3 | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </mat-card>
    </div>
  </div>
  </form>
</div>

<div class="example-container">
  <h2>Panels</h2>
  <div class="example-header">
    <p [ngStyle]="{'margin-left': '66px', 'cursor': 'pointer'}" (click)="sort('panel')">Panel</p>
    <p [ngStyle]="{'margin-left': '70px', 'cursor': 'pointer'}" (click)="sort('length')">Length</p>
    <p [ngStyle]="{'margin-left': '18px', 'cursor': 'pointer'}" (click)="sort('height')">Height</p>
    <p [ngStyle]="{'margin-left': '8px', 'cursor': 'pointer'}" (click)="sort('depth')">Depth</p>
    <p [ngStyle]="{'margin-left': '4px', 'cursor': 'pointer'}" (click)="sort('opening')">Opening</p>
    <p [ngStyle]="{'margin-left': '18px', 'cursor': 'pointer'}">Flip</p>
  </div>
  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="panelIds"
    [cdkDropListConnectedTo]="[doneList1, doneList2, doneList3, doneList4, doneList5, doneList6, doneList7, doneList8]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div *ngFor="let item of panelIds" class="example-box" [cdkDragDisabled]="panelsMapped[item].jobSheetNo !== undefined" 
    cdkDrag
    (pointerdown)="multiSelect.mouseDown($event)"
    (pointerup)="multiSelect.mouseUp($event)"
    (cdkDragStarted)="multiSelect.dragStarted();multiDrag.dragStarted($event)"
    (cdkDragEnded)="multiSelect.dragEnded()"
    >
      <p [ngStyle]="{'margin-left': '30px'}">{{item}}</p>
      <p [ngStyle]="{'margin-left': '30px'}">{{panelsMapped[item].dimensions.length || 0}}</p>
      <p [ngStyle]="{'margin-left': '30px'}">{{panelsMapped[item].dimensions.height || 0}}</p>
      <p [ngStyle]="{'margin-left': '30px'}">{{panelsMapped[item].dimensions.width !== undefined ? panelsMapped[item].dimensions.width : panelsMapped[item].dimensions.depth || 0}}</p>
      <p [ngStyle]="{'margin-left': '30px'}">{{opening(panelsMapped[item])}}</p>
      <p [ngStyle]="{'margin-left': '30px'}">
        <button
        mat-icon-button
        color="accent" 
        aria-label="Flip"
        (click)="rotate(panelsMapped[item])">
          <mat-icon *ngIf="panelsMapped[item].flip === false">rotate_right</mat-icon>
          <mat-icon *ngIf="panelsMapped[item].flip === true">rotate_left</mat-icon>
        </button>
      </p>
    </div>
  </div>
</div>
<div class="example-container">
  <mat-grid-list cols="5" rowHeight="100">
    <mat-grid-tile>Total Length</mat-grid-tile>
    <mat-grid-tile>Max Height</mat-grid-tile>
    <mat-grid-tile>Total Weight</mat-grid-tile>
    <mat-grid-tile>Total Depth</mat-grid-tile>
    <mat-grid-tile>Total Area M2</mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="5" rowHeight="100">
    <mat-grid-tile>{{calculateStats("length") || 0}} mm</mat-grid-tile>
    <mat-grid-tile>{{calculateStats("height") || 0}} mm</mat-grid-tile>
    <mat-grid-tile>{{calculateStats("weight") || 0}} kg</mat-grid-tile>
    <mat-grid-tile>{{calculateStats("depth") || 0}} mm</mat-grid-tile>
    <mat-grid-tile>{{calculateStats("area") || 0}} m2</mat-grid-tile>
  </mat-grid-list>
</div>



<!-- <div class="example-container">
  <h2>To Stack</h2>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
  </div>
</div> -->

<!-- <div 
id="example-boundary2"
class="example-boundary2">
  <div 
  *ngFor="let item of done; let i = index"
  class="example-box3" 
  cdkDragBoundary=".example-boundary2"
  [attr.id]="'Panel' + i"
  [style.height.px]="20"
  [style.width.%]="percentage(panelsMapped[item].dimensions.length, largestPanelLength)"
  (cdkDragEnded)="onDragEnded($event)"
  (cdkDragMoved)="onDragMoved($event)"
  cdkDrag>
  <span>{{item.substring(18, 15) + " : " + panelsMapped[item].dimensions.length + "mm"}}</span>
  </div>
</div> -->

<div class="holder">
  <h2>Panel Length: {{jobsheetNumber}}</h2>
  <div 
  cdkDropList 
  class="example-boundary"
  [style.width.px]="largestPanelLength"
  #doneList1="cdkDropList"
  [cdkDropListConnectedTo]="[todoList, doneList1, doneList2, doneList3, doneList4, doneList5, doneList6, doneList7, doneList8]"
  [cdkDropListData]="done1"
  cdkDropListOrientation="horizontal" 
  (cdkDropListDropped)="drop($event)">
    <div 
    class="example-box3" 
    [style.height.px]="20"
    [style.width.%]="percentage(panelsMapped[item].dimensions.length, largestPanelLength)"
    *ngFor="let item of done1" 
      cdkDrag
      (pointerdown)="multiSelect.mouseDown($event)"
      (pointerup)="multiSelect.mouseUp($event)"
      (cdkDragStarted)="multiSelect.dragStarted();multiDrag.dragStarted($event)"
      (cdkDragEnded)="multiSelect.dragEnded()">
      <span>{{item.substring(item.length - 3) + " : " + panelsMapped[item].dimensions.length + "mm"}}
        <button mat-icon-button (click)="deletePanel(panelsMapped[item], done1, 'done1')">
          <mat-icon>delete</mat-icon>
        </button>
      </span>
    </div>
  </div>

  <div cdkDropList 
  class="example-boundary"
  [style.width.px]="largestPanelLength"
  #doneList2="cdkDropList"
  [cdkDropListConnectedTo]="[todoList, doneList1, doneList2, doneList3, doneList4, doneList5, doneList6, doneList7, doneList8]"
  [cdkDropListData]="done2"
  cdkDropListOrientation="horizontal" 
  (cdkDropListDropped)="drop($event)">
    <div 
    class="example-box3" 
    [style.height.px]="20"
    [style.width.%]="percentage(panelsMapped[item].dimensions.length, largestPanelLength)"
    *ngFor="let item of done2" 
      cdkDrag
      (pointerdown)="multiSelect.mouseDown($event)"
      (pointerup)="multiSelect.mouseUp($event)"
      (cdkDragStarted)="multiSelect.dragStarted();multiDrag.dragStarted($event)"
      (cdkDragEnded)="multiSelect.dragEnded()">
      <span>{{item.substring(item.length - 3) + " : " + panelsMapped[item].dimensions.length + "mm"}}
        <button mat-icon-button (click)="deletePanel(panelsMapped[item], done2, 'done2')">
          <mat-icon>delete</mat-icon>
        </button>
      </span>
    </div>
  </div>

  <div 
  class="example-boundary"
  [style.width.px]="largestPanelLength"
  cdkDropList 
  #doneList3="cdkDropList"
  [cdkDropListConnectedTo]="[todoList, doneList1, doneList2, doneList3, doneList4, doneList5, doneList6, doneList7, doneList8]"
  [cdkDropListData]="done3"
  cdkDropListOrientation="horizontal" 
  (cdkDropListDropped)="drop($event)">
    <div 
    class="example-box3" 
    [style.height.px]="20"
    [style.width.%]="percentage(panelsMapped[item].dimensions.length, largestPanelLength)"
    *ngFor="let item of done3" 
      cdkDrag
      (pointerdown)="multiSelect.mouseDown($event)"
      (pointerup)="multiSelect.mouseUp($event)"
      (cdkDragStarted)="multiSelect.dragStarted();multiDrag.dragStarted($event)"
      (cdkDragEnded)="multiSelect.dragEnded()">
      <span>{{item.substring(item.length - 3) + " : " + panelsMapped[item].dimensions.length + "mm"}}
        <button mat-icon-button (click)="deletePanel(panelsMapped[item], done3, 'done3')">
          <mat-icon>delete</mat-icon>
        </button>
      </span>
    </div>
  </div>  

  <div 
  class="example-boundary"
  [style.width.px]="largestPanelLength"
  cdkDropList 
  #doneList4="cdkDropList"
  [cdkDropListConnectedTo]="[todoList, doneList1, doneList2, doneList3, doneList4, doneList5, doneList6, doneList7, doneList8]"
  [cdkDropListData]="done4"
  cdkDropListOrientation="horizontal" 
  (cdkDropListDropped)="drop($event)">
    <div 
    class="example-box3" 
    [style.height.px]="20"
    [style.width.%]="percentage(panelsMapped[item].dimensions.length, largestPanelLength)"
    *ngFor="let item of done4" 
      cdkDrag
      (pointerdown)="multiSelect.mouseDown($event)"
      (pointerup)="multiSelect.mouseUp($event)"
      (cdkDragStarted)="multiSelect.dragStarted();multiDrag.dragStarted($event)"
      (cdkDragEnded)="multiSelect.dragEnded()">
      <span>{{item.substring(item.length - 3) + " : " + panelsMapped[item].dimensions.length + "mm"}}
        <button mat-icon-button (click)="deletePanel(panelsMapped[item], done4, 'done4')">
          <mat-icon>delete</mat-icon>
        </button>
      </span>
    </div>
  </div>

  <div 
  class="example-boundary"
  [style.width.px]="largestPanelLength"
  cdkDropList 
  #doneList5="cdkDropList"
  [cdkDropListConnectedTo]="[todoList, doneList1, doneList2, doneList3, doneList4, doneList5, doneList6, doneList7, doneList8]"
  [cdkDropListData]="done5"
  cdkDropListOrientation="horizontal" 
  (cdkDropListDropped)="drop($event)">
    <div 
    class="example-box3" 
    [style.height.px]="20"
    [style.width.%]="percentage(panelsMapped[item].dimensions.length, largestPanelLength)"
    *ngFor="let item of done5" 
      cdkDrag
      (pointerdown)="multiSelect.mouseDown($event)"
      (pointerup)="multiSelect.mouseUp($event)"
      (cdkDragStarted)="multiSelect.dragStarted();multiDrag.dragStarted($event)"
      (cdkDragEnded)="multiSelect.dragEnded()">
      <span>{{item.substring(item.length - 3) + " : " + panelsMapped[item].dimensions.length + "mm"}}
        <button mat-icon-button (click)="deletePanel(panelsMapped[item], done5, 'done5')">
          <mat-icon>delete</mat-icon>
        </button>
      </span>
    </div>
  </div>

  <div 
  class="example-boundary"
  [style.width.px]="largestPanelLength"
  cdkDropList 
  #doneList6="cdkDropList"
  [cdkDropListConnectedTo]="[todoList, doneList1, doneList2, doneList3, doneList4, doneList5, doneList6, doneList7, doneList8]"
  [cdkDropListData]="done6"
  cdkDropListOrientation="horizontal" 
  (cdkDropListDropped)="drop($event)">
    <div 
    class="example-box3" 
    [style.height.px]="20"
    [style.width.%]="percentage(panelsMapped[item].dimensions.length, largestPanelLength)"
    *ngFor="let item of done6" 
      cdkDrag
      (pointerdown)="multiSelect.mouseDown($event)"
      (pointerup)="multiSelect.mouseUp($event)"
      (cdkDragStarted)="multiSelect.dragStarted();multiDrag.dragStarted($event)"
      (cdkDragEnded)="multiSelect.dragEnded()">
      <span>{{item.substring(item.length - 3) + " : " + panelsMapped[item].dimensions.length + "mm"}}
        <button mat-icon-button (click)="deletePanel(panelsMapped[item], done6, 'done6')">
          <mat-icon>delete</mat-icon>
        </button>
      </span>
    </div>
  </div>

  <div 
  class="example-boundary"
  [style.width.px]="largestPanelLength"
  cdkDropList 
  #doneList7="cdkDropList"
  [cdkDropListConnectedTo]="[todoList, doneList1, doneList2, doneList3, doneList4, doneList5, doneList6, doneList7, doneList8]"
  [cdkDropListData]="done7"
  cdkDropListOrientation="horizontal" 
  (cdkDropListDropped)="drop($event)">
    <div 
    class="example-box3" 
    [style.height.px]="20"
    [style.width.%]="percentage(panelsMapped[item].dimensions.length, largestPanelLength)"
    *ngFor="let item of done7" 
      cdkDrag
      (pointerdown)="multiSelect.mouseDown($event)"
      (pointerup)="multiSelect.mouseUp($event)"
      (cdkDragStarted)="multiSelect.dragStarted();multiDrag.dragStarted($event)"
      (cdkDragEnded)="multiSelect.dragEnded()">
      <span>{{item.substring(item.length - 3) + " : " + panelsMapped[item].dimensions.length + "mm"}}
        <button mat-icon-button (click)="deletePanel(panelsMapped[item], done7, 'done7')">
          <mat-icon>delete</mat-icon>
        </button>
      </span>
    </div>
  </div>

  <div 
  class="example-boundary"
  [style.width.px]="largestPanelLength"
  cdkDropList 
  #doneList8="cdkDropList"
  [cdkDropListConnectedTo]="[todoList, doneList1, doneList2, doneList3, doneList4, doneList5, doneList6, doneList7, doneList8]"
  [cdkDropListData]="done8"
  cdkDropListOrientation="horizontal" 
  (cdkDropListDropped)="drop($event)">
    <div 
    class="example-box3" 
    [style.height.px]="20"
    [style.width.%]="percentage(panelsMapped[item].dimensions.length, largestPanelLength)"
    *ngFor="let item of done8" 
      cdkDrag
      (pointerdown)="multiSelect.mouseDown($event)"
      (pointerup)="multiSelect.mouseUp($event)"
      (cdkDragStarted)="multiSelect.dragStarted();multiDrag.dragStarted($event)"
      (cdkDragEnded)="multiSelect.dragEnded()">
      <span>{{item.substring(item.length - 3) + " : " + panelsMapped[item].dimensions.length + "mm"}}
        <button mat-icon-button (click)="deletePanel(panelsMapped[item], done8, 'done8')">
          <mat-icon>delete</mat-icon>
        </button>
      </span>
    </div>
  </div>

</div>

<!-- <div class="holder">
  <h2>Panel Height</h2>
  <div 
  cdkDropList 
  class="example-boundary"
  [style.width.px]="largestPanelHeight">
    <div 
    class="example-box3" 
    [style.height.px]="20"
    [style.width.%]="percentage(panelsMapped[item].dimensions.height, largestPanelHeight)"
    *ngFor="let item of done1">
      <span>{{item.substring(18, 15) + " : " + panelsMapped[item].dimensions.length + "mm"}}</span>
    </div>
  </div>

  <div cdkDropList 
  class="example-boundary"
  [style.width.px]="largestPanelHeight">
    <div 
    class="example-box3" 
    [style.height.px]="20"
    [style.width.%]="percentage(panelsMapped[item].dimensions.height, largestPanelHeight)"
    *ngFor="let item of done2">
      <span>{{item.substring(18, 15) + " : " + panelsMapped[item].dimensions.height + "mm"}}</span>
    </div>
  </div>

  <div 
  class="example-boundary"
  [style.width.px]="largestPanelHeight">
    <div 
    class="example-box3" 
    [style.height.px]="20"
    [style.width.%]="percentage(panelsMapped[item].dimensions.height, largestPanelHeight)"
    *ngFor="let item of done3">
      <span>{{item.substring(18, 15) + " : " + panelsMapped[item].dimensions.height + "mm"}}</span>
    </div>
  </div>  

  <div 
  class="example-boundary"
  [style.width.px]="largestPanelHeight">
    <div 
    class="example-box3" 
    [style.height.px]="20"
    [style.width.%]="percentage(panelsMapped[item].dimensions.height, largestPanelHeight)"
    *ngFor="let item of done4">
      <span>{{item.substring(18, 15) + " : " + panelsMapped[item].dimensions.height + "mm"}}</span>
    </div>
  </div>

</div> -->

<!-- <div 
class="example-boundary"
[style.width.px]="largestPanelLength"
cdkDropList
cdkDropListOrientation="horizontal" 
#doneList="cdkDropList"
(cdkDropListDropped)="drop($event)"
[cdkDropListData]="done"
[cdkDropListConnectedTo]="[todoList]">
  <div
  class="example-box3" 
  [style.height.px]="20"
  [style.width.%]="percentage(panelsMapped[item].dimensions.length, largestPanelLength)"
  *ngFor="let item of done" 
  cdkDrag>
  <span>{{item.substring(18, 15) + " : " + panelsMapped[item].dimensions.length + "mm"}}</span>
  </div>
</div>

<div class="example-container2">
  <h2>Length</h2>
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of done" cdkDrag>
      <div class="lengthHolder"
      [style.height.px]="20"
      [style.width.%]="percentage(panelsMapped[item].dimensions.length, largestPanelLength)">
        {{item + " : " + panelsMapped[item].dimensions.length + "mm"}}
      </div>
    </div>
  </div>
</div>-->

<div class="example-container3">
  <div cdkDropList class="example-list2">
    <h2>Panel Height: {{jobsheetNumber}}</h2>
    <div class="example-box" *ngFor="let item of alldone">
      <div class="lengthHolder"
      [style.height.%]="100"
      [style.width.%]="percentage(panelsMapped[item].dimensions.height, largestPanelHeight)">
        {{item + " : " + panelsMapped[item].dimensions.height + "mm"}}
      </div>
    </div>
  </div>
</div> 

<button class="btnMargin" ngxPrint printSectionId="print-section" [useExistingCss]="true" mat-raised-button color="primary" *ngIf="!update">Print</button>
<button class="btnMargin" mat-raised-button color="primary" *ngIf="!update" (click)="openDeleteDialog()">Delete</button>
<button class="btnMargin" mat-raised-button color="primary" *ngIf="update" [disabled]="saveDisabled" (click)="save()">Create</button>
<button class="btnMargin" mat-raised-button color="primary" (click)="clear()">Clear</button>
<app-data-export [name]="'stacking'" [data]=exportData></app-data-export>

<div id="print-section"> 
  <div id="hidden_div">
    <div id="page1">
      <div class="centerNoBorder">
        <p>INNOVARE</p>
      </div>
      <div class="center">
        <mat-grid-list cols="4" rowHeight="100">
          <mat-grid-tile class="borderRight" [colspan]="1" [rowspan]="1">Project</mat-grid-tile>
          <mat-grid-tile class="fontSize" [colspan]="3" [rowspan]="1">{{disectJobsheet(jobsheetNumber, "project")}}</mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="center">
        <mat-grid-list cols="4" rowHeight="100">
          <mat-grid-tile class="borderRight" [colspan]="1" [rowspan]="1">Block/Plot</mat-grid-tile>
          <mat-grid-tile class="fontSize" [colspan]="3" [rowspan]="1">{{disectJobsheet(jobsheetNumber, "phase")}}</mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="center">
        <mat-grid-list cols="4" rowHeight="100">
          <mat-grid-tile class="borderRight" [colspan]="1" [rowspan]="1">Floor</mat-grid-tile>
          <mat-grid-tile class="fontSize bgBlack" [style.background]="getColour(disectJobsheet(jobsheetNumber, 'floor'))" [colspan]="3" [rowspan]="1">{{disectJobsheet(jobsheetNumber, "floor")}}</mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="center">
        <mat-grid-list cols="4" rowHeight="100">
          <mat-grid-tile class="borderRight" [colspan]="1" [rowspan]="1">Job Sheet Ref</mat-grid-tile>
          <mat-grid-tile class="fontSize" [colspan]="3" [rowspan]="1">{{jobsheetNumber}}</mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="center">
        <mat-grid-list cols="4" rowHeight="100">
          <mat-grid-tile class="borderRight" [colspan]="1" [rowspan]="1">Date Manufactured</mat-grid-tile>
          <mat-grid-tile class="fontSize" [colspan]="3" [rowspan]="1"></mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
    <div id="page2">
      <div class="p2header">
        JOB SHEET - TO BE RETURNED
      </div>
      <div class="centerSmaller">
        <mat-grid-list cols="4" rowHeight="20">
          <mat-grid-tile class="borderRight" [colspan]="1" [rowspan]="1">Project</mat-grid-tile>
          <mat-grid-tile [colspan]="3" [rowspan]="1">{{disectJobsheet(jobsheetNumber, "project")}}</mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="centerSmaller">
        <mat-grid-list cols="4" rowHeight="20">
          <mat-grid-tile class="borderRight" [colspan]="1" [rowspan]="1">Project Name</mat-grid-tile>
          <mat-grid-tile [colspan]="3" [rowspan]="1">{{project ? project.name : ""}}</mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="centerSmaller">
        <mat-grid-list cols="4" rowHeight="20">
          <mat-grid-tile class="borderRight" [colspan]="1" [rowspan]="1">Job Sheet Ref</mat-grid-tile>
          <mat-grid-tile [colspan]="3" [rowspan]="1">{{jobsheetNumber}}</mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="centerSmaller">
        <mat-grid-list cols="4" rowHeight="20">
          <mat-grid-tile class="borderRight" [colspan]="1" [rowspan]="1">Phase</mat-grid-tile>
          <mat-grid-tile [colspan]="3" [rowspan]="1">{{disectJobsheet(jobsheetNumber, "phase")}}</mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="centerSmaller">
        <mat-grid-list cols="4" rowHeight="20">
          <mat-grid-tile class="borderRight" [colspan]="1" [rowspan]="1">Floor</mat-grid-tile>
          <mat-grid-tile class="bgBlack" [style.background]="getColour(disectJobsheet(jobsheetNumber, 'floor'))" [colspan]="3" [rowspan]="1">{{disectJobsheet(jobsheetNumber, "floor")}}</mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="centerSmaller">
        <mat-grid-list cols="4" rowHeight="20">
          <mat-grid-tile class="borderRight" [colspan]="1" [rowspan]="1">Panel Type</mat-grid-tile>
          <mat-grid-tile [colspan]="3" [rowspan]="1">{{panels && panels[0] ? productTypeProductionLine[panels[0].type] : ""}}</mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="centerSmaller">
        <mat-grid-list cols="4" rowHeight="20">
          <mat-grid-tile class="borderRight" [colspan]="1" [rowspan]="1">Created By</mat-grid-tile>
          <mat-grid-tile [colspan]="3" [rowspan]="1">{{jobsheet ? jobsheet.createdBy : ""}}</mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="p2header2">
        <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
          <div [fxFlex]="25">
            Panel Area: {{calculateStats("area") || 0}} m2
          </div>
          <div [fxFlex]="25">
            Height: {{calculateStats("height") || 0}} mm
          </div>
          <div [fxFlex]="25">
            Length: {{calculateStats("length") || 0}} mm
          </div>
          <div [fxFlex]="25">
            Weight: {{calculateStats("weight") || 0}} kg
          </div>
        </div>
      </div>
      <div class="holder">

        <div  
        *ngIf="done1.length"
        class="example-boundary"
        [style.width.px]="largestPanelLength">
          <div 
          class="example-box3" 
          [style.height.px]="20"
          [style.width.%]="percentage(panelsMapped[item].dimensions.length, largestPanelLength)"
          *ngFor="let item of done1">
            <span>{{item.substring(item.length - 3) + " : " + panelsMapped[item].dimensions.length + "mm"}}</span>
          </div>
        </div>
    
        <div  
        *ngIf="done2.length"
        class="example-boundary"
        [style.width.px]="largestPanelLength">
          <div 
          class="example-box3" 
          [style.height.px]="20"
          [style.width.%]="percentage(panelsMapped[item].dimensions.length, largestPanelLength)"
          *ngFor="let item of done2">
            <span>{{item.substring(item.length - 3) + " : " + panelsMapped[item].dimensions.length + "mm"}}</span>
          </div>
        </div>
      
        <div 
        *ngIf="done3.length"
        class="example-boundary"
        [style.width.px]="largestPanelLength">
          <div 
          class="example-box3" 
          [style.height.px]="20"
          [style.width.%]="percentage(panelsMapped[item].dimensions.length, largestPanelLength)"
          *ngFor="let item of done3">
            <span>{{item.substring(item.length - 3) + " : " + panelsMapped[item].dimensions.length + "mm"}}</span>
          </div>
        </div>  
      
        <div 
        *ngIf="done4.length"
        class="example-boundary"
        [style.width.px]="largestPanelLength">
          <div 
          class="example-box3" 
          [style.height.px]="20"
          [style.width.%]="percentage(panelsMapped[item].dimensions.length, largestPanelLength)"
          *ngFor="let item of done4">
            <span>{{item.substring(item.length - 3) + " : " + panelsMapped[item].dimensions.length + "mm"}}</span>
          </div>
        </div>

        <div 
        *ngIf="done5.length"
        class="example-boundary"
        [style.width.px]="largestPanelLength">
          <div 
          class="example-box3" 
          [style.height.px]="20"
          [style.width.%]="percentage(panelsMapped[item].dimensions.length, largestPanelLength)"
          *ngFor="let item of done5">
            <span>{{item.substring(item.length - 3) + " : " + panelsMapped[item].dimensions.length + "mm"}}</span>
          </div>
        </div>

        <div 
        *ngIf="done6.length"
        class="example-boundary"
        [style.width.px]="largestPanelLength">
          <div 
          class="example-box3" 
          [style.height.px]="20"
          [style.width.%]="percentage(panelsMapped[item].dimensions.length, largestPanelLength)"
          *ngFor="let item of done6">
            <span>{{item.substring(item.length - 3) + " : " + panelsMapped[item].dimensions.length + "mm"}}</span>
          </div>
        </div>

        <div 
        *ngIf="done7.length"
        class="example-boundary"
        [style.width.px]="largestPanelLength">
          <div 
          class="example-box3" 
          [style.height.px]="20"
          [style.width.%]="percentage(panelsMapped[item].dimensions.length, largestPanelLength)"
          *ngFor="let item of done7">
            <span>{{item.substring(item.length - 3) + " : " + panelsMapped[item].dimensions.length + "mm"}}</span>
          </div>
        </div>


        <div 
        *ngIf="done8.length"
        class="example-boundary"
        [style.width.px]="largestPanelLength">
          <div 
          class="example-box3" 
          [style.height.px]="20"
          [style.width.%]="percentage(panelsMapped[item].dimensions.length, largestPanelLength)"
          *ngFor="let item of done8">
            <span>{{item.substring(item.length - 3) + " : " + panelsMapped[item].dimensions.length + "mm"}}</span>
          </div>
        </div>


      </div>
      <div class="table">
        <table>
          <tr>
            <th>Panel Ref</th>
            <th>Framing Type</th>
            <th>Frame Length</th>
            <th>Frame Height</th>
            <th>Weight</th>
            <th>Qty</th>
          </tr>
          <tr *ngFor="let panelId of alldone">
            <td>{{panelsMapped[panelId].id}}</td>
            <td>{{panelsMapped[panelId].additionalInfo.framingStyle}}</td>
            <td>{{panelsMapped[panelId].dimensions.length}}</td>
            <td>{{panelsMapped[panelId].dimensions.height}}</td>
            <td>{{panelsMapped[panelId].dimensions.weight}}</td>
            <td>1</td>
          </tr>
        </table>
      </div>
      SPECIAL NOTES:
      <div class="sub_div"> 
        <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
          <div [fxFlex]="50">
            Operator Initials:
          </div>
          <div [fxFlex]="50">
            Date:
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

