.example-form {
    width: 100%;
  }
  
.example-full-width {
  width: 100%;
}

.floatRight{
  float: right;
}

.example-chip-list {
  width: 100%;
}


.amountHeight {
  height: 45px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
