mat-grid-tile {
    background: white;
    border:solid black 1px;
    font-family: sans-serif;
    font-weight: bold;
}

mat-card {
    height: 96%;
}

.pp-grid-list{
    height:100%;
}

.productionLineFont{
    font-size:3.5vw;
}

.twoDigit{
    font-size : 3vw;
}
.threeDigit{
    font-size: 2.5vw;
}
.fourDigit{
    font-size: 2.0vw;
}

.titleFont{
    font-size: 1.5vw;
}

.red-indicator{
    background-color: red;
    color:white;
}
.amber-indicator{
    background-color: rgb(161, 100, 9);
    color:white;
}
.green-indicator{
    background-color: green;
    color:white;
}
.white-indicator{
    background-color: white;
}
.purple-indicator{
    background-color: purple;
    color:white;
}


// .tp-wrapper {
//     perspective: 800px;
// }

.tp-box {
position: absolute;
width: 200px;
height: 100px;
transform-style: preserve-3d;
transition: transform 5s;
}
.tp-box__side {
backface-visibility: hidden;
}
.tp-box__front {
background: #f30d36;
}
.tp-box__back {
background: #23262d;
transform: rotateY(179.9deg);
}