<button
[style.display]="!area.comments ? '' : 'none'"
(click)="openDialog()"
 mat-button class="mat-icon-button" aria-label="note_add">
 <mat-icon *ngIf="additionalDataAddon !== ''" matBadgeSize="large" matBadgeOverlap="false" matBadge="{{mappAddons[additionalDataAddon]}}">note_add</mat-icon>
 <mat-icon *ngIf="additionalDataAddon == ''">note_add</mat-icon>
</button>

<button 
[style.display]="area.comments ? '' : 'none'"
(click)="openDialog()"
matTooltip="{{area.comments}}" 
mat-button class="mat-icon-button" 
aria-label="note_add">
  <mat-icon *ngIf="additionalDataAddon !== ''" matBadgeSize="large" matBadgeOverlap="false" matBadge="{{mappAddons[additionalDataAddon]}}">note_add</mat-icon>
  <mat-icon *ngIf="additionalDataAddon == ''">note_add</mat-icon>
</button>