<mat-form-field class="datePicker" >
    <input matInput [matDatepicker]="picker" [value]="selectDate" (dateChange)="addEvent('change', $event)" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>