<div id="sidebar">
    <mat-nav-list>
        <!-- <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/charts']">
            <mat-icon class="sidenav-icon">bar_chart</mat-icon> {{ 'Charts' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/tables']">
            <mat-icon class="sidenav-icon">table_chart</mat-icon> {{ 'Tables' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/forms']">
            <mat-icon class="sidenav-icon">input</mat-icon> {{ 'Forms' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/grid']">
            <mat-icon class="sidenav-icon">grid_on</mat-icon> {{ 'Material Grid' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/components']">
            <mat-icon class="sidenav-icon">code</mat-icon> {{ 'Material Component' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/blank-page']">
            <mat-icon class="sidenav-icon">insert_drive_file</mat-icon> {{ 'Blank Page' | translate }}
        </a> -->
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/projects']">
            <mat-icon class="sidenav-icon">subject</mat-icon> {{ 'Projects' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/quotes']">
            <mat-icon class="sidenav-icon">format_quote</mat-icon> {{ 'Quotes' | translate }}
        </a>
        <!-- <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/forward-planner2']">
            <mat-icon class="sidenav-icon">grid_on</mat-icon> {{ 'Forward Planner' | translate }}
        </a> -->
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/forward-planner3']">
            <mat-icon class="sidenav-icon">grid_on</mat-icon> {{ 'Forward Planner' | translate }}
        </a>
        <!-- <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/forward-planner4']">
            <mat-icon class="sidenav-icon">grid_on</mat-icon> {{ 'Forward Planner4' | translate }}
        </a> -->
        <div class="nested-menu">
            <a mat-list-item (click)="addExpandClass('pages')">
                <mat-icon class="sidenav-icon">view_list</mat-icon> {{ 'Manage Projects' | translate }}
            </a>
            <span class="nested submenu" [class.expand]="showMenu === 'pages'">
                <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/project-status']">
                    <mat-icon class="sidenav-icon">list</mat-icon> {{ 'Project Status' | translate }}
                </a>
                <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/load-panels']">
                    <mat-icon class="sidenav-icon">file_upload</mat-icon> {{ 'Load Panels' | translate }}
                </a>
                <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/stacking']">
                    <mat-icon class="sidenav-icon">format_align_justify</mat-icon> {{ 'Stacking' | translate }}
                </a>
                <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/jobsheets']">
                    <mat-icon class="sidenav-icon">trending_up</mat-icon> {{ 'Productivity Tracker' | translate }}
                </a>
            </span>
        </div>
        <div class="nested-menu">
            <a mat-list-item (click)="addExpandClass('pages2')">
                <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboards' | translate }}
            </a>
            <span class="nested submenu" [class.expand]="showMenu === 'pages2'">
                <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/design-dashboard',todayDate]">
                    <mat-icon class="sidenav-icon">design_services</mat-icon> {{ 'Design Dashboard' | translate }}
                </a>
                <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/logistics-dashboard',todayDate]">
                    <mat-icon class="sidenav-icon">local_shipping</mat-icon> {{ 'Logistics Dashboard' | translate }}
                </a>
                <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/booking-dashboard',todayDate]">
                    <mat-icon class="sidenav-icon">book</mat-icon> {{ 'Booking Dashboard' | translate }}
                </a>
            </span>
        </div>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/performance']">
            <mat-icon class="sidenav-icon">track_changes</mat-icon> {{ 'Production Performance' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/performance2']">
            <mat-icon class="sidenav-icon">track_changes</mat-icon> {{ 'Line Performance' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/design-issued']">
            <mat-icon class="sidenav-icon">view_agenda</mat-icon> {{ 'Production Availability' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/forecast']">
            <mat-icon class="sidenav-icon">bar_chart</mat-icon> {{ 'Forecast' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/material-request']">
            <mat-icon class="sidenav-icon">build</mat-icon> {{ 'Material Request' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/supply-chain']">
            <mat-icon class="sidenav-icon">shopping_cart</mat-icon> {{ 'Supply Chain' | translate }}
        </a>
        <div class="nested-menu">
            <a mat-list-item (click)="addExpandClass('pages3')">
                <mat-icon class="sidenav-icon">admin_panel_settings</mat-icon> {{ 'Admin' | translate }}
            </a>
            <span class="nested submenu" [class.expand]="showMenu === 'pages3'">
                <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/admin']">
                    <mat-icon class="sidenav-icon">settings</mat-icon> {{ 'Settings' | translate }}
                </a>
                <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/active-projects']">
                    <mat-icon class="sidenav-icon">toggle_on</mat-icon> {{ 'Active Projects' | translate }}
                </a>
                <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/export']">
                    <mat-icon class="sidenav-icon">file_download</mat-icon> {{ 'Export' | translate }}
                </a>
                <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/datums']">
                    <mat-icon class="sidenav-icon">analytics</mat-icon> {{ 'Datums' | translate }}
                </a>
                <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/users']">
                    <mat-icon class="sidenav-icon">face</mat-icon> {{ 'Users' | translate }}
                </a>
                <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/audits']">
                    <mat-icon class="sidenav-icon">auto_stories</mat-icon> {{ 'Audits' | translate }}
                </a>
                <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dev-progress']">
                    <mat-icon class="sidenav-icon">developer_board</mat-icon> {{ 'Dev Progress' | translate }}
                </a>          
            </span>
        </div>
        <!-- <div class="nested-menu">
            <a mat-list-item (click)="addExpandClass('pages')">
                <mat-icon class="sidenav-icon">add</mat-icon> {{ 'Menu' | translate }}
            </a>
            <ul class="nested submenu" [class.expand]="showMenu === 'pages'">
                <li>
                    <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                </li>
            </ul>
        </div> -->
    </mat-nav-list>
</div>