table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #d8caca;
    text-align: left;
    padding: 8px;
    width: 20%;
  }

.mat-list-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.example-button-row button,
.example-button-row a {
  margin-top: 8px;
  margin-right: 8px;
}