<div *ngIf="!loaded" class="loader-container" >
  <div class="spinner"> 
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>
<span *ngIf="loaded">
  <mat-card>
    <mat-card-content>
      <table *ngIf="estimates.length else elseBlock">
        <tr>
            <th>Family Type</th>
            <th>M2</th>
        </tr>
        <tr *ngFor="let data of estimates">
          <td>{{data["name"]}}</td>
          <td>{{data["gross"]}}</td>
        </tr>
      </table>
      <ng-template #elseBlock>
        No Results
      </ng-template>
    </mat-card-content>
  </mat-card>
</span>