<div *ngIf="!loaded" class="loader-container" >
  <div class="spinner"> 
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>


<div *ngIf="loaded">
  <form class="example-form">
    <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
      <div [fxFlex]="33">
          <mat-card fxFlexFill fxLayoutAlign="center center">
            <mat-form-field class="example-full-width">
              <input type="text" placeholder="Select project" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="autoProject">
              <mat-autocomplete autoActiveFirstOption #autoProject="matAutocomplete" (optionSelected)="onSelectionProjectChange($event)" >
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </mat-card>
      </div>
      <div [fxFlex]="33">
          <mat-card fxFlexFill fxLayoutAlign="center center">
            <mat-form-field class="example-full-width">
              <input type="text" placeholder="Select Area" aria-label="Number" matInput [formControl]="myControl2" [matAutocomplete]="autoArea">
              <mat-autocomplete autoActiveFirstOption #autoArea="matAutocomplete" (optionSelected)="onSelectionAreaChange($event)" >
                <mat-option *ngFor="let option of filteredOptions2 | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </mat-card>
      </div>
      <div [fxFlex]="33">
        <mat-card fxFlexFill fxLayoutAlign="center center">
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Select Jobsheet" aria-label="Number" matInput [formControl]="myControl3" [matAutocomplete]="autoJobsheet">
            <mat-autocomplete autoActiveFirstOption #autoJobsheet="matAutocomplete" (optionSelected)="onSelectionJobsheetChange($event)" >
              <mat-option *ngFor="let option of filteredOptions3 | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </mat-card>
    </div>
  </div>
  </form>
</div>

<div *ngIf="showTable">

<table>
  <tr>
    <th>Manufacturing</th>
    <th>Operatives</th>
    <th>Duration</th>
    <th>Timing</th>
  </tr>
  <tr>
    <td style="width: 25%;">{{productTypeProductionLine[panels[0].type]}}</td>
    <td style="width: 25%;"><input matInput (change)="preKitUpdate(jobsheet.$key, productTypeProductionLine[panels[0].type], additional[productTypeProductionLine[panels[0].type]])" class="middle" type="number" [(ngModel)]="additional[productTypeProductionLine[panels[0].type]].operatives"></td>
    <td style="width: 25%;">-</td>
    <td style="width: 25%;">{{calculateTiming(productTypeProductionLine[panels[0].type], additional[productTypeProductionLine[panels[0].type]].operatives, additional[productTypeProductionLine[panels[0].type]].duration)}}</td>
  </tr>
</table>
<table>
  <tr>
    <th>Pre Kit</th>
    <th>Operatives</th>
    <th>Duration</th>
    <th>Timing</th>
  </tr>
  <tr>
    <td style="width: 25%;">Hundegger</td>
    <td style="width: 25%;"><input matInput (change)="preKitUpdate(jobsheet.$key, 'Hundegger', additional.Hundegger)" class="middle" type="number" [(ngModel)]="additional.Hundegger.operatives"></td>
    <td style="width: 25%;"><input matInput (change)="preKitUpdate(jobsheet.$key, 'Hundegger', additional.Hundegger)" class="middle" type="number" [(ngModel)]="additional.Hundegger.duration"></td>
    <td style="width: 25%;">{{calculateTiming("Hundegger", additional.Hundegger.operatives, additional.Hundegger.duration)}}</td>
  </tr>
  <tr>
    <td style="width: 25%;">H & M</td>
    <td style="width: 25%;"><input matInput (change)="preKitUpdate(jobsheet.$key, 'HM', additional.HM)" class="middle" type="number" [(ngModel)]="additional.HM.operatives"></td>
    <td style="width: 25%;"><input matInput (change)="preKitUpdate(jobsheet.$key, 'HM', additional.HM)" class="middle" type="number" [(ngModel)]="additional.HM.duration"></td>
    <td style="width: 25%;">{{calculateTiming("HM", additional.HM.operatives, additional.HM.duration)}}</td>
  </tr>
  <tr>
    <td style="width: 25%;">Beam Saw</td>
    <td style="width: 25%;"><input matInput (change)="preKitUpdate(jobsheet.$key, 'BeamSaw', additional.BeamSaw)" class="middle" type="number" [(ngModel)]="additional.BeamSaw.operatives"></td>
    <td style="width: 25%;"><input matInput (change)="preKitUpdate(jobsheet.$key, 'BeamSaw', additional.BeamSaw)" class="middle" type="number" [(ngModel)]="additional.BeamSaw.duration"></td>
    <td style="width: 25%;">{{calculateTiming("BeamSaw", additional.BeamSaw.operatives, additional.BeamSaw.duration)}}</td>
  </tr>
  <tr>
    <td style="width: 25%;">Wall Saw</td>
    <td style="width: 25%;"><input matInput (change)="preKitUpdate(jobsheet.$key, 'WallSaw', additional.WallSaw)" class="middle" type="number" [(ngModel)]="additional.WallSaw.operatives"></td>
    <td style="width: 25%;"><input matInput (change)="preKitUpdate(jobsheet.$key, 'WallSaw', additional.WallSaw)" class="middle" type="number" [(ngModel)]="additional.WallSaw.duration"></td>
    <td style="width: 25%;">{{calculateTiming("WallSaw", additional.WallSaw.operatives, additional.WallSaw.duration)}}</td>
  </tr>
  <tr>
    <td style="width: 25%;">ESP</td>
    <td style="width: 25%;"><input matInput (change)="preKitUpdate(jobsheet.$key, 'ESP', additional.ESP)" class="middle" type="number" [(ngModel)]="additional.ESP.operatives"></td>
    <td style="width: 25%;"><input matInput (change)="preKitUpdate(jobsheet.$key, 'ESP', additional.ESP)" class="middle" type="number" [(ngModel)]="additional.ESP.duration"></td>
    <td style="width: 25%;">{{calculateTiming("ESP", additional.ESP.operatives, additional.ESP.duration)}}</td>
  </tr>
</table>
<table>
  <tr>
    <th>Other</th>
    <th>Operatives</th>
    <th>Duration</th>
    <th>Timing</th>
  </tr>
  <tr>
    <td style="width: 25%;">Logistics</td>
    <td style="width: 25%;"><input matInput (change)="preKitUpdate(jobsheet.$key, 'Logistics', additional.Logistics)" class="middle" type="number" [(ngModel)]="additional.Logistics.operatives"></td>
    <td style="width: 25%;"><input matInput (change)="preKitUpdate(jobsheet.$key, 'Logistics', additional.Logistics)" class="middle" type="number" [(ngModel)]="additional.Logistics.duration"></td>
    <td style="width: 25%;">{{calculateTiming("Logistics", additional.Logistics.operatives, additional.Logistics.duration)}}</td>
  </tr>
  <tr>
    <td style="width: 25%;">Process Lead</td>
    <td style="width: 25%;"><input matInput (change)="preKitUpdate(jobsheet.$key, 'ProcessLead', additional.ProcessLead)" class="middle" type="number" [(ngModel)]="additional.ProcessLead.operatives"></td>
    <td style="width: 25%;"><input matInput (change)="preKitUpdate(jobsheet.$key, 'ProcessLead', additional.ProcessLead)" class="middle" type="number" [(ngModel)]="additional.ProcessLead.duration"></td>
    <td style="width: 25%;">{{calculateTiming("ProcessLead", additional.ProcessLead.operatives, additional.ProcessLead.duration)}}</td>
  </tr>
</table>


</div>
