<h2>There are {{materialRequests.length}} material requests for this area</h2>

<ul>
  <li *ngFor="let materialRequest of materialRequests">Material Request Number - {{materialRequest.materialNumber}}</li>
</ul>  