<div class="printId">{{deliveryDate | date: "dd/MM/yyyy"}}</div>
<mat-form-field class="deliveryDatePicker">
  <input matInput [min]="minDate" [matDatepickerFilter]="weekendFilter" [ngModel]="deliveryDate" [matDatepicker]="picker" [value]="deliveryDate" (dateChange)="deliveryDateChange('change', $event)">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker [calendarHeaderComponent]="dateClass">Delivery Date</mat-datepicker> 
</mat-form-field>