<div *ngIf="whichRoute === 'create-supplier'">
  <mat-horizontal-stepper #stepper>
    <mat-step>
      <ng-template matStepLabel>Contacts</ng-template>
      <span>
        <h4>Contacts</h4>
        <span *ngIf="contactArr.length ? 'none' : ''">
          <table>
            <tr>
              <th>Name</th>
              <th>Company Name</th>
              <th>Job Title</th>
              <th>Main Contact</th>
              <th>Delete</th>
            </tr>
            <tr *ngFor="let con of contactArr | keyvalue">
              <td>{{con.value.firstName + " " + con.value.lastName}}</td>
              <td>{{con.value.employer}}</td>
              <td>{{con.value.jobTitle}}</td>
              <td> 
                <mat-slide-toggle (change)="changeMainContact(con.value)" [(ngModel)]="con.value.mainContact"></mat-slide-toggle>
              </td>
              <td><button mat-icon-button (click)="remove(con.key)"><mat-icon>delete</mat-icon></button></td>
            </tr>
          </table>
        </span>
        <span *ngIf="contactArr.length ? '' : 'none'">
          <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column">
            <div fxFlex>
                <mat-card fxFlexFill fxLayoutAlign="center center">
                  <h4>Please add supplier contacts</h4>
                </mat-card>
            </div>
          </div>
        </span>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Create New Contact
              </mat-panel-title>
            </mat-expansion-panel-header>
            <table>
              <caption>Details</caption>
              <tr>
                <th colspan="4">Click to add to list: <button mat-icon-button (click)='add()'><mat-icon>add</mat-icon></button></th>
              </tr>
              <tr>
                <td>First Name</td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput type='text' [(ngModel)]="contact.firstName">
                  </mat-form-field>
                </td>
                <td>Landline Number</td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput type='text' [(ngModel)]="contact.phone">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>Last Name</td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput type='text' [(ngModel)]="contact.lastName">
                  </mat-form-field>
                </td>
                <td>Mobile Number (Work)</td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput type='text' [(ngModel)]="contact.mobileWork">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>Other Names</td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput type='text' [(ngModel)]="contact.otherName">
                  </mat-form-field>
                </td>
                <td>Mobile Number (Other)</td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput type='text' [(ngModel)]="contact.mobileOther">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>Employer</td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput type='text' [(ngModel)]="contact.employer">
                  </mat-form-field>
                </td>
                <td>Email Address (Work)</td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput type='text' [(ngModel)]="contact.emailWork">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>Job Title</td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput type='text' [(ngModel)]="contact.jobTitle">
                  </mat-form-field>
                </td>
                <td>Email Address (Other)</td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput type='text' [(ngModel)]="contact.emailOther">
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </mat-expansion-panel>
        </mat-accordion>
      </span>
      <div class="example-button-row">
        <button mat-stroked-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Details</ng-template>
      <h4>Supplier Details</h4>
      <table>
        <tr>
          <th colspan="4">Details</th>
        </tr>
        <tr>
          <td>Company Name</td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput type='text' [(ngModel)]="supplier.companyName">
            </mat-form-field>
          </td>
          <td>Account Currency</td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput type='text' [(ngModel)]="supplier.accCurrency">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>Short Company Name</td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput type='text' [(ngModel)]="supplier.companyShort">
            </mat-form-field>
          </td>
          <td>VAT Reg Number</td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput type='number' [(ngModel)]="supplier.vat">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>Payee Name</td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput type='text' [(ngModel)]="supplier.payee">
            </mat-form-field>
          </td>
          <td>Mobile Number</td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput type='text' [(ngModel)]="supplier.mobile">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>Address Line 1</td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput type='text' [(ngModel)]="supplier.address1">
            </mat-form-field>
          </td>
          <td>Telephone Number</td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput type='text' [(ngModel)]="supplier.phone">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>Address Line 2</td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput type='text' [(ngModel)]="supplier.address2">
            </mat-form-field>
          </td>
          <td>Fax Address</td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput type='text' [(ngModel)]="supplier.fax">
            </mat-form-field>
        </tr>
        <tr>
          <td>Address Line 3</td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput type='text' [(ngModel)]="supplier.address3">
            </mat-form-field>
          </td>
          <td>Email Address</td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput type='text' [(ngModel)]="supplier.email">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>Address Line 4</td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput type='text' [(ngModel)]="supplier.address4">
            </mat-form-field>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Post Code</td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput type='text' [(ngModel)]="supplier.postcode">
            </mat-form-field>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Country</td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput type='text' [(ngModel)]="supplier.country">
            </mat-form-field>
          </td>
          <td></td>
          <td></td>
        </tr>
      </table>
      <div class="example-button-row">
        <button mat-stroked-button matStepperPrevious>Back</button>
        <button mat-stroked-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Review</ng-template>
      <h4>Supplier Review</h4>
      <span [style.display]="saved ? 'none' : ''">
      <table>
        <tr>
          <th colspan="4">Details</th>
        </tr>
        <tr>
          <td>Company Name</td>
          <td>
            {{supplier.companyName}}
          </td>
          <td>Account Currency</td>
          <td>
            {{supplier.accCurrency}}
          </td>
        </tr>
        <tr>
          <td>Short Company Name</td>
          <td>
            {{supplier.companyShort}}
          </td>
          <td>VAT Reg Number</td>
          <td>
            {{supplier.vat}}
          </td>
        </tr>
        <tr>
          <td>Payee Name</td>
          <td>
            {{supplier.payee}}
          </td>
          <td>Mobile Number</td>
          <td>
            {{supplier.mobile}}
          </td>
        </tr>
        <tr>
          <td>Address Line 1</td>
          <td>
            {{supplier.address1}}
          </td>
          <td>Telephone Number</td>
          <td>
            {{supplier.phone}}
          </td>
        </tr>
        <tr>
          <td>Address Line 2</td>
          <td>
            {{supplier.address2}}
          </td>
          <td>Fax Address</td>
          <td>
            {{supplier.fax}}
        </tr>
        <tr>
          <td>Address Line 3</td>
          <td>
            {{supplier.address3}}
          </td>
          <td>Email Address</td>
          <td>
            {{supplier.email}}
          </td>
        </tr>
        <tr>
          <td>Address Line 4</td>
          <td>
            {{supplier.address4}}
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Post Code</td>
          <td>
            {{supplier.postcode}}
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Country</td>
          <td>
            {{supplier.country}}
          </td>
          <td></td>
          <td></td>
        </tr>
      </table>
      <h4>Contacts</h4>
      <span *ngIf="contactArr.length ? 'none' : ''">
        <table>
          <tr>
            <th>Name</th>
            <th>Company Name</th>
            <th>Job Title</th>
            <th>Main Contact</th>
            <th>Delete</th>
          </tr>
          <tr *ngFor="let con of contactArr | keyvalue">
            <td>{{con.value.firstName + " " + con.value.lastName}}</td>
            <td>{{con.value.employer}}</td>
            <td>{{con.value.jobTitle}}</td>
            <td> 
              <mat-slide-toggle (change)="changeMainContact(con.value)" [(ngModel)]="con.value.mainContact"></mat-slide-toggle>
            </td>
            <td><button mat-icon-button (click)="remove(con.key)"><mat-icon>delete</mat-icon></button></td>
          </tr>
        </table>
      </span>
      <span *ngIf="contactArr.length ? '' : 'none'">
        <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column">
          <div fxFlex>
              <mat-card fxFlexFill fxLayoutAlign="center center">
                <h4>Please add supplier contacts</h4>
              </mat-card>
          </div>
        </div>
      </span>
      </span>
      <span [style.display]="saved ? '' : 'none'">
        <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column">
          <div fxFlex>
              <mat-card fxFlexFill fxLayoutAlign="center center">
                <mat-list>
                  <mat-list-item> <mat-icon [style.margin-left.%]="-100" [style.font-size.px]="70">check_circle_outline</mat-icon> </mat-list-item>
                  <mat-list-item></mat-list-item>
                  <mat-list-item> <h4>Successfully Added New Supplier</h4> </mat-list-item>
                  <mat-list-item> <button mat-stroked-button (click)="done()">Ok</button> </mat-list-item>
                 </mat-list>
              </mat-card>
          </div>
        </div>
      </span>
      <div [style.display]="saved ? 'none' : ''" class="example-button-row">
        <button mat-stroked-button matStepperPrevious>Back</button>
        <button mat-stroked-button (click)="reset(stepper)">Reset</button>
        <button mat-stroked-button (click)="save(contactArr, supplier)">Save</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
