<span *ngIf="data.type === 'edit'">
  <form [formGroup]="bookingControl" (ngSubmit)="onSubmits()">
    <mat-toolbar class="innview-nav">
      <span><h1 mat-dialog-title>Edit Booking</h1></span>
      <span class="example-fill-remaining-space"></span>
      <button mat-raised-button [style.marginRight.px]="10" [disabled]="!bookingControl.valid" type="submit">Save</button>
    </mat-toolbar>
    <div mat-dialog-content>
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile [colspan]="1">
          <mat-card fxFlexFill fxLayoutAlign="center center">
            <mat-form-field appearance="outline" class="example-full-width">
              <input matInput type="text" placeholder="Project Number" formControlName="projectId" [matAutocomplete]="auto" required>
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onSelectionChanged($event)">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
              <input matInput type="text" placeholder="Project Name" formControlName="projectName" required>
              <input type="hidden" placeholder="Project" formControlName="project" required>
              <mat-label>Project Name</mat-label>
            </mat-form-field>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">
          <mat-card fxFlexFill fxLayoutAlign="center center">
            <mat-form-field appearance="outline" class="example-full-width">
              <input matInput type="text" placeholder="PO Number" formControlName="poNumber" required>
              <mat-label>PO Number</mat-label>
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
              <input matInput type="number" placeholder="Delivery Number" formControlName="delNumber" required>
              <mat-label>Delivery Number</mat-label>
            </mat-form-field>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">        
          <mat-card fxFlexFill fxLayoutAlign="center center">
            <mat-form-field appearance="outline" class="example-full-width">
              <input matInput type="number" placeholder="m2" formControlName="m2" required>
              <mat-label>m2</mat-label>
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
              <input matInput type="text" placeholder="Load Description" formControlName="loadDesc" required>
              <mat-label>Load Description</mat-label>
            </mat-form-field>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">        
          <mat-card fxFlexFill fxLayoutAlign="center center">
            <mat-form-field appearance="outline" class="example-full-width">
              <input matInput type="text" placeholder="Haulier" formControlName="haulierType" required>
              <mat-label>Haulier</mat-label>
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
              <input matInput type="text" placeholder="Vehicle Type" formControlName="vehicleType" required>
              <mat-label>Vehicle Type</mat-label>
            </mat-form-field>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2">        
          <mat-card style="width: 100%;" fxFlexFill fxLayoutAlign="center center">
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Notes" formControlName="notes"></textarea>
            </mat-form-field>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2">        
          <mat-card style="width: 100%;" fxFlexFill fxLayoutAlign="center center">
            <mat-form-field>
              <mat-select placeholder="Areas" [formControl]="toppings" multiple>
                <mat-select-trigger>
                  {{toppings.value ? toppings.value[0] : ''}}
                  <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                    (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let area of areas" [value]="area.key">{{area.id}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-chip-list>
              <mat-chip *ngFor="let area of toppings.value">
                {{this.areasHolder[area]}}
              </mat-chip>
            </mat-chip-list>
          </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    </div>
  </form>
</span>

<span *ngIf="data.type === 'add'">
  <form [formGroup]="bookingControl" (ngSubmit)="onSubmits()">
    <mat-toolbar class="innview-nav">
      <span><h1 mat-dialog-title>Add Booking</h1></span>
      <span class="example-fill-remaining-space"></span>
      <button mat-raised-button [disabled]="!bookingControl.valid" type="submit">Save</button>
    </mat-toolbar>
    <div mat-dialog-content>
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile [colspan]="1">
          <mat-card fxFlexFill fxLayoutAlign="center cBookedenter">
            <mat-form-field appearance="outline" class="example-full-width">
              <input matInput type="text" placeholder="Project Number" formControlName="projectId" [matAutocomplete]="auto" required>
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onSelectionChanged($event)">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
              <input matInput type="text" placeholder="Project Name" formControlName="projectName" required>
              <input type="hidden" placeholder="Project" formControlName="project" required>
              <mat-label>Project Name</mat-label>
            </mat-form-field>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">
          <mat-card fxFlexFill fxLayoutAlign="center center">
            <mat-form-field appearance="outline" class="example-full-width">
              <input matInput type="text" placeholder="PO Number" formControlName="poNumber" required>
              <mat-label>PO Number</mat-label>
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
              <input matInput type="number" placeholder="Delivery Number" formControlName="delNumber" required>
              <mat-label>Delivery Number</mat-label>
            </mat-form-field>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">        
          <mat-card fxFlexFill fxLayoutAlign="center center">
            <mat-form-field appearance="outline" class="example-full-width">
              <input matInput type="number" placeholder="m2" formControlName="m2" required>
              <mat-label>m2</mat-label>
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
              <input matInput type="text" placeholder="Load Description" formControlName="loadDesc" required>
              <mat-label>Load Description</mat-label>
            </mat-form-field>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">        
          <mat-card fxFlexFill fxLayoutAlign="center center">
            <mat-form-field appearance="outline" class="example-full-width">
              <input matInput type="text" placeholder="Haulier" formControlName="haulierType" required>
              <mat-label>Haulier</mat-label>
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
              <input matInput type="text" placeholder="Vehicle Type" formControlName="vehicleType" required>
              <mat-label>Vehicle Type</mat-label>
            </mat-form-field>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2">        
          <mat-card style="width: 100%;" fxFlexFill fxLayoutAlign="center center">
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Notes" formControlName="notes"></textarea>
            </mat-form-field>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2">        
          <mat-card style="width: 100%;" fxFlexFill fxLayoutAlign="center center">
            <mat-form-field>
              <mat-select placeholder="Areas" [formControl]="toppings" multiple>
                <mat-select-trigger>
                  {{toppings.value ? toppings.value[0] : ''}}
                  <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                    (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let area of areas" [value]="area.key">{{area.id}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-chip-list>
              <mat-chip *ngFor="let area of toppings.value">
                {{this.areasHolder[area]}}
              </mat-chip>
            </mat-chip-list>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </form>
</span>
