.example-full-width {
    width: 100%;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .example-fill-remaining-space {
    flex: 1 1 auto;
  }
  
  .innview-nav{
    background-color: rgb(156,39,176);
    color: white;
    margin-bottom: 5px;
  }

  .example-chip-list {
    width: 100%;
  }

  .mat-select {
    display: inline-block;
    outline: 0;
}