<div [style.display]="whichRoute === 'supplier-details' ? '' : 'none'">
  <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <div [fxFlex]="75">
        <mat-card>
          <div *ngIf="loaded">
            <mat-toolbar>
              Name: {{supplier.companyName}}
              <span class="example-spacer"></span>
              <button mat-icon-button (click)="setNav('/supply-chain/suppliers/supplier-details/' + supplier.$key + '/edit-supplier', 'edit-supplier')" class="example-icon" aria-label="edit supplier">
                <mat-icon>edit</mat-icon>
              </button>
            </mat-toolbar>
            <div class="table-container mat-elevation-z8">
              <table>
                <tr>
                  <th colspan="4">Details</th>
                </tr>
                <tr>
                  <td>Company Name</td>
                  <td>
                    {{supplier.companyName}}
                  </td>
                  <td>Account Currency</td>
                  <td>
                    {{supplier.accCurrency}}
                  </td>
                </tr>
                <tr>
                  <td>Short Company Name</td>
                  <td>
                    {{supplier.companyShort}}
                  </td>
                  <td>VAT Reg Number</td>
                  <td>
                    {{supplier.vat}}
                  </td>
                </tr>
                <tr>
                  <td>Payee Name</td>
                  <td>
                    {{supplier.payee}}
                  </td>
                  <td>Mobile Number</td>
                  <td>
                    {{supplier.mobile}}
                  </td>
                </tr>
                <tr>
                  <td>Address Line 1</td>
                  <td>
                    {{supplier.address1}}
                  </td>
                  <td>Telephone Number</td>
                  <td>
                    {{supplier.phone}}
                  </td>
                </tr>
                <tr>
                  <td>Address Line 2</td>
                  <td>
                    {{supplier.address2}}
                  </td>
                  <td>Fax Address</td>
                  <td>
                    {{supplier.fax}}
                </tr>
                <tr>
                  <td>Address Line 3</td>
                  <td>
                    {{supplier.address3}}
                  </td>
                  <td>Email Address</td>
                  <td>
                    {{supplier.email}}
                  </td>
                </tr>
                <tr>
                  <td>Address Line 4</td>
                  <td>
                    {{supplier.address4}}
                  </td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Post Code</td>
                  <td>
                    {{supplier.postcode}}
                  </td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Country</td>
                  <td>
                    {{supplier.country}}
                  </td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
              <span *ngIf="supplier.contactsArr.length ? 'none' : ''">
                <table>
                  <tr>
                    <th colspan="4">Contacts</th>
                  </tr>
                  <tr>
                    <th>Name</th>
                    <th>Company Name</th>
                    <th>Job Title</th>
                    <th>Main Contact</th>
                  </tr>
                  <tr *ngFor="let con of supplier.contactsArr | keyvalue">
                    <td>{{con.value.firstName + " " + con.value.lastName}}</td>
                    <td>{{con.value.employer}}</td>
                    <td>{{con.value.jobTitle}}</td>
                    <td><mat-checkbox [disabled]="true" [(ngModel)]="con.value.mainContact"></mat-checkbox></td>
                  </tr>
                </table>
              </span>
            </div>
          </div>
        </mat-card>
    </div>
    <div [fxFlex]="25">
        <mat-card [style.display]="'block'" fxFlexFill fxLayoutAlign="center center">
          <div *ngIf="loaded" style="font-size: 0.7vw;">
            <mat-toolbar>
              {{supplier.companyName}}
            </mat-toolbar>
            <mat-grid-list cols="2" rowHeight="2:1">
              <mat-grid-tile>
                <div class='internalMatGrid'>
                  <mat-grid-list cols="1" rowHeight="7:1">
                    <mat-grid-tile>Cost Per Unit</mat-grid-tile>
                    <mat-grid-tile>Min: £{{displayGrid.minUnitCost}}</mat-grid-tile>
                    <mat-grid-tile>Average: £{{displayGrid.avgUnitCost}}</mat-grid-tile>
                    <mat-grid-tile>Max: £{{displayGrid.maxUnitCost}}</mat-grid-tile>
                  </mat-grid-list>
                </div>
              </mat-grid-tile>
              <mat-grid-tile>
                <div class='internalMatGrid'>
                  <mat-grid-list cols="1" rowHeight="7:1">
                    <mat-grid-tile>Unique Stock Items</mat-grid-tile>
                    <mat-grid-tile style="font-size: 1.5vw; height:20%;"> {{displayGrid.unique}} </mat-grid-tile>
                  </mat-grid-list>
                </div>
              </mat-grid-tile>    
              <mat-grid-tile>
                <div class='internalMatGrid'>
                  <mat-grid-list cols="1" rowHeight="7:1">
                    <mat-grid-tile>Del. Time</mat-grid-tile>
                    <mat-grid-tile>Min: {{displayGrid.minDelTime}} days</mat-grid-tile>
                    <mat-grid-tile>Average: {{displayGrid.avgDelTime}} days</mat-grid-tile>
                    <mat-grid-tile>Max: {{displayGrid.maxDelTime}} days</mat-grid-tile>
                  </mat-grid-list>
                </div>
              </mat-grid-tile>
              <mat-grid-tile>
                <div class='internalMatGrid'>
                  <mat-grid-list cols="1" rowHeight="7:1">
                    <mat-grid-tile>Col. Time</mat-grid-tile>
                    <mat-grid-tile>Min: {{displayGrid.minColTime}} days</mat-grid-tile>
                    <mat-grid-tile>Average: {{displayGrid.avgColTime}} days</mat-grid-tile>
                    <mat-grid-tile>Max: {{displayGrid.maxColTime}} days</mat-grid-tile>
                  </mat-grid-list>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </mat-card>
    </div>
  </div>

  <mat-toolbar>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <span class="example-spacer"></span>
    <app-data-export [data]=supplierExportArr></app-data-export>
  </mat-toolbar>
  
  <div class="centerAlign mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let row"> {{row.no}} </td>
      </ng-container>
      
      <ng-container matColumnDef="stockName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock Item </th>
        <td mat-cell *matCellDef="let row"><a (click)="setNav('/supply-chain/stock/stock-details/' + row.stockItemKey, 'stock-details')"  routerLink=''>{{row.stockName}}</a></td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Unit of Purchase </th>
        <td mat-cell *matCellDef="let row"> {{row.type}} </td>
      </ng-container>

      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Count </th>
        <td mat-cell *matCellDef="let row"> {{row.count}} </td>
      </ng-container>

      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cost </th>
        <td mat-cell *matCellDef="let row"> {{'£ ' + row.cost}} </td>
      </ng-container>

      <ng-container matColumnDef="unitCost">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cost per Unit </th>
        <td mat-cell *matCellDef="let row"> {{'£ ' + row.unitCost}} </td>
      </ng-container>

      <ng-container matColumnDef="delTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Delivery Lead Time </th>
        <td mat-cell *matCellDef="let row"> {{row.delTime + ' days'}} </td>
      </ng-container>

      <ng-container matColumnDef="colTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Collection Lead Time </th>
        <td mat-cell *matCellDef="let row"> {{row.colTime + ' days'}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let row"> {{row.status}} </td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Details </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="displayDetails(row)" class="example-icon" aria-label="stock details">
            <mat-icon>pageview</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

</div>

<router-outlet></router-outlet>