<span *ngIf="loaded">
  <table>
    <tr>
      <th>Name</th>
      <th>Last Modified</th>
    </tr>
    <tr *ngFor="let con of data">
      <td>{{con.name}}</td>
      <td>{{con.dtf}}</td>
    </tr>
  </table>
</span>