<mat-toolbar color="primary" class="fix-nav innview-nav">
    <button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <div *ngIf="!isMinimiseToggled()" class="nav-brand">
        <a class="navbar-item">
            <img src="assets/images/logo.svg">
        </a>
    </div>
    <div class="hidden-sm" *ngIf="isMinimiseToggled()">   
        <img width="30px" src="assets/images/icon.png">
    </div>
    <button *ngIf="!isMinimiseToggled()" type="button" mat-icon-button class="hidden-sm" (click)="toggleMinimiseSidebar()">
        <mat-icon aria-label="Minimise Sidebar">chevron_left</mat-icon>
    </button>
    <button *ngIf="isMinimiseToggled()" type="button" mat-icon-button class="hidden-sm" (click)="toggleMinimiseSidebar()">
        <mat-icon aria-label="Minimise Sidebar">chevron_right</mat-icon>
    </button>
    <span class="nav-spacer"></span>
    <!-- <form class="hidden-sm" style="margin-left: 20px; margin-top: 5px">
        <mat-form-field>
            <input matInput [placeholder]="'Search' | translate">
        </mat-form-field>
    </form>
    <button class="hidden-sm" mat-icon-button [matMenuTriggerFor]="language">
        <mat-icon>language</mat-icon>
    </button>
    <mat-menu #language="matMenu">
        <button mat-menu-item (click)="changeLang('en')">
            <span>{{ 'English' | translate }}</span>
        </button>
        <button mat-menu-item (click)="changeLang('fr')">
            <span>{{ 'French' | translate }}</span>
        </button>
        <button mat-menu-item (click)="changeLang('ur')">
            <span>{{ 'Urdu' | translate }}s</span>
        </button>
    </mat-menu>
    <button class="hidden-sm" mat-icon-button [matMenuTriggerFor]="profile">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #profile="matMenu">
        <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>{{ 'Profile' | translate }}</span>
        </button>
        <button mat-menu-item>
            <mat-icon>inbox</mat-icon>
            <span>{{ 'Inbox' | translate }}</span>
        </button>
        <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>{{ 'Settings' | translate }}</span>
        </button>
    </mat-menu> -->
    <mat-icon>account_circle</mat-icon>
    <span *ngIf="authService.currentUserId !== ''">
        <app-user-from-ref [userRef]="authService.currentUserId"></app-user-from-ref>
    </span>
    <button mat-icon-button (click)="onLoggedout()">
        <mat-icon>exit_to_app</mat-icon>
    </button>
</mat-toolbar>
