<!-- loader -->
<div *ngIf="!loaded || !loaded2" class="loader-container" >
  <div class="spinner"> 
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>
<mat-card *ngIf="loaded && loaded2">
  Auto Line 1   <mat-checkbox [(ngModel)]="productionLineFilter['SIP']"></mat-checkbox>
  Auto Line 2   <mat-checkbox [(ngModel)]="productionLineFilter['SIP2']"></mat-checkbox>
  Auto Line 3   <mat-checkbox [(ngModel)]="productionLineFilter['HSIP']"></mat-checkbox>
  Man. Line 1   <mat-checkbox [(ngModel)]="productionLineFilter['IFAST']"></mat-checkbox>
  Man. Line 2   <mat-checkbox [(ngModel)]="productionLineFilter['IFAST2']"></mat-checkbox>
  Man. Line 3   <mat-checkbox [(ngModel)]="productionLineFilter['TF']"></mat-checkbox>
  Man. Line 4   <mat-checkbox [(ngModel)]="productionLineFilter['TF2']"></mat-checkbox>
  SIP Line   <mat-checkbox [(ngModel)]="productionLineFilter['CASS']"></mat-checkbox>
</mat-card> 
<mat-card class="holder" *ngIf="loaded && loaded2">
  <mat-grid-list cols="7" rowHeight="fit" class="pp-grid-list">
      <mat-grid-tile>
      <app-current-date (currentDateChange)="currentDateChange($event)" [todayDate]="today" style="width:100%" ></app-current-date>
      </mat-grid-tile>
      <mat-grid-tile class="titleFont">Target</mat-grid-tile>
      <mat-grid-tile class="titleFont">By Now</mat-grid-tile>
      <mat-grid-tile class="titleFont">Panel Qty</mat-grid-tile>
      <mat-grid-tile class="titleFont">Panel m2</mat-grid-tile>
      <mat-grid-tile class="titleFont">Day Target</mat-grid-tile>
      <mat-grid-tile class="titleFont">At Risk</mat-grid-tile>
      <!-- SIP -->
      <mat-grid-tile *ngIf="productionLineFilter['SIP']" class="titleFont">Auto Line 1</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['SIP']" class="productionLineFont">{{target["1"]}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['SIP']" class="productionLineFont">{{now | byNow : target["1"]}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['SIP']" class="productionLineFont" [ngClass]="colorIndicator(statsMapped.each['1'].completedToday, now | byNow : target['1'])">{{statsMapped.each["1"].completedToday}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['SIP']" class="productionLineFont">{{statsMapped.each["1"].completedM2Today}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['SIP']" class="productionLineFont" [ngClass]="dayTargetColorIndicator(today, statsMapped.each['1'].completedToday - target['1'],-6,-5,0)">{{statsMapped.each["1"].completedToday - target["1"]}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['SIP']" class="productionLineFont">{{getLowestRisk(atRisk["1"])}}</mat-grid-tile>
      <!-- HSIP -->
      <mat-grid-tile *ngIf="productionLineFilter['SIP2']" class="titleFont">Auto Line 2</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['SIP2']" class="productionLineFont">{{target["2"]}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['SIP2']" class="productionLineFont">{{now | byNow : target["2"]}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['SIP2']" class="productionLineFont" [ngClass]="colorIndicator(statsMapped.each['2'].completedToday, now | byNow : target['2'])">{{statsMapped.each["2"].completedToday}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['SIP2']" class="productionLineFont">{{statsMapped.each["2"].completedM2Today}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['SIP2']" class="productionLineFont" [ngClass]="dayTargetColorIndicator(today, statsMapped.each['2'].completedToday - target['2'],-6,-5,0)">{{statsMapped.each["2"].completedToday - target["2"]}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['SIP2']" class="productionLineFont">{{getLowestRisk(atRisk["2"])}}</mat-grid-tile>
      <!-- IFAST -->
      <mat-grid-tile *ngIf="productionLineFilter['HSIP']" class="titleFont">Auto Line 3</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['HSIP']" class="productionLineFont">{{target["3"]}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['HSIP']" class="productionLineFont">{{now | byNow : target["3"]}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['HSIP']" class="productionLineFont" [ngClass]="colorIndicator(statsMapped.each['3'].completedToday, now | byNow : target['3'])">{{statsMapped.each["3"].completedToday}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['HSIP']" class="productionLineFont">{{statsMapped.each["3"].completedM2Today}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['HSIP']" class="productionLineFont" [ngClass]="dayTargetColorIndicator(today, statsMapped.each['3'].completedToday - target['3'],-6,-5,0)">{{statsMapped.each["3"].completedToday - target["3"]}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['HSIP']" class="productionLineFont">{{getLowestRisk(atRisk["3"])}}</mat-grid-tile>
      <!-- IFAST -->
      <mat-grid-tile *ngIf="productionLineFilter['IFAST']" class="titleFont">Man. Line 1</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['IFAST']" class="productionLineFont">{{target["4"]}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['IFAST']" class="productionLineFont">{{now | byNow : target["4"]}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['IFAST']" class="productionLineFont" [ngClass]="colorIndicator(statsMapped.each['4'].completedToday, now | byNow : target['4'])">{{statsMapped.each["4"].completedToday}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['IFAST']" class="productionLineFont">{{statsMapped.each["4"].completedM2Today}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['IFAST']" class="productionLineFont" [ngClass]="dayTargetColorIndicator(today, statsMapped.each['4'].completedToday - target['4'],-6,-5,0)">{{statsMapped.each["4"].completedToday - target["4"]}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['IFAST']" class="productionLineFont">{{getLowestRisk(atRisk["4"])}}</mat-grid-tile>
      <!-- IFAST -->
      <mat-grid-tile *ngIf="productionLineFilter['IFAST2']" class="titleFont">Man. Line 2</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['IFAST2']" class="productionLineFont">{{target["5"]}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['IFAST2']" class="productionLineFont">{{now | byNow : target["5"]}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['IFAST2']" class="productionLineFont" [ngClass]="colorIndicator(statsMapped.each['5'].completedToday, now | byNow : target['5'])">{{statsMapped.each["5"].completedToday}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['IFAST2']" class="productionLineFont">{{statsMapped.each["5"].completedM2Today}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['IFAST2']" class="productionLineFont" [ngClass]="dayTargetColorIndicator(today, statsMapped.each['5'].completedToday - target['5'],-6,-5,0)">{{statsMapped.each["5"].completedToday - target["5"]}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['IFAST2']" class="productionLineFont">{{getLowestRisk(atRisk["5"])}}</mat-grid-tile>
      <!-- IFAST -->
      <mat-grid-tile *ngIf="productionLineFilter['TF']" class="titleFont">Man. Line 3</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['TF']" class="productionLineFont">{{target["6"]}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['TF']" class="productionLineFont">{{now | byNow : target["6"]}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['TF']" class="productionLineFont" [ngClass]="colorIndicator(statsMapped.each['6'].completedToday, now | byNow : target['6'])">{{statsMapped.each["6"].completedToday}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['TF']" class="productionLineFont">{{statsMapped.each["6"].completedM2Today}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['TF']" class="productionLineFont" [ngClass]="dayTargetColorIndicator(today, statsMapped.each['6'].completedToday - target['6'],-6,-5,0)">{{statsMapped.each["6"].completedToday - target["6"]}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['TF']" class="productionLineFont">{{getLowestRisk(atRisk["6"])}}</mat-grid-tile>
      <!-- IFAST -->
      <mat-grid-tile *ngIf="productionLineFilter['TF2']" class="titleFont">Man. Line 4</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['TF2']" class="productionLineFont">{{target["7"]}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['TF2']" class="productionLineFont">{{now | byNow : target["7"]}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['TF2']" class="productionLineFont" [ngClass]="colorIndicator(statsMapped.each['7'].completedToday, now | byNow : target['7'])">{{statsMapped.each["7"].completedToday}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['TF2']" class="productionLineFont">{{statsMapped.each["7"].completedM2Today}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['TF2']" class="productionLineFont" [ngClass]="dayTargetColorIndicator(today, statsMapped.each['7'].completedToday - target['7'],-6,-5,0)">{{statsMapped.each["7"].completedToday - target["7"]}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['TF2']" class="productionLineFont">{{getLowestRisk(atRisk["7"])}}</mat-grid-tile>
      <!-- IFAST -->
      <mat-grid-tile *ngIf="productionLineFilter['CASS']" class="titleFont">SIP Line 1</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['CASS']" class="productionLineFont">{{target["8"]}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['CASS']" class="productionLineFont">{{now | byNow : target["8"]}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['CASS']" class="productionLineFont" [ngClass]="colorIndicator(statsMapped.each['8'].completedToday, now | byNow : target['8'])">{{statsMapped.each["8"].completedToday}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['CASS']" class="productionLineFont">{{statsMapped.each["8"].completedM2Today}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['CASS']" class="productionLineFont" [ngClass]="dayTargetColorIndicator(today, statsMapped.each['8'].completedToday - target['8'],-6,-5,0)">{{statsMapped.each["8"].completedToday - target["8"]}}</mat-grid-tile>
      <mat-grid-tile *ngIf="productionLineFilter['CASS']" class="productionLineFont">{{getLowestRisk(atRisk["8"])}}</mat-grid-tile>
      <!-- TOTAL -->
      <!-- <mat-grid-tile class="titleFont">TOTAL</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{(now | byNow : target["SIP"]) + (now | byNow : target["HSIP"]) + (now | byNow : target["IFAST"]) + (now | byNow : target["TF"]) + (now | byNow : target["CASS"])}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{statsMapped.totalCompletedToday}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{statsMapped.totalCompletedM2Today}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{statsMapped.totalStarted + statsMapped.each["HSIP"].started + statsMapped.each["IFAST"].started + statsMapped.each["TF"].started + statsMapped.each["CASS"].started}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{statsMapped.totalStartedM2 + statsMapped.each["HSIP"].startedM2 + statsMapped.each["IFAST"].startedM2 + statsMapped.each["TF"].startedM2 + statsMapped.each["CASS"].startedM2}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{(statsMapped.each["SIP"].completedToday - target["SIP"]) + (statsMapped.each["HSIP"].completedToday - target["HSIP"]) + (statsMapped.each["IFAST"].completedToday - target["IFAST"]) + (statsMapped.each["TF"].completedToday - target["TF"]) + (statsMapped.each["CASS"].completedToday - target["CASS"])}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont"></mat-grid-tile> -->
  </mat-grid-list>
</mat-card> 

  <!-- <app-forward-planner [productionLineFilter]="productionLineFilter"></app-forward-planner> -->