<div [formGroup]="ctr">
  <mat-form-field appearance="outline" class="example-full-width" *ngIf="required">
    <mat-label>{{name}}</mat-label>
    <mat-select formControlName="{{variant}}" (selectionChange)="selectionChange($event)" required>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let item of items" [value]="item.$key">
          {{item.$key}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="ctr.hasError('required')">Please choose an {{name}}</mat-error>
  </mat-form-field>
</div>
<div [formGroup]="ctr">
  <mat-form-field appearance="outline" class="example-full-width" *ngIf="!required">
    <mat-label>{{name}}</mat-label>
    <mat-select formControlName="{{variant}}" (selectionChange)="selectionChange($event)">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let item of items" [value]="item.$key">
          {{item.$key}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="ctr.hasError('required')">Please choose an {{name}}</mat-error>
  </mat-form-field>
</div>

