<h1 mat-dialog-title>{{data.displayName}}</h1>
<div mat-dialog-content>
  <p>Enter new {{data.displayName}}</p>
  <mat-form-field appearance="outline" class="example-full-width">
      <input matInput name="name" placeholder="Desc." [(ngModel)]="newObj.name">
  </mat-form-field>
  <mat-form-field *ngIf="newObj.code !== undefined" appearance="outline" class="example-full-width">
    <input matInput name="code" placeholder="Category" [(ngModel)]="newObj.code">
</mat-form-field>
<p>{{status}}</p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button mat-button mat-raised-button [disabled]="disableSave" (click)="saveStockType()">Save</button>
</div>