<h2>Dev Projress</h2>
<ul>
    <li>Projects with revit data {{revitCount}}</li>
    <li>Job Sheets in innview 0</li>
    <li>Productivity input direct to innview</li>
    <li>QA input direct to innview for all panels</li>
    <li>Zero data errors</li>
    <li>Plan at jobsheet level in innview</li>
    <li>PMV input</li>
</ul> 