<div mat-dialog-content>
  <p>Change {{data.type}} date: {{data.date | date:"d MMM"}} {{data.time}}</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.date" [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br>
  <input [(ngModel)]="data.time" value="data.time" [ngxTimepicker]="picker2" placeholder="Choose a time">
  <ngx-material-timepicker #picker2></ngx-material-timepicker>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="save()">Save</button>
</div>
