<div fxLayout="column"  class="components-container-gt-xs"  [ngClass.xs]="'components-container-xs'"  fxLayoutGap="20px">
    
    <mat-carousel
    timings="350ms ease-in"
    [autoplay]="true"
    interval="5000"
    color="accent"
    maxWidth="auto"
    proportion="25"
    slides="5"
    [loop]="true"
    [hideArrows]="false"
    [hideIndicators]="false"
    [useKeyboard]="true"
    [useMouseWheel]="false"
    orientation="ltr"
    >
    <mat-carousel-slide
        #matCarouselSlide
        *ngFor="let slide of slides; let i = index"
        [image]="slide.image"
        overlayColor="#00000040"
        [hideOverlay]="false"
    ></mat-carousel-slide>
    </mat-carousel>

	<div fxFlex class="table-component-holder mat-elevation-z4">
        <mat-toolbar>
            <span>
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
            </span>
            <!-- This fills the remaining space of the current row -->
            <span class="example-fill-remaining-space">
                Current Projects
            </span>
            
            <span>  
                <app-project-data-azure></app-project-data-azure>
                <app-update-planner></app-update-planner>   
                <button matTooltip="Add New Project"
                    mat-button class="mat-icon-button"
                    aria-label="add-project"
                    [routerLinkActive]="'active'"
                    [routerLink]="['/project-create']">
                    <mat-icon>add</mat-icon>
                </button>
            </span>
            <!-- <div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
                <div [fxFlex]="33.33">
                    <span fxFlexFill fxLayoutAlign="center center">
                        Projects
                    </span>
                </div>
                <div [fxFlex]="33.33">
                    <span fxFlexFill fxLayoutAlign="center center">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field>
                    </span>
                </div>
                <div [fxFlex]="33.33">
                    <span fxFlexFill fxLayoutAlign="center center">
                        <button matTooltip="Add New Project"
                            mat-button class="mat-icon-button"
                            aria-label="add-project"
                            [routerLinkActive]="'active'"
                            [routerLink]="['/project-details']">
                            <mat-icon>add</mat-icon>
                        </button>
                    </span>
                </div>
            </div> -->
        </mat-toolbar>
		<div class="table-container">
            <table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="desc" (matSortChange)="sortData($event)" class="mat-elevation-z8">

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="id">Proj No. </th>
                    <td mat-cell *matCellDef="let row">         
                        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/project',row.$key]"> {{row.id}}</a>
                    </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="name">Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                </ng-container>

                <!-- Sitestart Column -->
                <ng-container matColumnDef="siteStart">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="siteStart">Site Start </th>
                    <td mat-cell *matCellDef="let row" [style.color]="row.siteStart"> {{row.siteStart | date: "dd/M/yyyy"}} </td>
                </ng-container>

                <!-- Sitestart Column -->
                <ng-container matColumnDef="isRevit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="isRevit">Revit</th>
                    <td mat-cell *matCellDef="let row"><app-is-revit [projectKey]="row.$key"></app-is-revit></td>
                </ng-container>

                <ng-container matColumnDef="createdOn">
                    <th mat-header-cell *matHeaderCellDef>Created On </th>
                    <td mat-cell *matCellDef="let row"> {{row.createdOn | date: "dd/M/yyyy"}} </td>
                </ng-container>

                <ng-container matColumnDef="createdBy"> 
                    <th mat-header-cell *matHeaderCellDef>Created By </th>
                    <td mat-cell *matCellDef="let row"><app-user-from-ref [userRef]="row.createdBy"></app-user-from-ref></td>
                </ng-container>

                <ng-container matColumnDef="modifiedOn">
                    <th mat-header-cell *matHeaderCellDef>Last Modified </th>
                    <td mat-cell *matCellDef="let row">{{row.modifiedOn | date: "dd/M/yyyy"}}</td>
                </ng-container>

                <ng-container matColumnDef="modifiedBy">
                    <th mat-header-cell *matHeaderCellDef>Last Modified </th>
                    <td mat-cell *matCellDef="let row"><app-user-from-ref [userRef]="row.modifiedBy"></app-user-from-ref></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr> 
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>
        </div>
    </div>
</div>
